﻿
<script type="text/javascript">

    $(document).ready(function()
    {
        //Get the list of employee records in json format
        var tr;
        $.getJSON("/Transfers/GetAllDeposits", function (json)
        {
            $.each(json, function(i, MbrData)
            {
                var Mbrid = MbrData.Transid;
                tr = $('<tr/>');
                tr.append("<td class='Accountno'>" + MbrData.Accountno + "</td>");
                tr.append("<td class='WSurname'>" + MbrData.WSurname + "</td>");
                tr.append("<td class='WOtherNames'>" + MbrData.WOtherNames + "</td>");
                tr.append("<td class='WPhone'>" + MbrData.WPhone + "</td>");
                tr.append("<td class='Accountno1'>" + MbrData.Accountno1 + "</td>");
                tr.append("<td class='DSurname'>" + MbrData.DSurname + "</td>");
                tr.append("<td class='DOtherNames'>" + MbrData.DSurname + "</td>");
                tr.append("<td class='DPhone'>" + MbrData.DSurname + "</td>");
                tr.append("<td class='DAmount'>" + MbrData.DAmount + "</td>");
                tr.append("<td>" + "<a Onclick='return false;' class='DeleteCss' href=/Transfers/Delete/" + Mbrid + ">Delete</a>" + " | " + "<a class='EditCss' href=/Transfers/Edit/" + Mbrid + ">Edit</a>" + "</td>");
                $('#TblEmpDet').append(tr);
            });
        });
        //Delete the records
        $('#TblEmpDet').on('click', 'td a.DeleteCss', function()
        {
            var DeleteUrl = $(this).attr("href");
            if (confirm("Are you sure wants to delete ?."))
            {
                $.ajax(
                {
                    url: DeleteUrl,
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json",
                    error: function(err)
                    {
                        alert('Unable to delete record.');
                    },
                    success: function(response)
                    {
                        $('#DivEmpList').load("/Transfers/AddTransfers");
                    }
                });
            }
        });
    });
</script>
<table id="TblEmpDet" class="table  table-bordered table-hover">
    <thead>
        <tr>

            <th>
                Account No
            </th>
            <th>
                Depositer Surname
            </th>
            <th>
                Depositer  Other Names
            </th>

            <th>
                Depositer Phone No
            </th>
            <th>
               Reciepient Surname
            </th>
            <th>
                Reciepient  Other Names
            </th>

            <th>
                Reciepient Phone No
            </th>
            <th>
               Transfered Amount
            </th>
            

            <th>Manage    Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>