﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@model TestNAVBAR.Models.Safcontribution

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script type="text/javascript"></script>
<script>

    $(document).ready(function () {
        //firing function on button click to update records
        $("#btnUpdate").click(function () {
            //creating javascript array to pass it as json data
            var SafrikaMembers = {
                Userid: $("#hdnUserid").val(),
                Accountno: $("#Accountno").val(),
               // Membershipfee: $("#Membershipfee").val(),
              // sharecontibution: $("#sharecontibution").val(),
                Monthlycontribution: $("#Monthlycontribution").val(),
               // Totalshares: $("#Totalshares").val(),
                LoanLimit: $("#LoanLimit").val(),
                Months: $("#Months").val()

            };

            $.ajax({
                type: "POST",
                URL: "/SafconAdmin/Reject",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ MemberUpdateDet: SafrikaMembers }),
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    alert(response);
                    //redirect to the AddEmployee view after successfully updating records
                    window.location.href = "https://counterone.net/Tsalvonastrol/SafconAdmin/Contribution";

                }
            });
        });
    });
</script>


<div class="row">
    <div class="col-6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Userid, new { @id = "hdnUserid" })


        <div class="form-group">
            @Html.LabelFor(model => model.Accountno, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Accountno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Accountno, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Membershipfee, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Membershipfee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Membershipfee, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.sharecontibution, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.sharecontibution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sharecontibution, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Totalshares, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Totalshares, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Totalshares, "", new { @class = "text-danger" })
            </div>
        </div>*@
    </div>
    <div class="col-6">
        <div class="form-group">
            @Html.LabelFor(model => model.LoanLimit, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.LoanLimit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoanLimit, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Monthlycontribution, htmlAttributes: new { @class = "control-label col-md-7" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Monthlycontribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Monthlycontribution, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Months, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Months, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Months, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnUpdate" value="Reject" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>