﻿@{
                /**/

                Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px">Approve Pending FLOAT ACCOUNT</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>



<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to Approve Float Account Amount?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.RegisteredChurchofficerApproved;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info content-wrapper" style="width:100%;margin-left:100px;max-width: 1000px">
        <div class="row">
            <div class="col-6">
                <label>Name</label>
                <br />
                @Html.TextBox("Name", @ViewData["Name"], new { @readonly = "readonly" })
                <br />
                <label>Float Code</label>
                <br />
                @Html.TextBox("Code", @ViewData["Code"], new { @readonly = "readonly" })
                <br />
                <label>Date created</label>
                <br />
                @Html.TextBox("Datecreated", @ViewData["Datecreated"], new { @readonly = "readonly" })

            </div>
            <div class="col-6">
                <br />
                <label>Actionedby </label>
                <br />
                @Html.TextBox("modifiedby", @ViewData["modifiedby"], new { @readonly = "readonly" })
                <br />
                <label>approvedby</label>
                <br />
                @Html.TextBox("approvedby", @ViewData["approvedby"], new { @readonly = "readonly" })
                <br />
                <label>Amount Paid</label>
                <br />
                @Html.TextBox("Amount", @ViewData["Amount"], new { @readonly = "readonly" })
                <br />
                <legend></legend>
                <input name="Approve" type="submit" value="Approve" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
            </div>
        </div>
    </div>

}

