﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="text-center">Approve Pending Client</h4>
<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>



<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to approve Client?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.pendingmembers;
    TestNAVBAR.Models.ListDatabaseElements bps = new TestNAVBAR.Models.ListDatabaseElements();
    <div class="container" style="width:100%;margin-left:70px;border: 0px solid;max-width: 800px;">
        <div class="message-info content-wrapper">

            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <label>Client Name</label>
                        <br />
                        @Html.TextBox("Name", @ViewData["Name"], new { @readonly = "readonly" })


                        <label>Actioned by</label>
                        <br />
                        @Html.TextBox("Actionedby", @ViewData["Actionedby"], new { @readonly = "readonly" })
                        <br />
                        
                        <label>Date Created</label>
                        <br />
                        @Html.TextBox("Datecreated", @ViewData["Datecreated"], new { @readonly = "readonly" })


                    </div>

                    <div class="col-md-6">


                        <label>Deposit Amount</label>
                        <br />
                        @Html.TextBox("Depositamount", @ViewData["Depositamount"], new { @readonly = "readonly" })
                        <br />
                        <label>Current Amount</label>
                        <br />
                        @Html.TextBox("Amount", @ViewData["Amount"], new { @readonly = "readonly" })
                        <br />
                        <label>Balance</label>
                        <br />
                        @Html.TextBox("Balance", @ViewData["Balance"], new { @readonly = "readonly" })

                        <br />
                        <input name="Approve" type="submit" value="Approve" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                        <input name="Reject" type="submit" value="Reject" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                        
                        <br />


                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}