﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.SafrikaMembers

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script type="text/javascript"></script>
<script>

    $(document).ready(function () {
        //firing function on button click to update records
        $("#btnUpdate").click(function () {
            //creating javascript array to pass it as json data
            var SafrikaMembers = {
                Userid: $("#hdnUserid").val(),

                DateJoined: $("#DateJoined").val(),
                Phone: $("#Phone").val(),
                Idno: $("#Idno").val()


            };

            $.ajax({
                type: "POST",
                URL: "/Sacco/Createussdpin",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ MemberUpdateDet: SafrikaMembers }),
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    alert(response);
                    //redirect to the AddEmployee view after successfully updating records
                    window.location.href = "https://counterone.net/Tsalvonastrol/Sacco/ussd";

                }
            });
        });
    });
</script>
<div class="message-info content-wrapper" style="width:100%;margin-left:30px;margin-top:30px;padding-left:30px;padding-top:30px;max-width: 1000px">

    <div class="row">
        <div class="col-md-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Userid, new { @id = "hdnUserid" })






            <div class="form-group">
                @Html.LabelFor(model => model.DateJoined, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.DateJoined, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateJoined, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Idno, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Idno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Idno, "", new { @class = "text-danger" })
                </div>
            </div>






            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="btnUpdate" value="CREATE" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>
