﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.SafrikaMembers

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script type="text/javascript"></script>
<script>

    $(document).ready(function () {
        //firing function on button click to update records
        $("#btnUpdate").click(function () {
            //creating javascript array to pass it as json data
            var SafrikaMembers = {
                Userid: $("#hdnUserid").val(),
                Accountno: $("#Accountno").val(),
                Surname: $("#Surname").val(),
                OtherNames: $("#OtherNames").val(),
                Email: $("#Email").val(),
                DateJoined: $("#DateJoined").val(),
                Phone: $("#Phone").val(),
                Idno: $("#Idno").val(),
                Membershipfee: $("#Membershipfee").val(),
                sharecontibution: $("#sharecontibution").val(),
                Totalshares: $("#Totalshares").val(),
                LoanLimit: $("#LoanLimit").val(),
                Membership: $("#Membership").val(),
                mpesaref: $("#mpesaref").val(),
                actionedby: $("#actionedby").val(),
                automatic: $("#automatic").val(),
                Airautomatic: $("#Airautomatic").val(),
                AirTimeLimit: $("#AirTimeLimit").val()
                //useright: $("#useright").val(),
                //adminright: $("#adminright").val()

            };

            $.ajax({
                type: "POST",
                URL: "/Sacco/Editpending",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ MemberUpdateDet: SafrikaMembers }),
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    alert(response);
                    //redirect to the AddEmployee view after successfully updating records
                    window.location.href = "https://counterone.net/Tsalvonastrol/Sacco/pending";

                }
            });
        });
    });
</script>
<div class="message-info content-wrapper" style="width:100%;margin-left:30px;margin-top:30px;padding-left:30px;padding-top:30px;max-width: 1000px">

    <div class="row">
        <div class="col-md-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Userid, new { @id = "hdnUserid" })


            <div class="form-group">
                @Html.LabelFor(model => model.Accountno, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Accountno, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Accountno, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OtherNames, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.OtherNames, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OtherNames, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateJoined, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.DateJoined, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateJoined, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Idno, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Idno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Idno, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Membershipfee, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Membershipfee, new { disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Membershipfee, "", new { @class = "text-danger" })
                    </div>
                </div>*@


            @*<div class="form-group">
                    @Html.LabelFor(model => model.sharecontibution, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.sharecontibution, new { disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.sharecontibution, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Totalshares, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.Totalshares, new { disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Totalshares, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.LoanLimit, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.LoanLimit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoanLimit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.hrcomment, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextAreaFor(model => model.hrcomment, new { style = "width:300px; height:200px;", htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoanLimit, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="form-group">
                @Html.LabelFor(model => model.AirTimeLimit, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.AirTimeLimit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AirTimeLimit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Membership, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Membership, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Membership, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.mpesaref, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.mpesaref, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mpesaref, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.actionedby, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.actionedby, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.actionedby, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ocuppation, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.ocuppation, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ocuppation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextAreaFor(model => model.description, new { style = "width:300px; height:100px;", htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.location, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.location, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.coordinates, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.coordinates, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.coordinates, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.photo, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.photo, new { disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.photo, "", new { @class = "text-danger" })
                    </div>
                </div>*@


            @*<div class="display-label">
                    @Html.DisplayNameFor(model => model.photo)
                </div>
                <div class="display-field">

                    <img src="@Url.Content(@Model.photo) " style="width:250px;height:250px" />
                </div>*@
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.date, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.employer, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.employer, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.employer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.company, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.company, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.company, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.employmentyear, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.employmentyear, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.employmentyear, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.salary, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.salary, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.salary, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.hr, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.TextAreaFor(model => model.hr, new { style = "width:300px; height:100px;", disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.hr, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.automatic, htmlAttributes: new { @class = "control-label col-md-5" })

                <div class="col-md-7">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.automatic, new { @checked = true })

                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Airautomatic, htmlAttributes: new { @class = "control-label col-md-5" })

                <div class="col-md-7">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Airautomatic, new { @checked = true })

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="btnUpdate" value="Update" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>
