﻿@{
    /**/

    Layout = "~/Views/Shared/_LayoutD.cshtml";
    ViewBag.Title = "Loantodisburse";
    @model TestNAVBAR.Models.SafrikaMembers
}

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-1.12.4.intellisense.js"></script>
<script type="text/javascript"></script>
<script>

    $(document).ready(function () {
        //firing function on button click
        $("#btnsave").click(function () {
            //Creating Javascript array to post it as json data
            var SafrikaMembers = {
                // Userid: $("#hdnUserid").val(),
                Accountno: $("#Accountno").val(),
                Phone: $("#Phone").val(),
                Idno: $("#Idno").val(),
                Amount: $("#Amount").val()
                //Surname: $("#Surname").val(),
                //OtherNames: $("#OtherNames").val(),
                //Email: $("#Email").val(),
                //ateJoined: $("#DateJoined").val(),

                //Membershipfee: $("#Membershipfee").val(),
                // sharecontibution: $("#sharecontibution").val(),
                // Totalshares: $("#Totalshares").val(),
                //LoanLimit: $("#LoanLimit").val(),
                //Membership: $("#Membership").val(),
                //automatic: $("#automatic").val()

            };
            $.ajax({
                type: "POST",
                URL: "/Sacco/Loantodisburse",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ MbrDet: SafrikaMembers }),
                error: function (response) {
                    alert(response.responseText);

                },
                //After successfully inserting records
                success: function (response) {

                    //Reload Partial view to fetch latest added records
                    $('#DivEmpList').load("https://counterone.net/SalvonTest/Sacco/LoanDetails");
                    alert(response);

                }
            });

        });


    });
</script>
<div class="message-info content-wrapper" style="width:100%;margin-left:30px;margin-top:30px;padding-left:30px;padding-top:30px;max-width: 1000px">
    <h2 class="text-center">Loan To Disburse</h2>
    <div class="row">
        <div class="col-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Accountno, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Accountno, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Accountno, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Idno, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Idno, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Idno, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" id="divSave">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="SaveData" id="btnsave" value="ADD" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>

</div>
<div class="form-group" id="DivEmpList">
    <div class="col-md-12">
        @Html.Partial("LoanDetails")
    </div>
</div>
