﻿
@model TestNAVBAR.Models.SafrikaMembers

<script type="text/javascript">

    $(document).ready(function()
    {
        //Get the list of employee records in json format
        var tr;
        $.getJSON("https://counterone.net/SalvonTest/Sacco/Getloans", function (json)
        {
            $.each(json, function(i, MbrData)
            {
                var Mbrid = MbrData.Userid;
                tr = $('<tr/>');
                tr.append("<td class='Accountno'>" + MbrData.Accountno + "</td>");
                tr.append("<td class=idno''>" + MbrData.Idno + "</td>");
                tr.append("<td class='phone'>" + MbrData.Phone + "</td>");
                tr.append("<td class='Amount'>" + MbrData.Amount + "</td>");
                tr.append("<td>" + "<a Onclick='return false;' class='DeleteCss' href=/Sacco/Delete/" + Mbrid + "></a>" + " | " + "<a class='EditCss' href=http://localhost:41624/Sacco/Edit/" + Mbrid + ">Edit</a>" + "</td>");
                $('#TblEmpDet').append(tr);
            });
        });
        //Delete the records
        $('#TblEmpDet').on('click', 'td a.DeleteCss', function()
        {
            var DeleteUrl = $(this).attr("href");
            if (confirm("Are you sure wants to delete ?."))
            {
                $.ajax(
                {
                    url: DeleteUrl,
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json",
                    error: function(err)
                    {
                        alert('Unable to delete record.');
                    },
                    success: function(response)
                    {
                        $('#DivEmpList').load("https://counterone.net/SalvonTest/Sacco/MemberDetails");
                    }
                });
            }
        });
    });
</script>
<h3 class="text-center">Members' Details</h3>
<table id="TblEmpDet" class="table  table-bordered table-hover">
    <thead>
        <tr>

            <th>
                Account No
            </th>
            <th>
                Idno
            </th>
            <th>
                Phone
            </th>

            
            <th>
                Amount
            </th>
           
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>  