﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<head>
    @*<script src="~/Scripts/jquery-2.1.4.js"></script>*@
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script>

$(document).ready(function () {
$.ajax({
    url: "Sacco/Saccoloans",
datatype: "JSON",
type: "Get",
success: function (data) {
debugger;
for(var i=0;i
        <data.length;i++)
{
var opt = new Option(data[i].name);
$("#op1").append(opt);
}
}
});
});

    </script>
</head>
<body>
    <div>
        <label>Select Bank :</label>
    </div>
    <div>
        <select class="form-control" id="op1">
            <option selected="selected">Select</option>
        </select>
    </div>
</body>  