﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px">Modify Member: @ViewData["id"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-3.3.1.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script language="javascript" type="text/javascript">

$(document).ready(function() {
    $('#MyTable').DataTable({
        "aLengthMenu": [[100, 400, , 800, 1000, -1], [100, 400, 800, 1000, "ALL"]],
            "dom": 'Bfrtip',
            "buttons": [
             {
                 "extend": 'copyHtml5', footer: true,
                 "messageTop": 'Unpaid.'
             },
             {
                 "extend": 'excelHtml5', footer: true,
                 "messageTop": 'Unpaid.'
             },
             {
                 "extend": 'csvHtml5', footer: true,
                 "messageTop": 'Unpaid.'
             },
             {
                 "extend": 'pdfHtml5', footer: true,
                 "messageTop": 'Unpaid.'
             },
             {
                 "extend": 'print',
                 "messageTop": 'Unpaid.'

             }



            ],
            "iDisplayLength": 800,
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                //var apis = this.apis(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                        i : 0;
                };
                
                total = api
                    .column( 4 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                pageTotals = api
                    .column(1, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over this page
                pageTotal = api
                    .column( 2, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $(api.column(1).footer()).html(
                   'Ksh: ' + pageTotals
               );
                // Update footer
                $( api.column( 2 ).footer() ).html(
                    'Ksh: ' +pageTotal
                );

            }

    } );
} );
</script>


<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to approve the member?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.getmpesa(Session["idno"].ToString());
    var results = bp.getcredits(Session["idno"].ToString());
    var res = results.Split('|');
    Session["Debits"] = res[0];
    Session["Credits"] = res[1];
    Session["Averages"] = res[2];
    List<string> errors = (List<string>)ViewData["ModelErrors"];

    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info" style="width:100%;margin-left:100px;max-width: 1000px">


        <div class="row">
            <div class="col-6">


                <label>First Name</label>
                <br />
                @Html.TextBox("Firstname", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <label>Last Name</label>
                <br />
                @Html.TextBox("Lastname", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />

                <label>Idno</label>
                <br />
                @Html.TextBox("idno", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <label>Mobile No</label>
                <br />
                @Html.TextBox("mobileno", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <p>

                    <label>Enable Auto Disbursement</label>

                    @Html.CheckBox("automatic", true, new { @onchange = "ChangeCallback(this.value);" })
                </p>
                <input name="Approve" type="submit" value="Modify" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
            </div>
            <div class="col-6">

                <label>Debit Amount</label>
                <br />
                @Html.TextBox("l", Session["Debits"], new { @readonly = "readonly" })
                <br />
                <label>Credit Amount</label>
                <br />
                @Html.TextBox("l", Session["Credits"], new { @readonly = "readonly" })
                <br />
                <label>Average</label>
                <br />
                @Html.TextBox("l", Session["Averages"], new { @readonly = "readonly" })
                <br />
                
                <label>Loan Limit</label>
                <br />
                @Html.TextBox("Loanlimit")
                <br />
                <label>Airtime Limit</label>
                <br />
                @Html.TextBox("Airtimelimit")
               
               




               


            </div>
        </div>





    </div>

   
    if (listusers != null && listusers.Count > 0)
    {
        <div style="width:100%;margin-left:250px;margin-right:20px;margin-top: 20px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Debit Amount
                        </th>
                        <th>
                            Credit Amount
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            
                            <td>@item["Name"]</td>
                            <td>@item["Debit"]</td>
                            <td>@item["Credit"]</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>

                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        


                    </tr>

                </tfoot>
            </table>

        </div>
    }
    else
    {
        <div style="width:100%;margin-left:250px;margin-right:20px;margin-top: 20px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Debit Amount
                        </th>
                        <th>
                            Credit Amount
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>

                            <td>@item["Name"]</td>
                            <td>@item["Debit"]</td>
                            <td>@item["Credit"]</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
}

