﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px">Modify users Float Member</h4>

<script language="javascript" type="text/javascript">

    var t;
    window.onload = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
        //alert(" You are now logged out.")
        location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


    }
    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 7200000) //logs out in 1hr min
    }

</script>



<script language="javascript" type="text/javascript">
    function Postsubmit() {
        var result = confirm("Are you sure you want to modify the member?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.pendingmembers;
    //var results = bp.getids(Session["phone"].ToString());
    //var res = results.Split('|');
    //Session["idfront"] = res[0];
    //Session["idback"] = res[1];
    //Session["photo"] = res[2];

    //var idfront = bp.getidfront(Session["phone"].ToString());
    //var idback = bp.getidback(Session["phone"].ToString());
    //var profile = bp.getprofile(Session["phone"].ToString());
    //Session["idfront"] = idfront;
    //Session["idback"] = idback;
    //Session["photo"] = profile;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>
            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info" style="width:100%;margin-left:100px;max-width: 1000px">
        <div class="row">
            <div class="col-md-4">

                <label>ID Front Page</label><br />
                <img src="@Url.Content(@ViewData["idfront"].ToString())" alt="Front ID" style="width:100px;height:100px" />

            </div>
            <div class="col-md-4">

                <label>ID Back Page</label><br />
                <img src="@Url.Content(@ViewData["idback"].ToString())" alt="Front ID" style="width:100px;height:100px" />

            </div>
            <div class="col-md-4">
                <label>Profile Picture</label><br />
                <img src="@Url.Content(@ViewData["photo"].ToString())" alt="Front ID" style="width:100px;height:100px" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Portal ADMIN Comments*</label>
                <br />
                @Html.TextBox("hrcomment")
                <br />
                <label>Occupation</label>
                <br />
                @Html.TextBox("occupation", @ViewData["occupation"], new { @readonly = "readonly" })
                <br />
                <label>description</label>
                <br />
                @Html.TextBox("description", @ViewData["description"], new { @readonly = "readonly" })
                <br />
                <label>location</label>
                <br />
                @Html.TextBox("location", @ViewData["location"], new { @readonly = "readonly" })
                <br />
                <label>coordinates</label>
                <br />
                @Html.TextBox("coordinates", @ViewData["coordinates"], new { @readonly = "readonly" })
                <br />
                <label>salary</label>
                <br />
                @Html.TextBox("salary", @ViewData["salary"], new { @readonly = "readonly" })
                <br />

                <label>company</label>
                <br />
                @Html.TextBox("company", @ViewData["company"], new { @readonly = "readonly" })
                <br />
                <label>date Invited</label>
                <br />
                @Html.TextBox("date", @ViewData["date"], new { @readonly = "readonly" })
                <br />
                <label>HR Username</label>
                <br />
                @Html.TextBox("username", @ViewData["username"], new { @readonly = "readonly" })
                <br />

            </div>
            <div class="col-6">
                <label>First Name</label>
                <br />
                @Html.TextBox("Firstname", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <label>Last Name</label>
                <br />
                @Html.TextBox("Lastname", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <label>Idno</label>
                <br />
                @Html.TextBox("idno", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <label>Mobile No</label>

                <br />
                @Html.TextBox("mobileno", @ViewData["mobileno"], new { @readonly = "readonly" })
                <br />
                <label>Email</label>
                <br />
                <br />
                @Html.TextBox("email", @ViewData["email"], new { @readonly = "readonly" })
                <br />
                <label>employer</label>
                <br />
                <br />
                @Html.TextBox("employer", @ViewData["employer"], new { @readonly = "readonly" })
                <br />
                <label>employmentyear</label>
                <br />
                <br />
                @Html.TextBox("employmentyear", @ViewData["employmentyear"], new { @readonly = "readonly" })
                <br />
                <label>grosspay</label>
                <br />
                <br />
                @Html.TextBox("grosspay", @ViewData["grosspay"], new { @readonly = "readonly" })
                <br />
                <label>netpay</label>
                <br />
                @Html.TextBox("netpay", @ViewData["netpay"], new { @readonly = "readonly" })
                <br />
                <label>Loan Limit</label>
                <br />
                @Html.TextBox("Loanlimit", @ViewData["netpay"], new { @readonly = "readonly" })
                <br />
                <label>Airtime Limit</label>
                <br />
                @Html.TextBox("Airtimelimit", @ViewData["netpay"], new { @readonly = "readonly" })
                <br />
                <p>
                    <label>Enable Auto Disbursement</label>
                    @Html.CheckBox("automatic", true, new { @onchange = "ChangeCallback(this.value);" })
                </p>
                <br />
                <input name="Approve" type="submit" value="Modify" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                @*<input name="Reject" type="submit" value="Reject" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />*@


            </div>
        </div>
    </div>
}