﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px">Reject Float Admin</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>



<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to reject Float Admin?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.RegisteredChurchofficerApproved;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info content-wrapper" style="width:100%;margin-left:100px;max-width: 1000px">


        <div class="row">
            <div class="col-6">



                <label>User Name</label>
                <br />
                @Html.TextBox("username", @ViewData["username"])
                <br />
                <label>First Name</label>
                <br />
                @Html.TextBox("Firstname", @ViewData["Firstname"])
                <br />
                <label>Last Name</label>
                <br />
                @Html.TextBox("Lastname", @ViewData["Lastname"])
                <br />
                <label>Email </label>
                <br />
                @Html.TextBox("Email", @ViewData["Email"])
                <br />
                <label>Phone number</label>
                <br />
                @Html.TextBox("phonenumber1", @ViewData["phonenumber1"])
                <br />
                <label>Phone number 2</label>
                <br />
                @Html.TextBox("phonenumber2", @ViewData["phonenumber2"])
                <br />

            </div>
            <div class="col-6">


                <label>ID NO</label>
                <br />
                @Html.TextBox("idno", @ViewData["idno"])
                <br />
                <label>Role</label>
                <br />
                @Html.TextBox("occupation", @ViewData["occupation"])
                <br />
                <label>Town</label>
                <br />
                @Html.TextBox("Town", @ViewData["Town"])
                <br />
                <label>Country</label>
                <br />
                @Html.TextBox("Country", @ViewData["Country"])
                <br />
                <label>Employer</label>
                <br />
                <legend></legend>
                <input name="Approve" type="submit" value="Approve" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />


            </div>
        </div>





    </div>


}

