﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px">Modify users : @ViewData["id"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>



<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to Reject pending member?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.pendingmembers;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info" style="width:100%;margin-left:100px;max-width: 1000px">
        <div class="row">
            <div class="col-6">
                <label>First Name</label>
                <br />
                @Html.TextBox("Firstname", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <label>Last Name</label>
                <br />
                @Html.TextBox("Lastname", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <label>Mobile No</label>
                <br />
                @Html.TextBox("mobileno", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <label>Idno</label>
                <br />
                @Html.TextBox("idno", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <p>
                    <label>Enable Auto Disbursement</label>
                    @Html.CheckBox("automatic", true, new { @onchange = "ChangeCallback(this.value);" })
                </p>

            </div>
            <div class="col-6">

                <label>Loan Type</label>
                <br />
                @Html.DropDownList("Loantype", bp.LoanCodesList, new { @class = "form-selector", @onchange = "ChangeCallback(this.value);" })
                <br />
                <label>Loan Limit</label>
                <br />
                @Html.TextBox("Loanlimit")
                <br />
                <label>Airtime Limit</label>
                <br />
                @Html.TextBox("Airtimelimit")
                <br />
                @*<input name="Approve" type="submit" value="Modify" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />*@
                <input name="Reject" type="submit" value="Reject" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />


            </div>
        </div>





    </div>


}

