﻿

View Page Code
@{
    ViewBag.Title = "Index";
}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<h2>Ajax Table Columns Search</h2>
<table id="tblPopulation">
    <thead>
        <tr>
            <td>Accountno</td>
            <td>Surname</td>
            <td>OtherNames</td>
            <td>Email</td>
            <td>DateJoined</td>
            <td>Phone</td>
            <td>Idno</td>
            @*<td>Membershipfee</td>
           // <td>sharecontibution</td>
          //  <td>Totalshares</td>*@
            <td>LoanLimit</td>
            <td>Manage</td>
        </tr>
        <tr>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
    </thead>

</table>
@section Scripts {
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script>

    $(document).ready(function () {
        $.ajax({

            url: '/Sacco/SearchMembers',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (data) {
                var tr;
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    tr = tr + "<tr>";
                    tr = tr + "<td>" + data[i].Accountno + "</td>";
                    tr = tr + "<td>" + data[i].Surname + "</td>";
                    tr = tr + "<td>" + data[i].OtherNames + "</td>";
                    tr = tr + "<td>" + data[i].Email + "</td>";
                    tr = tr + "<td>" + data[i].DateJoined + "</td>";
                    tr = tr + "<td>" + data[i].Phone + "</td>";
                    tr = tr + "<td>" + data[i].Idno + "</td>";
                    tr = tr + "<td>" + data[i].Membershipfee + "</td>";
                    tr = tr + "<td>" + data[i].sharecontibution + "</td>";
                    tr = tr + "<td>" + data[i].Totalshares + "</td>";
                    tr = tr + "<td>" + data[i].CountryName + "</td>";
                    tr = tr + "<td>" + data[i].population + "</td>";
                    tr = tr + "</tr>";
                }
                $('#tblPopulation').append(tr);
                tblFormate();
            },
            error: function (xhr) {
                alert('No Valid Data');
            }
        });

        function tblFormate() {

            var table = $('#tblPopulation').DataTable(
             {
                 //"searching": false,
                 "lengthMenu": [[5, 10, 50, 100, 150, -1], [5, 10, 50, 100, 150, "All"]]
             });
            //Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', table.column(colIdx).header()).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }

    });
</script>

}  