﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>



<table id="tblPopulation" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <td>Account No</td>
            <td>Surname</td>
            <td>OtherNames</td>
            @*<td>Email</td>*@
            @*<td>DateJoined</td>*@
            <td>Phone</td>
            @*<td>Idno</td>*@
            @*<td>Membershipfee</td>*@
            <td>Totalshares</td>
            <td>sharecontibution</td>
            <td>Loan Limit</td>
            @*<td>Auto Disburse</td>*@
            <td>AirTime Limit</td>
            @*<td>AirAuto Disburse</td>*@
            <td>Actions</td>

        </tr>

    </thead>

</table>
<div id='loadingmessage' style='display:none'>

    <img src="~/Content/images/ajax-loader.gif" />
</div>
@section Scripts {
    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>

    $(document).ready(function () {
        $('#loadingmessage').show();
        $.ajax({

            url: 'https://counterone.net/SalvonTest/Sacco/TpMembers',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: {},

            success: function (data) {
                //var Mbrid = data.Userid;
                var tr;
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    tr = tr + "<tr>";
                    tr = tr + "<td>" + data[i].Accountno + "</td>";
                    tr = tr + "<td>" + data[i].Surname + "</td>";
                    tr = tr + "<td>" + data[i].OtherNames + "</td>";
                    //tr = tr + "<td>" + data[i].Email + "</td>";
                    //tr = tr + "<td>" + data[i].DateJoined + "</td>";
                    tr = tr + "<td>" + data[i].Phone + "</td>";
                    //tr = tr + "<td>" + data[i].Idno + "</td>";
                    //tr = tr + "<td>" + data[i].Membershipfee + "</td>";
                    tr = tr + "<td>" + data[i].Totalshares + "</td>";
                    tr = tr + "<td>" + data[i].sharecontibution + "</td>";
                    tr = tr + "<td>" + data[i].LoanLimit + "</td>";
                    //tr = tr + "<td>" + data[i].automatic + "</td>";
                    tr = tr + "<td>" + data[i].AirTimeLimit + "</td>";
                    //tr = tr + "<td>" + data[i].Airautomatic + "</td>";
                    //tr = tr + "<td>" + "<a class='EditCss' href=https://counterone.net/salvontest/Sacco/Edit/" + data[i].Userid + ">Edit</a>" + "</td>";
                    tr = tr + "</tr>";
                }
                $('#tblPopulation').append(tr);
                tblFormate();
                $('#loadingmessage').hide();
            },
            error: function (xhr) {
                alert('No Valid Data');
            }
        });

        function tblFormate() {
            responsive: true
            var table = $('#tblPopulation').DataTable(
             {

                 //"searching": false,
                 "lengthMenu": [[50, 10, 50, 100, 150, -1], [50, 10, 50, 100, 150, "All"]]
             });
            //Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', table.column(colIdx).header()).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }

    });
    </script>

}  