﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:10px">AIR AUTO RIGHTS: @ViewData["recordid"]</h4>

<script language="javascript" type="text/javascript">

	  var t;
	  window.onload = resetTimer;
	  document.onkeypress = resetTimer;

	  function logout() {
	  	  //alert(" You are now logged out.")
	  	  location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


	  }
	  function resetTimer() {
	  	  clearTimeout(t);
	  	  t = setTimeout(logout, 7200000) //logs out in 1hr min
	  }

</script>
<script language="javascript" type="text/javascript">
	  function Postsubmit() {
	  	  var result = confirm("Are you sure you want to assign rights to the Member? ");
	  	  if (result) {
	  	  	  return true;
	  	  } else {
	  	  	  return false;
	  	  }
	  }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @*TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
        var results = bp.getuserights(Session["rightsusername"].ToString());
        var res = results.Split('|');
        Session["userlevel"] = res[0];
        Session["clientregister"] = res[1];
        Session["parameters"] = res[2];
        Session["accounts"] = res[3];
        Session["Approvals"] = res[4];
        Session["Editapprovals"] = res[5];*@



    <div class="message-info content-wrapper">
        <fieldset>
            <legend>AIRTIME AUTO DISBURSE RIGHTS</legend>

            <p>

                <label>Accountno</label>
                @Html.TextBox("accountno", @ViewData["mobile2"])
            </p>
            <p>
                <br><br/>
                <label>Enable/DISABLE Auto Disbursement</label>

                @Html.CheckBox("automatic", true, new { @onchange = "ChangeCallback(this.value);" })
            </p>
            @*<p>
                    <br></br>
                    <label>Disable Auto Disbursement</label>
                    @Html.CheckBox("automatics", false, new { @onchange = "ChangeCallback(this.value);" })

                </p>*@


            <p>
                <br><br/>
                <input name="Approve" type="submit" value="Assign Airtime Auto Rights" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
            </p>
        </fieldset>
    </div>


}

