﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


<div class="message-info content-wrapper" style="width:100%;margin-left:30px;margin-top:30px;padding-left:30px;padding-top:30px;max-width: 1000px">

    <table id="tblPopulation" class="table  table-bordered table-hover">
        <thead>
            <tr>


                <td>Phone</td>
                <td>Idno</td>
                <td>Surname</td>
                <td>Othernames</td>
                <td>DateJoined</td>
                <td>Actions</td>

            </tr>

        </thead>

    </table>
    <div id='loadingmessage' style='display:none'>

        <img src="~/Content/images/ajax-loader.gif" />
    </div>
    @section Scripts {
        <script src="//code.jquery.com/jquery-1.12.3.js"></script>
        <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script>

            $(document).ready(function () {
                $('#loadingmessage').show();
                $.ajax({

                    url: 'https://counterone.net/Tsalvonastrol/Sacco/Getussdpin',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: {},

                    success: function (data) {
                        //var Mbrid = data.Userid;
                        var tr;
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            tr = tr + "<tr>";
                            tr = tr + "<td>" + data[i].Phone + "</td>";
                            tr = tr + "<td>" + data[i].Idno + "</td>";
                            tr = tr + "<td>" + data[i].Surname + "</td>";
                            tr = tr + "<td>" + data[i].OtherNames + "</td>";
                            tr = tr + "<td>" + data[i].DateJoined + "</td>";
                            tr = tr + "<td>" + "<a class='EditCss' href=https://counterone.net/Tsalvonastrol/Sacco/Createussdpin/" + data[i].Userid + ">Edit</a>" + "<a class='EditCss' href=https://counterone.net/Tsalvonastrol/Sacco/deleteussdpin/" + data[i].Userid + ">Reject</a>" + "</td>";
                           // tr = tr + "<td>" + "<a class='EditCss' href=http://localhost:41624/Sacco/Createussdpin/" + data[i].Userid + ">Create</a>" + "</td>";
                            tr = tr + "</tr>";
                        }
                        $('#tblPopulation').append(tr);
                        tblFormate();
                        $('#loadingmessage').hide();
                    },
                    error: function (xhr) {
                        alert('No Valid Data');
                    }
                });

                function tblFormate() {
                    responsive: true
                    var table = $('#tblPopulation').DataTable(
                     {

                         //"searching": false,
                         "lengthMenu": [[50, 10, 50, 100, 150, -1], [50, 10, 50, 100, 150, "All"]]
                     });
                    //Apply the search
                    table.columns().eq(0).each(function (colIdx) {
                        $('input', table.column(colIdx).header()).on('keyup change', function () {
                            table
                                .column(colIdx)
                                .search(this.value)
                                .draw();
                        });
                    });
                }

            });
        </script>

    }
</div>