﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px">Modify users Loantypes: @ViewData["id"]</h4>

<script language="javascript" type="text/javascript">

    var t;
    window.onload = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
        //alert(" You are now logged out.")
        location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


    }
    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 7200000) //logs out in 1hr min
    }

</script>



<script language="javascript" type="text/javascript">
    function Postsubmit() {
        var result = confirm("Are you sure you want to modify the member?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.pendingmembers;
  
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>
            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info" style="width:100%;margin-left:100px;max-width: 1000px">
       
        <div class="row">

            
            <div class="col-6">
                <label>First Name</label>
                <br />
                @Html.TextBox("firstname", @ViewData["firstname"], new { @readonly = "readonly" })
                <br />
                <label>Last Name</label>
                <br />
                @Html.TextBox("lastname", @ViewData["lastname"], new { @readonly = "readonly" })
                <br />
                <label>Idno</label>
                <br />
                @Html.TextBox("idno", @ViewData["idno"], new { @readonly = "readonly" })
                <br />
                <label>Mobile No</label>
                <br />
                @Html.TextBox("phone", @ViewData["phone"], new { @readonly = "readonly" })
                <br />
                <label>email</label>
                <br />
                @Html.TextBox("email", @ViewData["email"], new { @readonly = "readonly" })
                <br />
                <label>date</label>
                <br />
                @Html.TextBox("date", @ViewData["date"], new { @readonly = "readonly" })
                <br />
                <label>status</label>
                <br />
                @Html.TextBox("status", @ViewData["status"], new { @readonly = "readonly" })
                <br />
                <label>employer</label>
                <br />
                @Html.TextBox("employer", @ViewData["employer"], new { @readonly = "readonly" })
                <br />
                <label>grosspay</label>
                <br />
                @Html.TextBox("grosspay", @ViewData["grosspay"], new { @readonly = "readonly" })
                <br />
                <label>gender</label>
                <br />
                @Html.TextBox("gender", @ViewData["gender"], new { @readonly = "readonly" })
                <br />
                <label>Loan Limit</label>
                <br />
                @Html.TextBox("loanlimit", @ViewData["loanlimit"], new { @readonly = "readonly" })
                <br />
            </div>
            <div class="col-6">
                <label>hr</label>
                <br />
                @Html.TextBox("hr", @ViewData["hr"], new { @readonly = "readonly" })
                <br />
                <label>hrcomment</label>
                <br />
                @Html.TextBox("hrcomment", @ViewData["hrcomment"], new { @readonly = "readonly" })
                <br />
                <label>netpay</label>
                <br />
                @Html.TextBox("netpay", @ViewData["netpay"], new { @readonly = "readonly" })
                <br />
                <label>employment year</label>
                <br />
                @Html.TextBox("employmentyear", @ViewData["employmentyear"], new { @readonly = "readonly" })
                <br />
                <label>coordinates</label>
                <br />
                @Html.TextBox("coordinates", @ViewData["coordinates"], new { @readonly = "readonly" })
                <br />
                <label>occupation</label>
                <br />
                @Html.TextBox("occupation", @ViewData["occupation"], new { @readonly = "readonly" })
                <br />
                <label>description</label>
                <br />
                @Html.TextBox("description", @ViewData["description"], new { @readonly = "readonly" })
                <br />

                <label>location</label>
                <br />
                @Html.TextBox("location", @ViewData["location"], new { @readonly = "readonly" })
                <br />
                <label>salary</label>
                <br />
                @Html.TextBox("salary", @ViewData["salary"], new { @readonly = "readonly" })
                <br />
                <label>hrcomment</label>
                <br />
                @Html.TextBox("hrcomment", @ViewData["hrcomment"], new { @readonly = "readonly" })
                <br />
                <label>company</label>
                <br />
                @Html.TextBox("company", @ViewData["company"], new { @readonly = "readonly" })
                <br />
            </div>

        </div>
    </div>
}