﻿<h2 class="text-center">Upload Mpesa Statements</h2>
<hr />
@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.SafrikaMembers
<script language="javascript" type="text/javascript">

    var t;
    window.onload = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
        //alert(" You are now logged out.")
        location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


    }
    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 7200000) //logs out in 1hr min
    }

</script>
<script language="javascript" type="text/javascript">
    function Postsubmit() {
        var result = confirm("Are you sure you want to Register the Tenant?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
@using (Html.BeginForm("Uploadpdf", "Pdf", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    //List<Dictionary<string, object>> listusers = bp.Tenants;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>
            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info" style="width:100%;margin-left:30px;max-width: 1000px">
        <div class="row">
            <div class="col-md-6">
                
                <label>Idno</label>
                <br />
                @Html.TextBox("idno")
                <br />
               

               



            </div>
            <div class="col-md-6">
               
                <label>Upload Pdf file</label>
              
                <br />
                <div>
                    @Html.TextBoxFor(m => m.file, new { type = "file", name = "Files" })
                </div>
               
                


                <hr />
                <input name="Approve" type="submit" value="Upload" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />

            </div>
        </div>
    </div>
}

