﻿
@model TestNAVBAR.Models.LocalPasswordModel

<h3>This is the first time you are logging in to tttnnnnnthey system with the new credentials.Kindly change your password to proceed</h3>

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top:50px">
            <div class="message-info ">

                <h5 class="text-center">Create User</h5>
                <div class="input-group mb-3 ">
                    <label>User Name</label>
                    @Html.TextBox("username", new { @style = "width:300px;border-radius: 15px;border: 1px solid blue; ", @class = "input", type = "input" })
                </div>

                <div class="input-group mb-3">
                    <label>Current Password</label>
                    @Html.TextBox("password", new { @style = "height:33px;width:300px;border-radius: 15px;border: 1px solid blue; ", @class = "input", type = "Password" })

                </div>
                <div class="input-group mb-3">
                    <label>New Password</label>
                    @Html.TextBox("newpassword", new { @style = "height:33px;width:300px;border-radius: 15px;border: 1px solid blue; ", @class = "input", type = "Password" })

                </div>
                <div class="input-group mb-3">
                    <label>Confirm New Password</label>
                    @Html.TextBox("confirmnewpassword", new { @style = "height:33px;width:300px;border-radius: 15px;border: 1px solid blue; ", @class = "input", type = "Password" })

                </div>
                <input style="margin-left:150px;border-radius: 15px;border: 1px solid blue;" name="Approve" id="AuthoriseButton" class="" type="submit" value="Create" onclick="javascript:return Postsubmit();" />



            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



