﻿
@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        @*        <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>

            for details on setting up this ASP.NET application to support logging in via external services.</p>*@
        <p style='padding-bottom: 5px;font-weight:bold;'><h3 style='color:blue'>&emsp;Name:&emsp;&emsp;Salvon Africa</h3></p>
        <p style='padding-bottom: 5px;'><h3 style='color:blue'>&emsp;Location:&emsp;Head Office</h3></p>
        <p style='padding-bottom: 5px'><h3 style='color:blue'>&emsp;Address:&emsp;BOX 5555-0111</h3></p>
        <p style='padding-bottom: 5px'><h3 style='color:blue'>&emsp;Country:&emsp;Nairobi Kenya </h3></p>

    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <fieldset id="socialLoginList">
            <legend>Log in using another service</legend>
            <p>
                @foreach (AuthenticationClientData p in Model)
                {
                    <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
                }
            </p>
        </fieldset>
    }
}
