﻿
@model TestNAVBAR.Models.LoginModel
@{
    ViewBag.Title = "ADMIN PORTAL LOGIN";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h3 class="text-center">@ViewBag.Title</h3>

<script language="javascript" type="text/javascript">
    function backButtonOverride() {
        setTimeout("backButtonOverrideBody()", 1);
    }

    function backButtonOverrideBody() {
        // Works if we backed up to get here
        //try
        //{
        //    window.history.forward(1);
        //}
        //catch (e)
        //{
        //    // OK to ignore
        //}
        // Every quarter-second, try again. The only
        // guaranteed method for Opera, Firefox,
        // and Safari, which don't always call
        // onLoad but *do* resume any timers when
        // returning to a page
        setTimeout("backButtonOverrideBody()", 1000);
    }

    if (window.addEventListener) // W3C standard
    {
        window.addEventListener('load', backButtonOverride, false); // NB **not** 'onload'
    }
    else if (window.attachEvent) // Microsoft
    {
        window.attachEvent('onload', backButtonOverride);
    }

</script>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top:50px;font-family:Lora, sans-serif">
            @using (Html.BeginForm())
            {
                FormCollection collection = (FormCollection)ViewData["collection"];

                List<string> errors = (List<string>)ViewData["ModelErrors"];
                ViewData["ModelErrors"] = null;

                if (errors != null)
                {
                    for (int i = 0; i < errors.Count; ++i)
                    {
                        var item = errors[i];
                        <div class="message-info " style="color:red;border:none;">
                            <ul>
                                <li>@Html.Encode(item)</li>
                            </ul>
                        </div>
                    }
                }

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <h5 class="text-center">Log in Form</h5>
                <div class="input-group mb-3 " style="font-family:Lora, sans-serif">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @style = "width:300px;border-radius: 15px;border: 1px solid blue; ", @class = "input", type = "input" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="input-group mb-3" style="font-family:Lora, sans-serif">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @style = "height:33px;width:300px;border-radius: 15px;border: 1px solid blue; ", @class = "input", type = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <input style="margin-left:150px;border-radius: 15px;border: 1px solid blue;" class="" type="submit" value="Login" onclick="javascript:return PostLogin();" />


            }
        </div>
        <div class="col-md-6">

            <div class="card" style="margin-right:10px;background-color: rgba(245, 245, 245, 1)">
                <div class="card-body">
                    <h4 style='color:blue;'>General Information</h4>
                    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
                    {
    @Scripts.Render("~/bundles/jqueryval")
}
@*//under pageload of logout.aspx
    if(request.Querystring["action"]!=null)
    {
      response.clear();
      Session.abondon();
     response.write("Success");
    response.End();
    }*@