﻿@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layoutz.cshtml";
}

@model TestNAVBAR.Models.CardRequestB

<h3 class="text-center">One Time Login Password</h3><br>
<script language="javascript" type="text/javascript">
    function backButtonOverride() {
        setTimeout("backButtonOverrideBody()", 1);
    }

    function backButtonOverrideBody() {
        // Works if we backed up to get here
        //try
        //{
        //    //window.history.forward();
        //}
        //catch (e)
        //{
        //    // OK to ignore
        //}
        // Every quarter-second, try again. The only
        // guaranteed method for Opera, Firefox,
        // and Safari, which don't always call
        // onLoad but *do* resume any timers when
        // returning to a page
        setTimeout("backButtonOverrideBody()", 1000);
    }

    if (window.addEventListener) // W3C standard
    {
        window.addEventListener('load', backButtonOverride, false); // NB **not** 'onload'
    }
    else if (window.attachEvent) // Microsoft
    {
        window.attachEvent('onload', backButtonOverride);
    }

</script>

<script language="javascript" type="text/javascript">

    var t;
    window.onload = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
        //alert(" You are now logged out.")
        location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


    }
    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 720000) //logs out in 1hr min
    }

</script>

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card" style="margin-right:10px;background-color: rgba(245, 245, 245, 1)">

                <div class="card-body">
                    <div class="message-info">
                        <h3 class="text-center">Provide the OTP sent to your email or Phone</h3>
                        <div class="card" style="font-family:Lora, sans-serif">
                            <h5> Enter OTP:</h5>
                            @Html.TextBox("otpassword", null, new { @style = "height:33px;width:300px;border-radius: 15px;border: 1px solid blue; ", @class = "input", type = "Text" })
                            <form-group>
                                <input style="margin-left:50px;border-radius: 15px;border: 1px solid blue;" type="submit" value="Proceed" />
                            </form-group>
                            <form-group>
                                <input style="margin-left:50px;border-radius: 15px;border: 1px solid blue;" type="submit" value="Resend OTP" />
                            </form-group>

                        </div>
                        @*<div class="input-group mb-3" style="font-family:Lora, sans-serif">
                            <label>OTP:</label>
                           
                        </div>*@

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
}