﻿
<h3 style="margin-left:300px;color:forestgreen">UPLOAD MPESA STATEMENT</h3>
@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.pdfclass


<script language="javascript" type="text/javascript">
function backButtonOverride()
{
    setTimeout("backButtonOverrideBody()", 1);
}

function backButtonOverrideBody()
{
    // Works if we backed up to get here
    try
    {
        window.history.forward(1);
    }
    catch (e)
    {
        // OK to ignore
    }
    // Every quarter-second, try again. The only
    // guaranteed method for Opera, Firefox,
    // and Safari, which don't always call
    // onLoad but *do* resume any timers when
    // returning to a page
    setTimeout("backButtonOverrideBody()", 1000);
}

if (window.addEventListener) // W3C standard
{
    window.addEventListener('load', backButtonOverride, false); // NB **not** 'onload'
}
else if (window.attachEvent) // Microsoft
{
    window.attachEvent('onload', backButtonOverride);
}

</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
{
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script>
            function ShowMessage() {
                var result = confirm("Do your want to submit form?");
                if (result) {
                    return true;
                } else {
                    return false;
                }
            }
</script>

<body>
    @using (Html.BeginForm("Index", "pdf", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {


        <div class="container" style="margin-left:150px;border: 1px solid;padding:50px;width:650px;">
            <div style="padding-left:100px;">
                <div>
                    <span>National/Alien/Passport ID No:</span>
                    <br />
                    <br />
                    @Html.TextBoxFor(Model => Model.id)
                    <br />
                    <br />
                </div>
                <div style="margin-left:0px">
                    <span>Select File:</span>
                    <br />
                    <br />

                   @Html.TextBoxFor(m => m.PostedFile, new { type = "file", style = "Text-align:Center" })
                    <br />
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.PostedFile, "", new { @class = "error", style = "Text-align:Center" })
                 
                </div>
            </div><hr />
            <div style="padding-left:100px;">
                <input type="submit" value="Upload" class="btn btn-default" />
                <br />
                <br />
                <span style="color:green">@Html.Raw(ViewBag.Message)</span>
            </div>
        </div>

    }
   </body>


