﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px">Create New Employer: @ViewData["recordid"]</h4>
<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to create the Employer?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{

    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info content-wrapper">
        <fieldset>
            <legend>Create Employer</legend>
            <p>

                <label>Company Name</label>
                @Html.TextBox("companyname", @ViewData["companyname"])
                <label></label>

            </p>
            <p>
                <br></br>
                <label>Website</label>
                @Html.TextBox("website", @ViewData["website"])
                <label></label>

            </p>
            <p>
                <br></br>
                <label>HRcontact</label>
                @Html.TextBox("HRcontact", @ViewData["HRcontact"])
                <label></label>

            </p>
            <p>
                <br></br>
                <label>HRemail</label>
                @Html.TextBox("HRemail", @ViewData["HRemail"])
                <label></label>
            </p>           
            <p>
                <br></br>
                <legend>Actions</legend>
                <input name="Approve" type="submit" value="Create" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
            </p>

        </fieldset>


    </div>



}

