﻿@model TestNAVBAR.Models.SafrikaMembersContributions


<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-1.12.4.intellisense.js"></script>
<script type="text/javascript"></script>
<script>

    $(document).ready(function () {
        //firing function on button click
        $("#btnsave").click(function () {
            //Creating Javascript array to post it as json data
            var SafrikaMembers = {
               // Userid: $("#hdnUserid").val(),
                Accountno: $("#Accountno").val(),
                Membershipfee: $("#Membershipfee").val(),
                Openingshares: $("#Openingshares").val(),
                sharecontibution: $("#sharecontibution").val(),
                Totalshares: $("#Totalshares").val(),
                LoanLimit: $("#LoanLimit").val(),
                Months: $("#Months").val()

            };
            $.ajax({
                type: "POST",
                URL: "/Sacco/AddMemberContributions",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ MbrDet: SafrikaMembers }),
                error: function (response) {
                    alert(response.responseText);

                },
                //After successfully inserting records
                success: function (response) {

                    //Reload Partial view to fetch latest added records
                    $('#DivEmpList').load("/Sacco/MemberContributions");
                    alert(response);

                }
            });

        });


    });
</script>
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Accountno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Accountno, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Accountno, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Membershipfee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Membershipfee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Membershipfee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Openingshares, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Openingshares, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Openingshares, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.sharecontibution, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sharecontibution, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sharecontibution, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Totalshares, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Totalshares, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Totalshares, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LoanLimit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LoanLimit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LoanLimit, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Monthlycontribution, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Monthlycontribution, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Monthlycontribution, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Months, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Months, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Months, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="divSave">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="SaveData" id="btnsave" value="Process" class="btn btn-success" />
        </div>
    </div>
    @*Calling partial view of employee list*@
    <div class="form-group" id="DivEmpList">
        <div class="col-md-12">
            @Html.Partial("_MemberContribution")
        </div>
    </div>
</div>