﻿<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">

    $(document).ready(function()
    {
        //Get the list of employee records in json format
        var tr;
        $.getJSON("/Safcon/GetContributions", function (json)
        {
            $.each(json, function(i, MbrData)
            {
                var Mbrid = MbrData.Userid;
                tr = $('<tr/>');
                tr.append("<td class='Accountno'>" + MbrData.Accountno + "</td>");
                //tr.append("<td class='Surname'>" + MbrData.Surname + "</td>");
                //tr.append("<td class='OtherNames'>" + MbrData.OtherNames + "</td>");
                //tr.append("<td class='Email'>" + MbrData.Email + "</td>");
                //tr.append("<td class='DateJoined'>" + MbrData.DateJoined + "</td>");
                //tr.append("<td class='Phone'>" + MbrData.Phone + "</td>");
                //tr.append("<td class='Idno'>" + MbrData.Idno + "</td>");
                tr.append("<td class='Membershipfee'>" + MbrData.Membershipfee + "</td>");

                tr.append("<td class='sharecontibution'>" + MbrData.sharecontibution + "</td>");
                tr.append("<td class='Totalshares'>" + MbrData.Totalshares + "</td>");
                tr.append("<td class='LoanLimit'>" + MbrData.LoanLimit + "</td>");
                tr.append("<td class='Monthlycontribution'>" + MbrData.Monthlycontribution + "</td>");
                tr.append("<td class='Months'>" + MbrData.Months + "</td>");

                tr.append("<td>" + "<a Onclick='return false;' class='DeleteCss' href=/Safcon/Delete/" + Mbrid + ">Delete</a>" + " | " + "<a class='EditCss' href=/Safcon/Edit/" + Mbrid + ">Edit</a>" + "</td>");
                $('#TblEmpDet').append(tr);
                tblFormate();
            });
        });
        //Delete the records
        $('#TblEmpDet').on('click', 'td a.DeleteCss', function()
        {
            var DeleteUrl = $(this).attr("href");
            if (confirm("Are you sure wants to delete ?."))
            {
                $.ajax(
                {
                    url: DeleteUrl,
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json",
                    error: function(err)
                    {
                        alert('Unable to delete record.');
                    },
                    success: function(response)
                    {
                        $('#DivEmpList').load("/Safcon/SContribution");
                    }
                });
            }
        });

        function tblFormate() {

            var table = $('#TblEmpDet').DataTable(
             {
                 //"searching": false,
                 "lengthMenu": [[5, 10, 50, 100, 150, -1], [5, 10, 50, 100, 150, "All"]]
             });
            //Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', table.column(colIdx).header()).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }
    });

</script>
<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<table id="TblEmpDet" class="table  table-bordered table-hover">
    <thead>
        <tr>

            <th>
                Account No
            </th>

            <th>
                Membership Fee
            </th>


            <th>
                Share Contribution
            </th>
            <th>
                Total Shares
            </th>
            <th>
                Loan Limit
            </th>

            <th>
                Monthly Contibutions
            </th>
            <th>
                Month
            </th>
            <th>Manage    Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>  