﻿
<h2 class="text-center">Add Journal Entries</h2>

@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}

<script language="javascript" type="text/javascript">

    var t;
    window.onload = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
        //alert(" You are now logged out.")
        location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


    }
    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 7200000) //logs out in 1hr min
    }

</script>
<script language="javascript" type="text/javascript">
  $(document).ready(function() {
  var a="";
   if(navigator.userAgent.indexOf("Firefox") != -1 )
    {
         //alert('Firefox');
         a='firefox';
    }

$(function () {
var b=a;
if (a == 'firefox') {
    $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' });
}else{
    $('#StartDate').datepicker({ dateFormat: 'dd-mm-yy' });
}
        // This will make every element with the class "date-picker" into a DatePicker element

    });

});
</script>
<script language="javascript" type="text/javascript">
    function Postsubmit() {
        var result = confirm("Are you sure you want to add journal entries?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
   // List<Dictionary<string, object>> listusers = bp.ViewLoanApplications;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>
            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info" style="width:100%;margin-left:50px;max-width: 1000px">

        <div class="message-info" style="width:100%;margin-left:0px;max-width: 1000px">
            <div class="row">
               
                    <div class="col-md-6">
                        <h2 class="text-center">Debit Accounts</h2>

                        <label>Account Name</label>
                        <br />
                        @Html.DropDownList("Draccount", bp.Dr_Accounts, new { @class = "form-selector", @onchange = "ChangeCallback(this.value);" })
                         <br />
                        <label>Debit Amount</label>
                        <br />
                        @Html.TextBox("Dramount")
                        <br />
                        <label>Total Debit</label>
                        <br />
                        @Html.TextBox("Tdebits")
                        <br />


                   
                </div>
               
                    <div class="col-md-6">

                        <h2 class="text-center">Credit Accounts</h2>

                        <label>Account Name</label>
                        <br />
                        @Html.DropDownList("Craccount", bp.Cr_Accounts, new { @class = "form-selector", @onchange = "ChangeCallback(this.value);" })
                        <br />
                        <label>Credit Amount</label>
                        <br />
                        @Html.TextBox("Cramount")
                        <br />
                        <label>Total Credit</label>
                        <br />
                        @Html.TextBox("Tcredits")
                        <br />

                    </div>
               
            </div>
        </div>
        <div class="message-info" style="width:100%;margin-left:0px;max-width: 1000px">

            <div class="row">
                <div class="col-md-6">

                   
                    <label>Payment Date</label>
                    <br />
                    @Html.TextBoxFor(model => bp.enddate, new { @class = "form-control  date-picker datepicker", placeholder = "Enter End date here", type = "date" })
                     <br />

                    <label>Description</label>
                    <br />
                    @Html.TextBox("Description")
                    <br />
                </div>

                <div class="col-md-6">
                    <label>Currency</label>
                    <br />
                    @Html.TextBox("Currency")
                    <br />
                    <label>username</label>
                    <br />
                    @Html.TextBox("Name", @ViewData["Name"], new { @readonly = "readonly" })
                    <br />
                    <input name="Approve" type="submit" value="Add " id="AuthoriseButton" onclick="javascript:return Postsubmit();" />



                </div>
            </div>
        </div>
    </div>




}

