﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px">Modify Savingaccounts: @ViewData["id"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>



<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to create a saving type?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.Saving_accounts;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info content-wrapper" style="width:100%;margin-left:100px;max-width: 1000px">


        <div class="row">
            <div class="col-12">



                <label>Saving Type</label>
                <br />
                <br />
                @Html.TextBox("Savingtype", @ViewData["Savingtype"])
                <br />
               <label>Saving Code</label>
                <br />
                @Html.TextBox("Savingcode", @ViewData["Savingcode"])
                <br />
                <label>IDNO</label>
                <br />
                @Html.TextBox("Idno", @ViewData["Idno"])
                <br />
                <label>Status</label>
                <br />
                @Html.TextBox("Status", @ViewData["Status"])
                <br />
                  <label>Maturity Period</label>
                 <br />
                    @Html.TextBox("Maturity", @ViewData["Maturity"])
                 <br />

                <legend></legend>
                <input name="Approve" type="submit" value="Modify" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />


            </div>
        </div>





    </div>


}

