﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements

<h4 class="content-wrapper">Approve Registered loan Types</h4>


<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {
    $('#MyTable').DataTable({
        "aLengthMenu": [[100, 400, , 800, 1000, -1], [100, 400, 800, 1000, "ALL"]],
        "iDisplayLength": 300,
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                //to select and search from grid
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>


@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.LoantypesApproved;
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (listusers != null && listusers.Count > 0)
    {
        <div style="width:100%;margin-left:30px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 0px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1330px;">

            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="width:80px">
                            Approve
                        </th>
                        @*<th>
                        Loan TypeId
                    </th>*@
                        <th>
                            Loan Type
                        </th>
                        <th style="width:60px">
                            Loan Code
                        </th>
                        <th style="width:60px">
                            Interest Rate
                        </th>
                        <th style="width:80px">
                            Max Loan
                        </th>
                        <th style="width:80px">
                            Max Period
                        </th>
                        @*<th style="width:60px">
                        Created By
                    </th>
                    <th style="width:60px">
                        Create Date
                    </th>*@


                    </tr>

                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            <td>@Html.ActionLink("Approve", "ApproveLoanTypes", new { id = @item["loantypeid"] })</td>
                            @*<td>@item["loantypeid"]</td>*@
                            <td>@item["loantype"]</td>
                            <td>@item["loancode"]</td>
                            <td>@item["interestrate"]</td>
                            <td>@item["maxloan"]</td>
                            <td>@item["maxperiod"]</td>
                            @*<td>@item["CreateBy"]</td>
                        <td>@item["CreateDate"]</td>*@

                        </tr>

                    }

                </tbody>

            </table>
            <fieldset class="small">
                <input type="submit" value="Authorise" />
            </fieldset>


        </div>
    }



}