﻿@model TestNAVBAR.Models.Loanreversal
<h2 class="text-center">Approve Loan Penalty</h2>

@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}

<script language="javascript" type="text/javascript">

    var t;
    window.onload = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
        //alert(" You are now logged out.")
        location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


    }
    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 7200000) //logs out in 1hr min
    }

</script>

<script language="javascript" type="text/javascript">
    function Postsubmit() {
        var result = confirm("Are you sure you want to modify loanapplication?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.LoansDisbursed;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>
            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info" style="width:100%;margin-left:100px;max-width: 1000px">
        <div class="row">
            <div class="col-md-6">
                <label>Loan ID</label>
                <br />
                @Html.TextBox("loanid", @ViewData["loanid"], new { @readonly = "readonly" })
                <br />
                <label>FullName</label>
                <br />
                @Html.TextBox("Name", @ViewData["Name"], new { @readonly = "readonly" })
                <br />
                <br />
                <label>Phone Number</label>
                <br />
                @Html.TextBox("borrowerphone", @ViewData["borrowerphone"], new { @readonly = "readonly" })
                <br />

                <label>Loan Balance</label>
                <br />
                @Html.TextBox("loanbalance", @ViewData["loanbalance"], new { @readonly = "readonly" })
                <br />
                <label>Loan Amount</label>
                <br />
                @Html.TextBox("loanamount", @ViewData["loanamount"], new { @readonly = "readonly" })
                <br />
                <label>Principle Amount</label>
                <br />
                @Html.TextBox("principle", @ViewData["principle"], new { @readonly = "readonly" })
                <br />
                <label>Total Penalty Amount</label>
                <br />
                @Html.TextBox("Penaltyamount", @ViewData["Penaltyamount"], new { @readonly = "readonly" })
                <br />
                <label>Penalty Amount</label>
                <br />
                @Html.TextBox("Penalty", @ViewData["Penalty"], new { @readonly = "readonly" })
                <br />
            </div>
            <div class="col-md-6">

                <label>Loan Ref</label>
                <br />
                @Html.TextBox("loanref", @ViewData["loanref"], new { @readonly = "readonly" })
                <br />
                <label>Loan code</label>
                <br />
                @Html.TextBox("loancode", @ViewData["loancode"], new { @readonly = "readonly" })
                <br />
                <label>Loan Type</label>
                <br />
                @Html.TextBox("loantype", @ViewData["loantype"], new { @readonly = "readonly" })
                <br />
                <label>Borrow Date</label>
                <br />
                @Html.TextBox("loandisbursedate", @ViewData["loandisbursedate"], new { @readonly = "readonly" })
                <br />
                <label>Rate applied</label>
                <br />
                @Html.TextBox("rateapplied", @ViewData["rateapplied"], new { @readonly = "readonly" })
                <br />
                <label>Interest Amount</label>
                <br />
                @Html.TextBox("interestamount", @ViewData["interestamount"], new { @readonly = "readonly" })
                <br />
                <label>Actionedby</label>
                <br />
                @Html.TextBox("modifiedby", @ViewData["modifiedby"], new { @readonly = "readonly" })
                <br />
                <label>Nextpenalty Date</label>
                <br />
                @Html.TextBox("Nextpenalty", @ViewData["Nextpenalty"], new { @readonly = "readonly" })
                <br />
                <input name="Approve" type="submit" value="Approve" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                @*<input name="Reject" type="submit" value="Reject" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />*@

            </div>
        </div>
    </div>
}

