﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px;">Filter Loans Pending Review: @ViewData["recordid"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>

<script language="javascript" type="text/javascript">
  $(document).ready(function() {
  var a="";
   if(navigator.userAgent.indexOf("Firefox") != -1 )
    {
         //alert('Firefox');
         a='firefox';
    }

$(function () {
var b=a;
if(a=='firefox'){ $('.date-picker').datepicker();
}else{
$('#StartDate').datepicker();
}
        // This will make every element with the class "date-picker" into a DatePicker element

    });

});
</script>
<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to use the selection Criteria above?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>

<script language="javascript">
    $(document).ready(function() {
    $('#StartDate').datepicker();
    //$('#EndDate').datepicker();
    });
</script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.RegisteredChurchUserApproved;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container" style="width:100%;margin-left:300px;border: 0px solid;max-width: 500px;">
        <div class="message-info content-wrapper">
            <fieldset>
                <legend>Create User</legend>
                <p>
                    <label>start Date</label>
                    @Html.EditorFor(model => bp.startdate, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here...", type = "date" })
                    <label></label>
                    <label>End Date</label>
                    @Html.EditorFor(model => bp.enddate, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here...", type = "date" })
                </p>
                <p>
                  
                    <label>MPESA No</label>
                    @Html.TextBox("mpesano", @ViewData["mpesano"])
                </p>
                <p>
                  
                    <legend>Actions</legend>
                    <input name="approve" type="submit" value="Load" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                    <input name="print" type="submit" value="Print" id="printButton" onclick="javascript:return Postsubmit();" />
                </p>
            </fieldset>
        </div>
        </div>
        }

