﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px;">A Calculator: @ViewData["recordid"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>



<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you have the correct Principal Amount?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
<script>
                  function jsFunction() {
                      // set text box value here
                      var interestrate = document.getElementById('interestrate');
                      interestrate.value = "0.11";
                      var adminfee= document.getElementById('adminfee');
                      adminfee.value = "0.04";
                  }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.Tools;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }



    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info content-wrapper">
        <fieldset>
            <legend>Calculator</legend>
            <p>
            <p>
                <br></br>
                <label>Loan Type</label>
                @Html.DropDownList("selectedloantype", bp.LoanTypeList, new { @onchange = "ChangeCallback(this.value);" })
                <br></br>
            </p>
            <p>
                <br></br>
                <label>Interest Rate</label>
                @Html.TextBox("interestrate", @ViewData["interestrate"], new { @readonly = "readonly" })
            </p>
            <p>
                <br></br>
                <label>Admin fee</label>
                @Html.TextBox("adminfee", @ViewData["adminfee"], new { @readonly = "readonly" })
            </p>
            <p>
                <br></br>
                <label>Principal Amount</label>
                @Html.TextBox("principle", @ViewData["principle"])
            </p>

            <script>
function Commas(n) {
var parts=n.toString().split(".")
return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
}
 function compute_interest() {
var principle = document.getElementById("principle").value;
	var interestrate = document.getElementById("interestrate").value;
	var adminfee= document.getElementById("adminfee").value;

 rate2 = parseFloat(interestrate)/100;

	 amount_interest = parseFloat(principle) * (1+ (parseFloat(rate2)+adminfee));

	 amt =amount_interest.toFixed(2);
	 display = Commas(amt);
	 results ="Amount to be paid is Kshs " + display+".";

 document.getElementById("demo").innerHTML = results;
 }
            </script>
            <br>
            <button onclick="compute_interest()">Compute Interest</button>
            <br><br>

            @*<p>
                    <br></br>
                    <legend>Actions</legend>
                    <input name="Approve" type="submit" value="Create" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                </p>*@


        </fieldset>


    </div>



}

