﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px">Reply Enquiry: @ViewData["recordid"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to send the message?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{

    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container" style="margin-left:250px">
        <div class="message-info content-wrapper">
            <fieldset>
                <legend>Reply Enquiry</legend>
                <p>
                    @Html.Hidden("customerphone", @ViewData["customerphone"])
                    <label>Phone Number</label>
                    @Html.TextBox("customerphone", @ViewData["customerphone"])
                    <label></label>

                </p>
                <p>
                    <br></br>
                    <label>Enquiry</label>
                    @Html.TextBox("enquiry", @ViewData["enquiry"])
                    <label></label>

                </p>
                <p>
                    <br></br>
                    <label>Reply</label>
                    @Html.TextArea("response", new { rows = 4, cols = 20 })
                    <label></label>

                </p>
                <p>
                    <br></br>
                    <legend>SEND</legend>
                    <input name="Send" type="submit" value="Send" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                </p>

            </fieldset>


        </div>

    </div>

}

