﻿@model TestNAVBAR.Models.ListDatabaseElements

@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}


<script language="javascript" type="text/javascript">

    var t;
    window.onload = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
        //alert(" You are now logged out.")
        location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


    }
    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 7200000) //logs out in 1hr min
    }

</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('#MyTable').DataTable({
            "aLengthMenu": [[100, 400, , 800, 1000, -1], [100, 400, 800, 1000, "ALL"]],
            "iDisplayLength": 800,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            //to select and search from grid
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });
</script>

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.BlackListed;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container" style="width:100%;margin-left:300px;border: 1px solid;max-width: 500px;">
        <h5>Search customer to blacklist using PhoneNumber</h5>
        <fieldset>
            <p>
                <label>Phone No</label>
                @Html.TextBox("mpesano", @ViewData["mpesano"])
            </p>
            <p>

                <legend>Actions</legend>

                <input name="simu" type="submit" value="Search" id="printButton" onclick="javascript:return Postsubmit();" />
            </p>
        </fieldset>
    </div>
    <br />
    <h4 class="content-wrapper" style="padding-bottom:10px">Showing BlackListed Customers</h4>
    <br />
    if (listusers != null && listusers.Count > 0)
    {
        <div style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Whitelist
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>

                            date created
                        </th>
                        <th>
                            Email Address
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            IPRS Status
                        </th>
                        <th>
                            Send SMS
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            <td>@Html.ActionLink("Whitelist", "ViewWList", new { id = @item["id"] })</td>
                            <td>@item["firstname"]</td>
                            <td>@item["lastname"]</td>
                            <td>@item["datecreated"]</td>
                            <td>@item["emailaddress"]</td>
                            <td>@item["phonenumber"]</td>
                            <td>@item["idno"]</td>
                            <td>@item["gender"]</td>
                            <td>@item["iprscheckdescription"]</td>
                            <td><input type="Button" value="sendsms" onclick="window.location.href='@Url.Action("SendMessagephone",new { myParam = @item["phonenumber"] })'" style=" font-size:" 1.2em" /></td>

                        </tr>
                    }
                </tbody>
            </table>
            @*<fieldset class="small">
                  <input type="submit" value="Authorise" />
                </fieldset>*@
        </div>
    }

    



}
@*@model TestNAVBAR.Models.ListDatabaseElements

    <h4 class="content-wrapper" style="padding-bottom:10px">Loan Users Data</h4>

    <script language="javascript" type="text/javascript">

    var t;
    window.onload=resetTimer;
    document.onkeypress=resetTimer;

    function logout()
    {
        //alert(" You are now logged out.")
        location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


            }
            function resetTimer()
            {
            clearTimeout(t);
             t = setTimeout(logout, 7200000) //logs out in 1hr min
    }

    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script language="javascript" type="text/javascript">
        /*
    $(document).ready(function() {
        $('#MyTable').DataTable( {"aLengthMenu": [[100, 400, , 800, 1000, -1], [100, 400, 800, 1000, "ALL"]],
            "iDisplayLength": 800,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                    //to select and search from grid
                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        } );
    } );*/
    </script>


    @using (Html.BeginForm())
    {
        FormCollection collection = (FormCollection)ViewData["collection"];
        TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
        List<Dictionary<string, object>> listusers = bp.LoanUsersDates;
        List<string> errors = (List<string>)ViewData["ModelErrors"];
        ViewData["ModelErrors"] = null;
        if (errors != null)
        {
            for (int i = 0; i < errors.Count; ++i)
            {
                var item = errors[i];
                <div class="message-info content-wrapper " style="color:red;border:none;">
                    <ul>
                        <li>@Html.Encode(item)</li>
                    </ul>

                </div>
            }
        }



        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        if (listusers != null && listusers.Count > 0)
        {
            <div style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
                <table id="MyTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                View
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>

                                date created
                            </th>
                            <th>
                                Email Address
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                ID
                            </th>
                            <th>
                                Gender
                            </th>
                            <th>
                                IPRS Status
                            </th>
                            <th>
                                Send SMS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < listusers.Count; ++i)
                        {
                            var item = listusers[i];
                            <tr>
                                <td>@Html.ActionLink("View", "ViewBList", new { id = @item["id"] })</td>
                                <td>@item["firstname"]</td>
                                <td>@item["lastname"]</td>
                                <td>@item["datecreated"]</td>
                                <td>@item["emailaddress"]</td>
                                <td>@item["phonenumber"]</td>
                                <td>@item["idno"]</td>
                                <td>@item["gender"]</td>
                                <td>@item["iprscheckdescription"]</td>
                                <td><input type="Button" value="sendsms" onclick="window.location.href='@Url.Action("SendMessagephone",new { myParam = @item["phonenumber"] })'" style=" font-size:" 1.2em" /></td>

                            </tr>
                        }
                    </tbody>
                </table>
                @*<fieldset class="small">
                      <input type="submit" value="Authorise" />
                    </fieldset>*@
@*</div>
        }

        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>

    }*@