﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements

<h4 class="content-wrapper" style="padding-bottom:10px;margin-left:300px;">Loan Users <br />NB: Phone numbers must start with 2547xxxxxxx</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script language="javascript" type="text/javascript">
/*
$(document).ready(function() {
    $('#MyTable').DataTable({
        "aLengthMenu": [[100, 400, , 800, 1000, -1], [100, 400, 800, 1000, "ALL"]],
        "iDisplayLength": 800,
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                //to select and search from grid
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );*/
</script>


<script language="javascript" type="text/javascript">
  $(document).ready(function() {
  var a="";
   if(navigator.userAgent.indexOf("Firefox") != -1 )
    {
         //alert('Firefox');
         a='firefox';
    }

$(function () {
var b=a;
if (a == 'firefox') {
    $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' });
}else{
    $('#StartDate').datepicker({ dateFormat: 'dd-mm-yy' });
}
        // This will make every element with the class "date-picker" into a DatePicker element

    });

});
</script>


@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    //TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    // List<Dictionary<string, object>> listusers = bp.LoanUsers;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div style="color:red;border:none;margin-left:250px;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }

    //Html.RenderAction("LoanUsersDates", "SMS");
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container" style="width:100%;margin-left:300px;border: 1px solid;max-width: 500px;">
        <fieldset>
            <legend>Search Criteria</legend>
            @*<p>
                    <label>start Date</label>
                    @Html.TextBoxFor(model => bp.startdate, "", new { @class = "form-control date-picker datepicker", placeholder = "Enter start date here", type = "date" })

                    @Html.TextBoxFor(model => bp.startdate, new { @class = "form-control ui-datepicker", placeholder = "Enter Drop-off date here...", type = "text",id="ui-datepicker",style = "width:150px" })

                    <label></label>
                    <label>End Date</label>
                    @Html.TextBoxFor(model => bp.enddate, new { @class = "form-control  date-picker datepicker", placeholder = "Enter End date here", type = "date" })


                </p>*@
            <p>
              
                <label>Phone No</label>
                @Html.TextBox("mpesano", @ViewData["mpesano"])
            </p>
            <p>
              
                <legend>Actions</legend>
                <input name="Load" type="submit" value="Load" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                @*<input name="print" type="submit" value="Print" id="printButton" onclick="javascript:return Postsubmit();" />*@
            </p>
        </fieldset>
    </div>
    /* if (listusers != null && listusers.Count > 0)
     {
       <div  style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
           <table id="MyTable" class="display" cellspacing="0" width="100%">
               <thead>
                   <tr>
                       <th>
                           View
                       </th>
                       <th>
                           First Name
                       </th>
                       <th>
                           Last Name
                       </th>
                       <th>

                           date created
                       </th>
                       <th>
                           Email Address
                       </th>
                       <th>
                           Phone Number
                       </th>
                       <th>
                           ID
                       </th>
                       <th>
                           Gender
                       </th>
                       <th>
                           IPRS Status
                       </th>
                       <th>
                           Send SMS
                       </th>
                   </tr>
               </thead>
               <tbody>
                   @for (int i = 0; i < listusers.Count; ++i)
                   {
                       var item = listusers[i];
                       <tr>
                           <td>@Html.ActionLink("View", "ViewLoanUser", new { id = @item["id"] })</td>
                           <td>@item["firstname"]</td>
                           <td>@item["lastname"]</td>
                           <td>@item["datecreated"]</td>
                           <td>@item["emailaddress"]</td>
                           <td>@item["phonenumber"]</td>
                           <td>@item["idno"]</td>
                           <td>@item["gender"]</td>

                           <td>@item["iprscheckdescription"]</td>
                           <td><input type="Button" value="sendsms" onclick="window.location.href='@Url.Action("SendMessagephone",new { myParam = @item["phonenumber"] })'" style=" font-size:" 1.2em" /></td>
                       </tr>
                   }
               </tbody>
           </table>

        @*<fieldset class="small">
          <input type="submit" value="Authorise" />
        </fieldset>*@
        </div>*/
}

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

    }