﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px; margin-left:300px">Send Message: @ViewData["recordid"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to send the message?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{

    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    var username = Session["phonenumber"];
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;margin-left:250px">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container" style="width:100%;margin-left:300px;border: 0px solid;max-width: 500px;">
        <div class="message-info content-wrapper">
            <fieldset>
                <legend>Send Message</legend>
                <p>

                    <label>Enter Phone No</label>

                    @Html.TextBox("customerphone", username)
                    <label></label>

                </p>
                <p>
                   
                    <label>Write Message</label>
                    @Html.TextArea("adminmessage", new { rows = 4, cols = 20 })
                    <label></label>
                    <br></br>
                </p>
                <p>
                   
                    <legend>SEND</legend>
                    <br></br>
                    <input name="SendToOne" type="submit" value="SendToOne" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                    @*<input name="SendToMany" type="submit" value="SendToMany" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />*@

                </p>

            </fieldset>


        </div>
        </div>


        }

