﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>



<table id="tblPopulation" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <td>IDNO</td>
            <td>Phone</td>
            <td>Loantype</td>
            <td>Date</td>
            <td>Amount</td>
            <td>Mpesaref</td>
            <td>Success</td>
            <td>Fail</td>
            <td>Accounts</td>
            <td>LoanAmount</td>
            

        </tr>

    </thead>

</table>
<div id='loadingmessage' style='display:none'>

    <img src="~/Content/images/ajax-loader.gif" />
</div>
@section Scripts {
    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>

    $(document).ready(function () {
        $('#loadingmessage').show();
        $.ajax({

            url: 'https://counterone.net/SalvonTest/Reconciliation/Getreconciliationreport',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: {},

            success: function (data) {
                //var Mbrid = data.Userid;
                var tr;
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    tr = tr + "<tr>";
                    tr = tr + "<td>" + data[i].number + "</td>";
                    tr = tr + "<td>" + data[i].Phone + "</td>";
                    tr = tr + "<td>" + data[i].types + "</td>";
                    tr = tr + "<td>" + data[i].Dates + "</td>";
                    tr = tr + "<td>" + data[i].amount + "</td>";
                    tr = tr + "<td>" + data[i].mref + "</td>";
                    tr = tr + "<td>" + data[i].Trans + "</td>";
                    tr = tr + "<td>" + data[i].Existss  + "</td>";
                    tr = tr + "<td>" + data[i].haiko + "</td>";
                    tr = tr + "<td>" + data[i].Loan + "</td>";
                   
                    tr = tr + "</tr>";
                }
                $('#tblPopulation').append(tr);
                tblFormate();
                $('#loadingmessage').hide();
            },
            error: function (xhr) {
                alert('No Valid Data');
            }
        });

        function tblFormate() {
            responsive: true
            var table = $('#tblPopulation').DataTable(
             {

                 //"searching": false,
                 "lengthMenu": [[50, 10, 50, 100, 150, -1], [50, 10, 50, 100, 150, "All"]]
             });
            //Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', table.column(colIdx).header()).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }

    });
    </script>

}  