﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px">Modify approved Loanusers: @ViewData["id"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
    location.href = 'http://192.168.0.5/DigitalM/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>



<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to modify the member?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.pendingmembers;

    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info" style="width:100%;margin-left:100px;max-width: 1000px">
        <div class="row">
            <div class="col-6">

                <label>First Name</label>
                <br />
                @Html.TextBox("Firstname")
                <br />
                <label>Last Name</label>
                <br />
                @Html.TextBox("Lastname")
                <br />

                <label>Idno</label>
                <br />
                @Html.TextBox("idno")
                <br />

                <label>deliquencystatusdescription</label>
                <br />
                @Html.TextBox("deliquencystatusdescription")
                <br />

                <label>deliquency status code</label>
                <br />
                @Html.TextBox("deliquencystatuscode")
                <br />

                <label>crb credit score</label>
                <br />
                @Html.TextBox("crbcreditscore")
                <br />
                <label>gender</label>
                <br />
                @Html.TextBox("gender")
                <br />
                <label>dateofbirth</label>
                <br />
                @Html.TextBox("dateofbirth", @ViewData["dateofbirth"], new { @readonly = "readonly" })
                <br />
                @*<label>Loan Type</label>
                <br />
                @Html.DropDownList("Loantype", bp.LoanCodesLists, new { @class = "form-selector", @onchange = "ChangeCallback(this.value);" })*@
            </div>
            <div class="col-6">


                <label>Mobile No</label>
                <br />
                @Html.TextBox("mobileno")
                <br />
                <label>Location</label>
                <br />
                @Html.TextBox("Residence", @ViewData["Residence"], new { @readonly = "readonly" })
                <br />
                <label>Job Title</label>
                <br />
                @Html.TextBox("Jobtitle", @ViewData["Jobtitle"], new { @readonly = "readonly" })
                <br />
                <label>No. Of Loans </label>
                <br />
                @Html.TextBox("numofloans", @ViewData["numofloans"], new { @readonly = "readonly" })
                <br />
                <label>Grossincome/Salary</label>
                <br />
                @Html.TextBox("Totalshares", @ViewData["Totalshares"], new { @readonly = "readonly" })
                <br />
                <label>Netincome/Salary</label>
                <br />
                @Html.TextBox("sharecontibution", @ViewData["sharecontibution"], new { @readonly = "readonly" })
                <br />
                <label>Loan Limit</label>
                <br />
                @Html.TextBox("Loanlimit")
                <br />
                <label>Airtime Limit</label>
                <br />
                @Html.TextBox("Airtimelimit")
                <br />
                <p>
                    <label>Enable Auto Disbursement</label>
                    @Html.CheckBox("automatic", true, new { @onchange = "ChangeCallback(this.value);" })
                </p>
                <br />
                <input name="Approve" type="submit" value="Modify" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                @*<input name="Reject" type="submit" value="Reject" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />*@


            </div>
        </div>





    </div>


}

