﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements
<h4 class="content-wrapper" style="padding-bottom:11px">Supermarket Market Attendands: @ViewData["id"]</h4>
<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script language="javascript" type="text/javascript">

  function Remove_ScrollBars(){
  document.documentElement.style.overflow = 'hidden';  // firefox, chrome
  document.body.scroll = "no"; // ie only
  }

  //window.onload=Remove_ScrollBars();
  function Postsubmit() {
  var result = confirm("Are you sure you want to create the Branch?");
  if (result) {
  return true;
  } else {
  return false;
  }
  }
</script>
@using (Html.BeginForm())
            {

                var supermarkercode = Session["id"];
                FormCollection collection = (FormCollection)ViewData["collection"];
                TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
                List<Dictionary<string, object>> listusers = bp.Supermarket_attendands(supermarkercode.ToString());

                List<string> errors = (List<string>)ViewData["ModelErrors"];
                ViewData["ModelErrors"] = null;
                ViewData["supermarketcode"] = supermarkercode;

                if (errors != null)
                {
                    for (int i = 0; i < errors.Count; ++i)
                    {
                        var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info content-wrapper" style="width:100%;margin-left:200px;max-width: 1000px">

        <legend>Create Attendand</legend>
        <div class="row">
            <div class="col-12">
                <label>Attendant Name1</label>
                <br />
                @Html.TextBox("attendantbame", @ViewData["attendantbame"])
                <br />
                <label>Attendant Phone1</label>
                <br />
                @Html.TextBox("attendantphone", @ViewData["attendantphone"])
                <br />
                <label>Attendant Name2</label>
                <br />
                @Html.TextBox("attendantbame1", @ViewData["attendantbame1"])
                <br />
                <label>Attendant Phone2</label>
                <br />
                @Html.TextBox("attendantphone1", @ViewData["attendantphone1"])
                <br />
                <legend>Actions</legend>
                <br />
                <input name="Approve" type="submit" value="Edit" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />

            </div>

        </div>
    </div>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            }

