﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}



<h4 class="content-wrapper" style="padding-bottom:10px">Modify vendor: @ViewData["id"]</h4>
<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to modify the Users? ");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info content-wrapper" style="width:100%;margin-left:200px;max-width: 1000px">

        <legend>SuperMarket</legend>
        <div class="row">
            <div class="col-12">

                <label>Vendor Name</label>
                @Html.TextBox("vendorname", @Session["vendorname"])

                <input name="Approve" type="submit" value="Edit" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />

            </div>
        </div>
    </div>

}

