﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements




<h4 class="content-wrapper" style="padding-bottom:11px">Create New Supermarket: @ViewData["recordid"]</h4>

<script language="javascript" type="text/javascript">

    var t;
    window.onload = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
        //alert(" You are now logged out.")
        location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


    }
    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 7200000) //logs out in 1hr min
    }

</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var a = "";
        if (navigator.userAgent.indexOf("Firefox") != -1) {
            //alert('Firefox');
            a = 'firefox';
        }

        $(function () {
            var b = a;
            if (a == 'firefox') {
                $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' });
            } else {
                $('#StartDate').datepicker({ dateFormat: 'dd-mm-yy' });
            }
            // This will make every element with the class "date-picker" into a DatePicker element

        });

    });
</script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('#MyTable').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            //to select and search from grid
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });
</script>


<script language="javascript" type="text/javascript">

    //function Remove_ScrollBars(){
    //document.documentElement.style.overflow = 'hidden';  // firefox, chrome
    //document.body.scroll = "no"; // ie only
    //}

    //window.onload=Remove_ScrollBars();
    function Postsubmit() {
        var result = confirm("Are you sure you want to create the supermarket?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.Supermarketdates;

    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    var scode = bp.getsupermarketcode();

    Session["supermarketcode"] = scode;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container" style="width:100%;margin-left:300px;border: 0px solid;max-width: 500px;">
        <div class="message-info content-wrapper">

            <legend>Search Criteria</legend>

            <div class="row">
                <div class="col-12">

                    <label>Search Supermarket Name</label>
                    <br/>
                    @Html.TextBox("mpesano", @ViewData["mpesano"])
                    <br />
                    <legend>Actions</legend>
                    <input name="approve" type="submit" value="Search" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                    @*<input name="print" type="submit" value="Print" id="printButton" onclick="javascript:return Postsubmit();" />*@

                </div>
            </div>
        </div>
    </div>
    <div class="container" style="width:100%;margin-left:300px;border: 0px solid;max-width: 500px;">
        <div class="message-info content-wrapper">

            <legend>Create Supermarket</legend>
            <div class="row">
                <div class="col-12">
                    <label>Supermarket Code</label>
                    <br/>
                    @Html.TextBox("supermarketcode", @Session["supermarketcode"], new { @readonly = "readonly" })
                    <br />
                    <label>Supermarket Name</label>
                    <br />
                    @Html.TextBox("supermarketname", @ViewData["supermarketname"])
                    <br />

                    <legend>Actions</legend>
                    <input name="Approve" type="submit" value="Create" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />

                </div>
            </div>
        </div>
    </div>
    if (listusers != null && listusers.Count > 0)
    {
        <div class="message-info content-wrapper"style="max-width: 1320px;">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Modify Supermarket
                        </th>

                        <th>
                            Delete Supermarket
                        </th>

                        <th>
                            View Branches
                        </th>
                        <th>
                            supermarketname
                        </th>
                        <th>
                            supermarketcode
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            <td>@Html.ActionLink("ModifySupermarket", "ModifySupermarket", new { id = @item["supermarketcode"] })</td>
                            <td>@Html.ActionLink("DeleteSupermarket", "deletesupermarket", new { id = @item["supermarketcode"] })</td>
                            @*<td>@Html.ActionLink("ViewBranch", "ViewBranch", new { id = @item["supermarketcode"] })</td>*@
                            <td><input type="Button" value="viewbranch" onclick="window.location.href='@Url.Action("ViewBranch",new { myParam = @item["supermarketcode"] })'" style=" font-size:" 1.2em" /></td>
                            <td>@item["supermarketname"]</td>
                            <td>@item["supermarketcode"]</td>


                        </tr>
                    }
                </tbody>
            </table>
            @*<fieldset class="small">
                  <input type="submit" value="Authorise" />
                </fieldset>*@
        </div>

    }




}

