﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements

<h4 class="content-wrapper" style="padding-bottom:10px;margin-left:250px">View Stock Items: @ViewData["recordid"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to modify the Record? ");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info content-wrapper" style="width:100%;margin-left:200px;max-width: 1000px">

        <legend>Modify Stock Items</legend>
        <div class="row">
            <div class="col-12">
                <label>Stock ID</label>
                <br/>
                @Html.TextBox("stockID", @ViewData["stockID"], new { @readonly = "readonly" })
                <br />
                <label>Item No</label>
                <br />
                @Html.TextBox("itemNo", @ViewData["ItemNo"], new { @readonly = "readonly" })
                <br />
                <label>Description</label>
                <br />
                @Html.TextBox("description", @ViewData["description"], new { @readonly = "readonly" })
                <br />
                <label>Vendor</label>
                <br />
                @Html.TextBox("Vendor", @ViewData["Vendor"], new { @readonly = "readonly" })
                <br />
                <label>Contact</label>
                <br />
                @Html.TextBox("Contact", @ViewData["Contact"], new { @readonly = "readonly" })
                <br />
                <label>Website</label>
                <br />
                @Html.TextBox("Website", @ViewData["Website"], new { @readonly = "readonly" })

            </div>
        </div>
    </div>

}

