﻿@*@{
        ViewBag.Title = "Upload";
    }

    <h2>Upload</h2>
    @{
        Layout = "~/Views/Shared/_BootstrapLayout1.cshtml";
    }*@
<h3 style="margin-left:60px;">Upload users</h3>
@{
    Layout = "~/Views/Shared/_BootstrapLayout1.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements


<script language="javascript" type="text/javascript">
function backButtonOverride()
{
    setTimeout("backButtonOverrideBody()", 1);
}

function backButtonOverrideBody()
{
    // Works if we backed up to get here
    try
    {
        window.history.forward(1);
    }
    catch (e)
    {
        // OK to ignore
    }
    // Every quarter-second, try again. The only
    // guaranteed method for Opera, Firefox,
    // and Safari, which don't always call
    // onLoad but *do* resume any timers when
    // returning to a page
    setTimeout("backButtonOverrideBody()", 1000);
}

if (window.addEventListener) // W3C standard
{
    window.addEventListener('load', backButtonOverride, false); // NB **not** 'onload'
}
else if (window.attachEvent) // Microsoft
{
    window.attachEvent('onload', backButtonOverride);
}

</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script>
            function ShowMessage() {
                var result = confirm("Do your want to submit form?");
                if (result) {
                    return true;
                } else {
                    return false;
                }
            }
</script>


<body>

    @using (Html.BeginForm("phonestatement", "Csv", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        <div style="width:90%;margin-left:40px;margin-right:40px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <div>@ViewData["error"]</div>
                    <input type="file" name="postedFile" />
                    <input type="submit" value="Upload" onclick="javascript:return ShowMessage();" />
                    @Html.ActionLink("Download User File", "Users", "Csv")
                    <label for="lblsuccess"></label>
                </thead>
            </table>
        </div>


    }

    }
