﻿@*@{
        ViewBag.Title = "Upload";
    }

    <h2>Upload</h2>
    @{
        Layout = "~/Views/Shared/_BootstrapLayout1.cshtml";
    }*@
<h3 style="margin-left:60px;">Upload Statement</h3>
@{
    Layout = "~/Views/Shared/_BootstrapLayout1.cshtml";
}
<script>
            function ShowMessage() {
                var result = confirm("Do your want to submit form?");
                if (result) {
                    return true;
                } else {
                    return false;
                }
            }
</script>
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @using (Html.BeginForm("Statement", "Csv", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        <div style="width:90%;margin-left:40px;margin-right:40px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <div>@ViewData["error"]</div>
                    <input type="file" name="postedFile" />
                    <input type="submit" value="Upload" onclick="javascript:return ShowMessage();" />
                    @Html.ActionLink("Download Statement File", "statements", "Csv")
                    <label for="lblsuccess"></label>
                </thead>
            </table>
        </div>

    }

</body>

</html>