﻿@model TestNAVBAR.Models.ListDatabaseElements

<h4 class="content-wrapper" style="padding-bottom:10px">SalaryAdvance Pending Review</h4>

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.LoansPendingReview;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (listusers != null && listusers.Count > 0)
    {
        <div style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
            <table>
                <thead>
                    <tr>                       
                        <th>
                            Phone Number
                        </th>
                        <th>
                            Employer Name
                        </th>
                        <th>
                            Borrow Date
                        </th>
                        <th>
                            Loan Amount
                        </th>          
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>                           
                            <td>@item["borrowerphone"]</td>
                            <td>@item["employername"]</td>
                            <td>@item["borrowdate"]</td>
                            <td>@item["loanamount"]</td>                            
                        </tr>
                    }
                </tbody>
            </table>
            @*<fieldset class="small">
                <input type="submit" value="Authorise" />
            </fieldset>*@
        </div>
    }

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

}