﻿<h4 class="content-wrapper" style="padding-bottom:7px">Verify Employee: @ViewData["id"]</h4>
<script language="javascript" type="text/javascript">
  function Remove_ScrollBars(){
  document.documentElement.style.overflow = 'hidden';  // firefox, chrome
  document.body.scroll = "no"; // ie only
  }

  window.onload=Remove_ScrollBars();
  function Postsubmit() {
  var result = confirm("Are you sure you want to Save the information?");
  if (result) {
  return true;
  } else {
  return false;
  }
  }
</script>
@using (Html.BeginForm())
{
FormCollection collection = (FormCollection)ViewData["collection"];
TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info content-wrapper" >
        <fieldset>
            <legend>Create Employer</legend>

          <div style="font-weight: bold;">Kindly fill in all the details, regardless of the Accept or Reject state. * Enter the amount without including commas e.g 50000 instead of 50,000.</div>
                 
            <p>
              <br></br>
                <label>Net Amount</label>
                @Html.TextBox("netamount", @ViewData["netamount"])
                <label></label> 

            </p>
            <p>
                <br></br>
                <label>Accept Reject Flag</label>
                @Html.DropDownList("selectedAR", bp.ARList, new { @onchange = "ChangeCallback(this.value);" })
                <label></label>

            </p>
            <p>
                <br></br>
                <label>HR Comments</label>              
                @Html.TextArea("Hrcomments", new { rows = 4, cols = 20 })
                <label></label>
           </p>
            <br></br>
            <br></br>
            <p>
                <br></br>
                <legend>Actions</legend>
                <input name="Approve" type="submit" value="Save" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
            </p>

        </fieldset>


    </div>



}

