﻿@model TestNAVBAR.Models.ListDatabaseElements

<h4 class="content-wrapper" style="padding-bottom:10px">Loan Users Data</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {
    $('#MyTable').DataTable( {"aLengthMenu": [[100, 400, , 800, 1000, -1], [100, 400, 800, 1000, "ALL"]],
        "iDisplayLength": 800,
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                //to select and search from grid
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>



    @using (Html.BeginForm())
    {
        FormCollection collection = (FormCollection)ViewData["collection"];
        TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
        List<Dictionary<string, object>> listusers = bp.LoanUsers;
        List<string> errors = (List<string>)ViewData["ModelErrors"];
        ViewData["ModelErrors"] = null;
        if (errors != null)
        {
            for (int i = 0; i < errors.Count; ++i)
            {
                var item = errors[i];
                <div class="message-info content-wrapper " style="color:red;border:none;">
                    <ul>
                        <li>@Html.Encode(item)</li>
                    </ul>

                </div>
            }
        }
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
        if (listusers != null && listusers.Count > 0)
        {
          <div  style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">      
            <table>
                 <thead>
                    <tr>
                        <th>
                            View
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Middle Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Email Address
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>
                            Date of Birth
                        </th> 
                        <th>
                            Gender
                        </th> 
                    </tr>
                </thead>
                 <tbody>
                        @for (int i = 0; i < listusers.Count; ++i)
                        {
                            var item = listusers[i];
                            <tr>
                             <td>@Html.ActionLink("View", "ViewLoanUsers", new { id = @item["id"] })</td>
                             <td>@item["firstname"]</td>
                             <td>@item["middlename"]</td>
                             <td>@item["lastname"]</td>
                             <td>@item["emailaddress"]</td>
                             <td>@item["phonenumber"]</td>
                             <td>@item["dateofbirth"]</td>
                             <td>@item["gender"]</td>
                            </tr>
                          }
                 </tbody>
           </table>
		   <fieldset class="small">
		     <input type="submit" value="Authorise" />
		   </fieldset>
           </div>
        }   
     
        <br></br>
<br></br>	
<br></br>
<br></br>
<br></br>
<br></br>

    }