﻿@model TestNAVBAR.Models.ListDatabaseElements

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>

<h4 class="content-wrapper" style="padding-bottom:10px">SMS Logs Data</h4>

    @using (Html.BeginForm())
    {
        FormCollection collection = (FormCollection)ViewData["collection"];
        TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
        List<Dictionary<string, object>> listusers = bp.SMSLogs;
        List<string> errors = (List<string>)ViewData["ModelErrors"];
        ViewData["ModelErrors"] = null;
        if (errors != null)
        {
            for (int i = 0; i < errors.Count; ++i)
            {
                var item = errors[i];
                <div class="message-info content-wrapper " style="color:red;border:none;">
                    <ul>
                        <li>@Html.Encode(item)</li>
                    </ul>

                </div>
            }
        }
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
        if (listusers != null && listusers.Count > 0)
        {
          <div  style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">      
            <table>
                 <thead>
                    <tr>
                        <th>
                            Print
                        </th>
                        <th>
                            Phone No:
                        </th>
                        <th>
                            Sender
                        </th>
                        <th>
                            Message
                        </th>                         
                    </tr>
                </thead>
                 <tbody>
                        @for (int i = 0; i < listusers.Count; ++i)
                        {
                            var item = listusers[i];
                            <tr>
                             <td>@Html.ActionLink("Print", "PrintSMSLogs", new { id = @item["id"] })</td>
                             <td>@item["recipient"]</td>
                             <td>@item["sender"]</td>
                             <td>@item["message"]</td>
                            </tr>
                          }
                 </tbody>
           </table>
		   <fieldset class="small">
		     <input type="submit" value="Authorise" />
		   </fieldset>
           </div>
        }   
     
        <br></br>
<br></br>	
<br></br>
<br></br>
<br></br>
<br></br>

    }