﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements

<h4 class="content-wrapper" style="padding-bottom:10px;margin-left:300px;">Registered and Approved Users</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>

    @using (Html.BeginForm())
    {
        
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
     List<Dictionary<string, object>> listusers = bp.ApprovedUsers;
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
        if (listusers != null && listusers.Count > 0)
        {
              <div class="message-info content-wrapper">
            <table>
                 <thead>
                    <tr>
                         <th>
                            FirstName
                        </th>
                        <th>
                            LastName
                        </th>
                        <th>
                           EmailAddress
                        </th>
                         <th>
                            PhoneNumber
                        </th>
                        <th>
                            Gender
                        </th>
                         <th>
                            DateOfBirth
                        </th>
                       <th>
                            ID or PP
                        </th>
                        <th>
                            Vehicle No.
                        </th>
                       <th>
                            Date Created
                        </th>
                        <th>
                            Date Approved
                        </th>
                    </tr>
                </thead>
                 <tbody>
                        @for (int i = 0; i < listusers.Count; ++i)
                        {
                            var item = listusers[i];
                            <tr>
                             <td>@item["firstname"]</td>
                             <td>@item["lastname"]</td>
                             <td>@item["emailaddress"]</td>
                             <td>@item["phonenumber"]</td>
                             <td>@item["gender"]</td>
                             <td>@item["dateofbirth"]</td>
                             <td>@item["idorpp"]</td>
                             <td>@item["vrno"]</td>
                             <td>@item["datecreated"]</td>
                             <td>@item["datecreated"]</td>
                            </tr>
                        }
                 </tbody>
           </table>
		   <fieldset class="small">
		   <input type="submit" value="Authorise" />
		   </fieldset>
           </div>
        }   
      
	    <br></br>  <br></br>  <br></br>
	  <br></br>
 
    }