﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:10px;margin-left:300px;">Approval Payment: @ViewData["id"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to approve the User? ");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info content-wrapper" style="width:100%;margin-left:100px;max-width: 1000px">

        <legend>Admin Payment Approval</legend>

        <div class="row">
            <div class="col-12">
                @Html.Hidden("id", @ViewData["id"])

                <label>Username</label>
                <br />
                @Html.TextBox("name", @ViewData["name"], new { @readonly = "readonly" })
                <br />
                <label>Month</label>
                <br />
                @Html.TextBox("months", @ViewData["months"], new { @readonly = "readonly" })
                <br />
                <label>Year</label>
                <br />
                @Html.TextBox("years", @ViewData["years"], new { @readonly = "readonly" })
                <br />
                <label>Total Disbursed</label>
                <br />
                @Html.TextBox("principle", @ViewData["principle"], new { @readonly = "readonly" })
                <br />
                <label>Total Interest</label>
                <br />
                @Html.TextBox("adminfee", @ViewData["adminfee"], new { @readonly = "readonly" })
                <br />
                <input name="Approve" type="submit" value="Approve" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />


            </div>
        </div>
    </div>

}

