﻿@{
                /**/

                Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="margin-top:40px;margin-left:300px">Create New User: @ViewData["recordid"]</h4>

<script language="javascript" type="text/javascript">

    var t;
    window.onload = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
        //alert(" You are now logged out.")
        location.href = 'https://counterone.net/KRAY'


    }
    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 7200000) //logs out in 1hr min
    }

</script>

<script language="javascript" type="text/javascript">
    function Postsubmit() {
        var result = confirm("Are you sure you want to create the User?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>


@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.RegisteredChurchUserApproved;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info" style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*<div class="message-info content-wrapper" >*@

    <div class="card border-primary card-wrapper" style="">
        <div class="row" style="padding-top:20px">
            <div class="col-md-6">
                <label>User Name</label>
                <br />
                @Html.TextBox("username", @ViewData["username"])
                <br />
                <label>Full Names</label>
                <br />
                @Html.TextBox("fullnames", @ViewData["fullnames"])


                <label>Email 1</label>
                <br />
                @Html.TextBox("email1", @ViewData["email1"])
                <br />
                <label>Email 2</label>
                <br />
                @Html.TextBox("email2", @ViewData["email2"])

            </div>
            <div class="col-md-6 ">

                <label>Mobile 1</label>
                <br />
                @Html.TextBox("mobile1", @ViewData["mobile1"])
                <br />
                <label>Mobile 2</label>
                <br />
                @Html.TextBox("mobile2", @ViewData["mobile2"])

                <br />
                <label>Employer</label>
                <br />
                @Html.DropDownList("selectedemployer", bp.EmployerList, new { @class = "form-selector", @onchange = "ChangeCallback(this.value);" })
                <hr />
                <input name="Approve" type="submit" value="Create" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />


            </div>
        </div>





    </div>

    @*</div>*@


}

