﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:10px;margin-left:300px;">Approval of Changed User Details: @ViewData["recordid"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
  <script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to approve the User? ");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <div class="message-info content-wrapper" style="width:100%;margin-left:100px;max-width: 1000px">

            <legend>Admin User Approval</legend>
            <div class="row">
                <div class="col-6">

                    @Html.Hidden("id", @ViewData["id"])

                    <label>Username</label>
                    <br />
                    @Html.TextBox("username", @ViewData["username"], new { @readonly = "readonly" })
                    <br />

                    <label>Full Names</label>
                    <br />
                    @Html.TextBox("fullnames", @ViewData["fullnames"], new { @readonly = "readonly" })
                    <br />
                    <label>Create By</label>
                    <br />
                    @Html.TextBox("createby", @ViewData["createby"], new { @readonly = "readonly" })
                    <br />
                  
                    <label>Create Date</label>
                    <br />
                    @Html.TextBox("createdate", @ViewData["createdate"], new { @readonly = "readonly" })
                    <br />
                 </div>
                  <div class="col-6">
                    <label>Email 1</label>
                      <br />
                    @Html.TextBox("email1", @ViewData["email1"], new { @readonly = "readonly" })
                      <br />
                    <label>Email 2</label>
                      <br />
                    @Html.TextBox("email2", @ViewData["email2"], new { @readonly = "readonly" })
                      <br />
                    <label>Mobile 1</label>
                      <br />
                    @Html.TextBox("mobile1", @ViewData["mobile1"], new { @readonly = "readonly" })
                      <br />
                    <label>Mobile 2</label>
                      <br />
                    @Html.TextBox("mobile2", @ViewData["mobile2"], new { @readonly = "readonly" })
                      <br />

                    <input name="Approve" type="submit" value="Approve" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />


                </div>

            </div>
        </div>
    }

