﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements

<h4 class="content-wrapper"style="padding-bottom:10px;margin-left:300px">Approve Registered System Users</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {
    $('#MyTable').DataTable({
        "aLengthMenu": [[100, 400, , 800, 1000, -1], [100, 400, 800, 1000, "ALL"]],
        "iDisplayLength": 800,
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                //to select and search from grid
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>
<script language="javascript" type="text/javascript">
  $(document).ready(function() {
  var a="";
   if(navigator.userAgent.indexOf("Firefox") != -1 )
    {
         //alert('Firefox');
         a='firefox';
    }

$(function () {
var b=a;
if (a == 'firefox') {
    $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' });
}else{
    $('#StartDate').datepicker({ dateFormat: 'dd-mm-yy' });
}
        // This will make every element with the class "date-picker" into a DatePicker element

    });

});
</script>


@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.RegisteredChurchUsersdates;
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container" style="width:100%;margin-left:300px;border: 0px solid;max-width: 500px;">
        <fieldset>
            <legend>Search Criteria</legend>
            <p>
                <label>start Date</label>
                @Html.TextBoxFor(model => bp.startdate, "", new { @class = "form-control date-picker datepicker", placeholder = "Enter start date here", type = "date" })

                <!--@Html.TextBoxFor(model => bp.startdate, new { @class = "form-control ui-datepicker", placeholder = "Enter Drop-off date here...", type = "text",id="ui-datepicker",style = "width:150px" })-->

                <label></label>
                <label>End Date</label>
                @Html.TextBoxFor(model => bp.enddate, new { @class = "form-control  date-picker datepicker", placeholder = "Enter End date here", type = "date" })


            </p>
            <p>
               
                <label>user name</label>
                @Html.TextBox("mpesano", @ViewData["mpesano"])
            </p>
            <p>
               
                <legend>Actions</legend>
                <input name="approve" type="submit" value="Load" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                @*<input name="print" type="submit" value="Print" id="printButton" onclick="javascript:return Postsubmit();" />*@
            </p>
        </fieldset>
    </div>


    if (listusers != null && listusers.Count > 0)
    {
        <div style="width:100%;margin-left:30px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 0px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1330px;">

            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="width:80px">
                            Approve
                        </th>
                        <th style="width:80px">
                            Reject
                        </th>

                        <th style="width:80px">
                            Assign Rights
                        </th>

                        <th>
                            Username
                        </th>
                        <th>
                            Fullnames
                        </th>

                        <th style="width:60px">
                            Create Date
                        </th>
                        <th style="width:60px">
                            Email1
                        </th>
                        <th style="width:60px">
                            Email 2
                        </th>
                        <th style="width:80px">
                            Mobile 1
                        </th>
                        <th style="width:80px">
                            Mobile 2
                        </th>

                        <th style="width:80px">
                            Approved
                        </th>

                    </tr>

                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            <td>@Html.ActionLink("Approve", "ApproveRegisteredUsers", new { id = @item["id"] })</td>
                            <td>@Html.ActionLink("Reject", "RejectRegisteredUsers", new { id = @item["id"] })</td>
                            <td>@Html.ActionLink("User Rights", "assignrights", new { id = @item["id"] })</td>
                            <td>@item["username"]</td>
                            <td>@item["fullnames"]</td>
                            <td>@item["createdate"]</td>
                            <td>@item["email1"]</td>
                            <td>@item["email2"]</td>
                            <td>@item["mobile1"]</td>
                            <td>@item["mobile2"]</td>
                            <td>@item["approved"]</td>

                        </tr>

                    }

                </tbody>

            </table>
            @*<fieldset class="small">
                <input type="submit" value="Authorise" />
                </fieldset>*@


        </div>
    }



}