﻿
@model TestNAVBAR.Models.SaccoWithdrawals



<script type="text/javascript">

    $(document).ready(function()
    {
        //Get the list of employee records in json format
        var tr;
        $.getJSON("/Withdrawals/GetWithdrawalsDetails", function (json)
        {
            $.each(json, function(i, MbrData)
            {
                var Mbrid = MbrData.Transid;
                tr = $('<tr/>');
                tr.append("<td class='Accountno'>" + MbrData.Accountno + "</td>");
                tr.append("<td class='Surname'>" + MbrData.Surname + "</td>");
                tr.append("<td class='OtherNames'>" + MbrData.OtherNames + "</td>");
                tr.append("<td class='Phone'>" + MbrData.Phone + "</td>");
                tr.append("<td class='Amount'>" + MbrData.Amount + "</td>");
                tr.append("<td class='Balance'>" + MbrData.Balance + "</td>");
                tr.append("<td class='Depositdate'>" + MbrData.Depositdate + "</td>");
                tr.append("<td>" + "<a Onclick='return false;' class='DeleteCss' href=/Withdrawals/Delete/" + Mbrid + ">Delete</a>" + " | " + "<a class='EditCss' href=/Withdrawals/Edit/" + Mbrid + ">Edit</a>" + "</td>");
                $('#TblEmpDet').append(tr);
            });
        });
        //Delete the records
        $('#TblEmpDet').on('click', 'td a.DeleteCss', function()
        {
            var DeleteUrl = $(this).attr("href");
            if (confirm("Are you sure wants to delete ?."))
            {
                $.ajax(
                {
                    url: DeleteUrl,
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json",
                    error: function(err)
                    {
                        alert('Unable to delete record.');
                    },
                    success: function(response)
                    {
                        $('#DivEmpList').load("/Withdrawals/AddWithdrawals");
                    }
                });
            }
        });
    });
</script>
<table id="TblEmpDet" class="table  table-bordered table-hover">
    <thead>
        <tr>

            <th>
                Account No
            </th>
            <th>
                Surname
            </th>
            <th>
                Other Names
            </th>

            <th>
                Phone No
            </th>

            <th>
                Amount
            </th>
            <th>
                Balance
            </th>
            <th>
                Withdraw Date
            </th>

            <th>Manage    Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
