﻿@model TestNAVBAR.Models.SaccoWithdrawals
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script type="text/javascript"></script>
<script>

    $(document).ready(function () {
        //firing function on button click to update records
        $("#btnUpdate").click(function () {
            //creating javascript array to pass it as json data
            var SafrikaMembers = {
                Transid: $("#hdnTransid").val(),
                Accountno: $("#Accountno").val(),
                Surname: $("#Surname").val(),
                OtherNames: $("#OtherNames").val(),
                Phone: $("#Phone").val(),
                Amount: $("#Amount").val(),
                Balance: $("#Balance").val()
            };

            $.ajax({
                type: "POST",
                URL: "/Withdrawals/Edit",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ MemberUpdateDet: SafrikaMembers }),
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    alert(response);
                    //redirect to the AddEmployee view after successfully updating records
                    window.location.href = "/Withdrawals/AddWithdrawals";

                }
            });
        });
    });
</script>


<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Transid, new { @id = "hdnTransid" })


    <div class="form-group">
        @Html.LabelFor(model => model.Accountno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Accountno, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Accountno, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OtherNames, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OtherNames, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OtherNames, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="btnUpdate" value="Update" class="btn btn-default" />
        </div>
    </div>
</div>
