﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements

<h4 class="content-wrapper" style="padding-bottom:10px;margin-left:300px">Modify Registered Courts</h4>

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.RegisteredEdit;
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (listusers != null && listusers.Count > 0)
    {
        <div class="message-info content-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>
                            Edit
                        </th>

                        <th>
                            StationName
                        </th>
                        <th>
                            StationCode
                        </th>
                        <th>
                            StationURL
                        </th>
                        <th>
                            Charge Manager
                        </th>
                        <th>
                            Manager Email
                        </th>
                        <th>
                            Manager Phone
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < bp.RegisteredEdit.Count; ++i)
                    {
                        var item = bp.RegisteredEdit[i];
                        <tr>
                            <td>@Html.ActionLink("Edit", "RegisteredUtilityEdit", new { id = @item["stationid"] })</td>
                            <td>@item["StationName"]</td>
                            <td>@item["stationcode"]</td>
                            <td>@item["churchurl"]</td>
                            <td>@item["stationmanager"]</td>
                            <td>@item["managersemail"]</td>
                            <td>@item["managersmobile"]</td>
                        </tr>
                    }
                </tbody>
            </table>
            <fieldset class="small">
                <input type="submit" value="Authorise" />
            </fieldset>
        </div>
    }
    <br></br>
}