﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:10px;margin-left:300px">Approval of the Station: @ViewData["recordid"]</h4>
<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to approve the Court? ");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info content-wrapper" style="width:100%;margin-left:200px;max-width: 1000px">

        <legend>StationApproval</legend>
        <div class="row">
            <div class="col-12">
                @Html.Hidden("stationid", @ViewData["stationid"])

                <label>StationName</label>
                <br />
                @Html.TextBox("StationName", @ViewData["StationName"], new { @readonly = "readonly" })
                <br />
                <label>StationCode</label>
                <br />
                @Html.TextBox("stationcode", @ViewData["stationcode"], new { @readonly = "readonly" })
                <br />
                <label>StationURL</label>
                <br />
                @Html.TextBox("churchurl", @ViewData["churchurl"], new { @readonly = "readonly" })
                <br />
                <label>Manager Name</label>
                <br />
                @Html.TextBox("pastorsname", @ViewData["stationmanager"], new { @readonly = "readonly" })
                <br />
                <label>Manager Email</label>
                <br />
                @Html.TextBox("managersemail", @ViewData["managersemail"], new { @readonly = "readonly" })
                <br />
                <label>Manager Mobile</label>
                <br />
                @Html.TextBox("managersmobile", @ViewData["managersmobile"], new { @readonly = "readonly" })
                <br />
                <input name="Approve" type="submit" value="Approve" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />





            </div>
        </div>
    </div>
            <div>&nbsp</div>


            }

