﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements

<h4 class="content-wrapper" style="padding-bottom:10px;margin-left:250px;">Modify loantypes Rates</h4>
<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.loan_rates;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (listusers != null && listusers.Count > 0)
    {
        <div class="container" style="width:100%;margin-left:100px;">

            <table style="width:100%;margin-left:100px;margin-right:20px;padding-top: 3px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
                <thead>
                    <tr>
                        <th>
                            Modify
                        </th>
                        <th>
                            LoanType
                        </th>
                        <th>
                            Loancode
                        </th>
                        <th>
                            Interest
                        </th>

                        <th>
                            Procssing Fee
                        </th>
                        <th>
                            Commission
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Repaymentperiod
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            <td>@Html.ActionLink("Modify", "modifyloantypes", new { id = @item["id"] })</td>
                            <td>@item["loantype"]</td>
                            <td>@item["loancode"]</td>
                            <td>@item["interestrate"]</td>
                            <td>@item["Adminrate"]</td>
                            <td>@item["commissionrate"]</td>
                            <td>@item["Duration"]</td>
                            <td>@item["Repayperiod"]</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<fieldset class="small">
                  <input type="submit" value="Authorise" />
                </fieldset>*@
        </div>

    }

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

}
