﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

@*<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />*@

<table id="tblPopulation" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <td>Ref</td>
            <td>Payment Date</td>
            <td>Transaction code</td>
            <td>Balance</td>
            <td>Borrow Date</td>
            <td>Score</td>
            <td>Expected payments</td>
            <td>Transaction Amount</td>
            <td>Rectified by</td>
            <td>User</td>
            <td>Admin</td>
            <td>Actioned by</td>
            <td>Action</td>
        </tr>

    </thead>

</table>
@section Scripts {
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script>

    $(document).ready(function () {
        $.ajax({

            url: 'https://counterone.net/Tsalvonastrol/RePayment/Getpay',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (data) {
                //var Mbrid = data.Userid;
                var tr;
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    tr = tr + "<tr>";
                    tr = tr + "<td>" + data[i].loaf + "</td>";
                    tr = tr + "<td>" + data[i].pdate + "</td>";
                    tr = tr + "<td>" + data[i].tcode + "</td>";
                    tr = tr + "<td>" + data[i].balo + "</td>";
                    tr = tr + "<td>" + data[i].bdate + "</td>";
                    tr = tr + "<td>" + data[i].pcore + "</td>";
                    tr = tr + "<td>" + data[i].epayments + "</td>";
                    tr = tr + "<td>" + data[i].tamount + "</td>";
                    tr = tr + "<td>" + data[i].rby + "</td>";
                    tr = tr + "<td>" + data[i].uright + "</td>";
                    tr = tr + "<td>" + data[i].aright + "</td>";
                    tr = tr + "<td>" + data[i].aby + "</td>";
                    tr = tr + "<td>" + +"<a class='EditCss' href=https://counterone.net/Tsalvonastrol/RePayment/Edit/" + data[i].Rid + ">Edit</a>" + "</td>";
                    tr = tr + "</tr>";
                }
                $('#tblPopulation').append(tr);
                tblFormate();
            },
            error: function (xhr) {
                alert('No Valid Data');
            }
        });

        function tblFormate() {

            var table = $('#tblPopulation').DataTable(
             {
                 //"searching": false,
                 "lengthMenu": [[5, 10, 50, 100, 150, -1], [5, 10, 50, 100, 150, "All"]]
             });
            //Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', table.column(colIdx).header()).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }

    });
</script>

}  