﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}

@model TestNAVBAR.Models.ListDatabaseElements

@*<h4 class="content-wrapper" style="padding-bottom:10px;margin-left:250px;">Loan Users <br />NB: Phone numbers must start with 2547xxxxxxx</h4>*@

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'
            }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {
    $('#MyTable').DataTable({
        "aLengthMenu": [[100, 300, -1], [100, 300]],
        "iDisplayLength": 300,
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                //to select and search from grid
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
                    column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>

<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        var a="";
        if(navigator.userAgent.indexOf("Firefox") != -1 )
        {
            //alert('Firefox');
            a='firefox';
        }

        $(function () {
            var b=a;
            if (a == 'firefox') {
                $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' });
            }else{
                $('#Start Date').datepicker({ dateFormat: 'dd-mm-yy' });
            }
            ///This will make every element with the class "date-picker" into a DatePicker element

        });

    });
</script>


@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.GetLoanRefsDisbursed;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;max-width: 1000px;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
<div style="width:100%;margin-left:250px;margin-right:20px;padding-top: 3px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1000px;">
    <h4 style="color:#499949"><b><u>Disbursed LoanReferences Listing</u></b></h4>               
     <h5>Search Loanreference Using Customer PhoneNumber</h5>
                    <fieldset>
                        <p>
                            <label>Phone No</label>
                            @Html.TextBox("mpesano", @ViewData["mpesano"])
                        </p>
                        <p>
                           
                            <legend>Actions</legend>

                            <input name="simu" type="submit" value="Search" id="printButton" onclick="javascript:return Postsubmit();" />
                        </p>
                    </fieldset>
                </div>
    if (listusers != null && listusers.Count > 0)
    {
        <div style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                          Action
                        </th>
                        <th>
                            LoanReference
                        </th>
                        <th>
                            DisburseDate
                        </th>
                        <th>
                            LoanAmount
                        </th>
                        <th>
                            LoanBalance
                        </th>
                       
                        <th>
                           CustomerName
                        </th>
                        <th>
                           CustomerPhone
                        </th>
                        <th>
                          MpesaReference Disbursed
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            <td>@Html.ActionLink("Correct Missing Payment", "GetRef", new { id = @item["id"] })</td>
                            <td>@item["loanref"]</td>
                            <td>@item["disbursedate"]</td>
                            <td>@item["loanamount"]</td>
                            <td>@item["loanbalance"]</td>
                            <td>@item["customername"]</td>
                            <td>@item["phonenumber"]</td>
                            <td>@item["mpesaref"]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

}
