﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.SafrikaMembers

@{
    ViewBag.Title = "Add Members";
}

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-1.12.4.intellisense.js"></script>
<script type="text/javascript"></script>
<script>

    $(document).ready(function () {
        //firing function on button click
        $("#btnsave").click(function () {
            //Creating Javascript array to post it as json data
            var SafrikaMembers = {
               // Userid: $("#hdnUserid").val(),
                //Accountno: $("#Accountno").val(),
                Surname: $("#Surname").val(),
                OtherNames: $("#OtherNames").val(),
                Email: $("#Email").val(),
                DateJoined: $("#DateJoined").val(),
                Phone: $("#Phone").val(),
                Idno: $("#Idno").val(),
               // Membershipfee: $("#Membershipfee").val(),
                //sharecontibution: $("#sharecontibution").val(),
                //Totalshares: $("#Totalshares").val(),
                LoanLimit: $("#LoanLimit").val(),
                Membership: $("#Membership").val()

            };
            $.ajax({
                type: "POST",
                URL: "/SaccoAdmin/AddMember",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ MbrDet: SafrikaMembers }),
                error: function (response) {
                    alert(response.responseText);

                },
                //After successfully inserting records
                success: function (response) {

                    //Reload Partial view to fetch latest added records
                    $('#DivEmpList').load("/SaccoAdmin/MemberDetails");
                    alert(response);

                }
            });

        });


    });
</script>
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Accountno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Accountno, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Accountno, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OtherNames, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OtherNames, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OtherNames, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DateJoined, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateJoined, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateJoined, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Idno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Idno, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Idno, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(model => model.Membershipfee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Membershipfee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Membershipfee, "", new { @class = "text-danger" })
        </div>
    </div>*@


    @*<div class="form-group">
        @Html.LabelFor(model => model.sharecontibution, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sharecontibution, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sharecontibution, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Totalshares, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Totalshares, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Totalshares, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.LoanLimit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LoanLimit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LoanLimit, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Membership, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Membership, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Membership, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" id="divSave">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="SaveData" id="btnsave" value="ADD" class="btn btn-success" />
        </div>
    </div>
    @*Calling partial view of employee list*@
    <div class="form-group" id="DivEmpList">
        <div class="col-md-12">
            @Html.Partial("_MemberDetails")
        </div>
    </div>
</div>