﻿
<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8" />
<title>Demo Administration Portal </title>
<link rel="icon" href="@Url.Content("~/images/banner.ico")" />
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/Content/jquery-uis.css" rel="stylesheet" type="text/css" />
<!--<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>-->
<script src="~/Content/sjquery/jquery-3.0.0.js"></script>
<script src="~/Content/sjquery/jquery-ui.min.js"></script>
<script src="~/Content/sjquery/jquery-migrate-3.0.0.js"></script>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<script src="~/Scripts/bootstrap.min.js.js"></script>
<script src="~/Scripts/jquery.min.js.js"></script>
</head>
<body id='BTst' style='overflow-y: auto;overflow-x: auto'>
    @*<div class="well well-sm">
        <div style='color:white;font-size:24px;font-style:bold;float-left'>
            <header>
                <div style='color:white;font-size:24px;font-style:bold;float-left;margin-top:2px'>
                    <div style="float: left;">
                        <img class="logo" src="~/Content/images/slogos.png" style="height:50px;width:50px">
                    </div>
                    <div style="float: left;margin-left:80px">
                        <span style="font-family:Tahoma;font:bolder;margin-left:300px">Counter One Dashboard</span>

                    </div>
                    @*<div style="float: left;margin-left:80px">
                            <span style="font-family:Tahoma;font:bolder;margin-left:300px;font-size:16px">Admin&nbsp;&nbsp;&nbsp;<img class="logo" src="~/Content/images/user.png" style="height:30px;width:30px"></span>
                        </div>*
                </div>
            </header>
           

        </div>
    </div>*@
    

    @{
        TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
        string clientregister = "dontdisplay";
        string parameters = "dontdisplay";
        string usermanagement = "dontdisplay";
        string accounts = "dontdisplay";
        string isAdmin = "dontdisplay";
        string Editapprovals = "dontdisplay";
        string Approvals = "dontdisplay";


        if (TestNAVBAR.Controllers.MyGlobalVariables.username != null || TestNAVBAR.Controllers.MyGlobalVariables.username != "")
        {
            Session["smsinquiries"] = bp.inquiries();


            Dictionary<string, string> userrights = (Dictionary<string, string>)TestNAVBAR.Controllers.MyGlobalVariables.userrightsx;
            Dictionary<string, string> userrightUsers = (Dictionary<string, string>)Session["userrightsuserspecific"];

            bp.getrights();

            userrightUsers = TestNAVBAR.Controllers.MyGlobalVariables.userrightsx;


            if (userrights == null || userrights.Count <= 0)
            {
                userrights = (Dictionary<string, string>)Session["userrights"];

            }

            if (userrights != null && userrights.Count > 0)
            {
                if (userrights["userlevel"].ToString() == "admin")
                {
                    clientregister = "";
                    parameters = "";
                    usermanagement = "";
                    accounts = "";
                    isAdmin = "";
                    userrights["usermanagement"] = "1";
                }

                if (userrights["clientregister"].ToLower().Equals("1"))
                {
                    clientregister = "";
                }

                if (userrights["parameters"].ToLower().Equals("1"))
                {
                    parameters = "";
                }

                if (userrights["usermanagement"].ToLower().Equals("1"))
                {
                    usermanagement = "";
                }

                if (userrights["Editapprovals"].ToLower().Equals("1"))
                {
                    Editapprovals = "";
                }
                if (userrights["accounts"].ToLower().Equals("1"))
                {
                    accounts = "";
                }
                if (userrights["Approvals"].ToLower().Equals("1"))
                {
                    Approvals = "";
                }

            }
        }
      }

    <script language="javascript" type="text/javascript">

var t;
                   window.onload=resetTimer;
                   document.onkeypress=resetTimer;

                   function logout()
                   {
                      
                       alert(" You are now logged out.")
    location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
                   function resetTimer()
        {
                       clearTimeout(t);
                       t = setTimeout(logout, 7200000) //logs out in 1hr min
}

    </script>

    <div id="body">
           <section class="content-wrapper main-content clear-fix">
               <img class="logo" src="~/Content/images/demos.jpg" style="height:60px;width:60px"><font size="3">
                   @*You are logged in as:<b> @Session["username"]</b>&nbsp;&nbsp;*@<span style="font-family:Tahoma;font:bolder;margin-left:320px"><b>DEMO SYSTEM DASHBOARD</b></span><span style="font-family:Tahoma;font:bolder;margin-left:400px">Hi,<b> @Session["username"]</b>&nbsp;&nbsp;Welcome<b> @Session["userlevel"]</b>&nbsp;&nbsp;</span><p></p>
               </font>
            
            <div class="navbar">

                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </a>

                        <div class="nav-collapse">

                            <ul class="nav nav-pills">

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home Page</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
                                    </ul>
                                </li>

                                @{  if (isAdmin.ToString() == "")
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users Management</a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Create User", "RegisterUser", "User")</li>
                                                <li>@Html.ActionLink("Approve/Reject/Rights allocations ", "UserApproval", "User")</li>
                                                <li>@Html.ActionLink("Modify Users/Reset password", "RegisterChurchUserModify", "User")</li>
                                               
                                       </ul>
                                        </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Repayments Management</a>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Repayments", "ListLoanRefs", "RePayment")</li>
                                                    <li>@Html.ActionLink("Pay Bills ", "Payl", "User")</li>
                                                    @*<li>@Html.ActionLink("Modify Users/Reset password", "RegisterChurchUserModify", "User")</li>*@
                                                </ul>
                                            </li>
                                    }}


                                @{ if (clientregister.ToString() == "")
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Client Register</a>
                                            <ul class="dropdown-menu">
                                                @*<li>@Html.ActionLink("Call Logs", "CallLogs", "SMS")</li>*@
                                                @*<li>@Html.ActionLink("MPESA Messages", "Lu", "SMS")</li>**@
                                                <li>@Html.ActionLink("Loan Users", "LoanUserss", "SMS")</li>
                                                <li>@Html.ActionLink("BlackList Users", "BListDates", "SMS")</li>
                                                @*<li>@Html.ActionLink("White List Users", "WList", "SMS")</li>*@
                                            </ul>
                                        </li>
                                    }}

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">General Enquiries</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Loans Applied", "AppliedLoans", "Loans")</li>
                                        <li>@Html.ActionLink("Loans Disbursed", "LoansDisbursed", "Loans")</li>
                                        <li>@Html.ActionLink("Loans Pending Review", "PendingReview", "Loans")</li>
                                        <li>@Html.ActionLink("Reviewed Loans", "ReviewedLoans", "Loans")</li>
                                        <li>@Html.ActionLink("Rejected Reviews", "RejectedLoans", "Loans")</li>
                                        <li>@Html.ActionLink("Overpaid Loans", "overpaidloan", "Loans")</li>
                                        <li>@Html.ActionLink("Loan Types", "ViewLoanTypes", "Loans")</li>
                                        <li>@Html.ActionLink("Loan statements", "loanrepaymentsdata", "Loans")</li>
                                        <li>@Html.ActionLink("Shopping Details", "ShoppingDetails", "Loans")</li>
                                        <li>@Html.ActionLink("Redeem Discount", "redeeemdiscount", "Loans")</li>


                                    </ul>
                                </li>
                                @*<li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Salary Advance</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Applied SalaryAdvance", "AppliedSalaryAdvance", "SalaryAdvance")</li>
                                        <li>@Html.ActionLink("SalaryAdvance Pending Review", "LoansPendingReview", "SalaryAdvance")</li>
                                        <li>@Html.ActionLink("Accepted By HR Loans", "AcceptedByHRloans", "SalaryAdvance")</li>
                                        <li>@Html.ActionLink("Rejected By HR Loans", "RejectedByHRLoans", "SalaryAdvance")</li>
                                        <li>@Html.ActionLink("Loans Disbused", "SalaryAdvanceDisbursed", "SalaryAdvance")</li>
                                    </ul>
                                </li>*@


                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Payment Modules</a>
                                    <ul class="dropdown-menu">

                                        <li>@Html.ActionLink("View Unpaid Loans", "UnpaidLoans", "Loans")</li>
                                        <li>@Html.ActionLink("View partially paid loans", "PartiallyPaidLoans", "Loans")</li>
                                        <li>@Html.ActionLink("View Paid Loans", "PaidLoans", "Loans")</li>
                                        <li>@Html.ActionLink("View OverDue Loans", "OverDueLoans", "Loans")</li>
                                        <li>@Html.ActionLink("View OverDue Loans", "OverDueInstallments", "Loans")</li>


                                    </ul>
                                </li>

                                @{  if (parameters.ToString() == "")
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Parameters</a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Register SuperMarkets", "RegisterSupermarkets", "Supermarkets")</li>
                                                <li>@Html.ActionLink("Register Supermarket Stock", "RegisterStockItems", "Supermarkets")</li>
                                                <li>@Html.ActionLink("Register Supermarket vendors", "Registervendors", "Supermarkets")</li>


                                                @*<li>@Html.ActionLink("Register SuperMarkets Attendants", "Registerattendands", "Supermarkets")</li>
                                                <li>@Html.ActionLink("Register Other Paybill Vendors", "RegisterVendors", "Vendors")</li>
                                                <li>@Html.ActionLink("Register Salvon Branches", "RegisterSalvonBranches", "Branches")</li>
                                                <li>@Html.ActionLink("Register Employers", "RegisterEmployers", "Employers")</li>*@
                                                <li>@Html.ActionLink("Loan Rates", "RegisterAdminFee", "AdminFee")</li>
                                                <li>@Html.ActionLink("Register Loan Types", "loanTypes", "Loans")</li>

                                                <li>@Html.ActionLink("Filter Stock Items", "FilterStockItems", "Supermarkets")</li>
                                            </ul>
                                        </li>
                                    }}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">ChartOfAccounts</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Create Account", "RegisterAccounts", "ChartOfAccounts")</li>
                                        <li>@Html.ActionLink("View Account", "ModifyAccounts", "ChartOfAccounts")</li>

                                    </ul>
                                </li>
                                @*<li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Upload</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Upload users", "Upload", "Csv")</li>
                                        <li>@Html.ActionLink("Upload statement", "Statement", "Csv")</li>
                                        <li>@Html.ActionLink("Upload phone", "phonestatement", "Csv")</li>


                                    </ul>
                                </li>*@
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Billing</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("View Billings ", "Index", "Fincharges")</li>
                                        <li>@Html.ActionLink("Daily Billings", "DailyInterest", "Fincharges")</li>
                                        <li>@Html.ActionLink("Monthly Billings", "MonthlyInterest", "Fincharges")</li>


                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Members</a>
                                    <ul class="dropdown-menu">
                                        @*<li>@Html.ActionLink("Payments", "loans", "Sacco")</li>*@
                                        
                                        <li>@Html.ActionLink("View Members", "index", "Sacco")</li>
                                        <li>@Html.ActionLink("Cash Advance AutoMembers", "AutoDisburse", "Sacco")</li>
                                        <li>@Html.ActionLink("AirTime AutoMembers", "AirtimeAutoDisburse", "Sacco")</li>
                                        <li>@Html.ActionLink("Pending Members", "pending", "Sacco")</li>
                                        <li>@Html.ActionLink("View Contribution", "index", "Safcon")</li>
                                        <li>@Html.ActionLink("Add Member", "AddMember", "Sacco")</li>
                                        <li>@Html.ActionLink("Add Contribution", "Contribution", "Safcon")</li>
                                        
                                       


                                    </ul>
                                </li>
                                @*<li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Members Reports</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Members", "RedirectToMembers", "Report")</li>
                                        <li>@Html.ActionLink("statement", "Statement", "Csv")</li>


                                    </ul>
                                </li>*@
                          @{ if (Approvals.ToString() == "")
                              {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Approvals</a>
                                    <ul class="dropdown-menu">
                                        @*<li>@Html.ActionLink("Payments", "loans", "Sacco")</li>*@

                                        <li>@Html.ActionLink("Approve Member", "AddMember", "SaccoAdmin")</li>
                                        <li>@Html.ActionLink("Approve Delete", "DeleteMember", "SaccoAdmin")</li>
                                        <li>@Html.ActionLink("Approve Contribution", "Contribution", "SafconAdmin")</li>
                                       
                                        <li>@Html.ActionLink("Approve Repayments", "Repay", "RePayment")</li>
                                        <li>@Html.ActionLink("Approve Cash Autodisburse", "updateauto", "Sacco")</li>
                                        <li>@Html.ActionLink("Approve  AirTime Autodisburse", "updateAirauto", "Sacco")</li>
 
                                         <li>@Html.ActionLink("Deposits", "AddDeposits", "Deposits")</li>
                                        <li>@Html.ActionLink("Withdrawals", "AddWithdrawals", "Withdrawals")</li>
                                        <li>@Html.ActionLink("Transfers", "AddTransfer", "Transfers")</li>
                                       



                                    </ul>
                                </li>
                                  } }
                                @{ if (Editapprovals.ToString() == "")
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Members</a>
                                            <ul class="dropdown-menu">
                                                @*<li>@Html.ActionLink("Payments", "loans", "Sacco")</li>*@

                                                <li>@Html.ActionLink("Edit Members", "index", "Saccoedits")</li>
                                                <li>@Html.ActionLink("Edit Contribution", "Contribution", "Safconedits")</li>




                                            </ul>
                                        </li>
                                    } }
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Client Reports</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Client Reports", "ReportLoader", "Reports")</li>
                                        <li>@Html.ActionLink("sales Report", "shoppingdetailsReport", "Reports")</li>
                                        <li>@Html.ActionLink("stock Items", "stockitemsdetails", "Reports")</li>
                                        <li>@Html.ActionLink("Outlet Report", "outletsdetails", "Reports")</li>
                                        <li>@Html.ActionLink("Audit Trail", "audittraildetails", "Reports")</li>
                                        <li>@Html.ActionLink("Audit Trail Listing", "audittrail", "Loans")</li>




                                    </ul>
                                </li>
                                @{  if (accounts.ToString() == "")
                                    {

                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts Reports</a>
                                            <ul class="dropdown-menu">

                                                <li>@Html.ActionLink("Accounts Audit Statement", "statementsDetails", "Reports")</li>
                                                <li>@Html.ActionLink("Ageing Report", "ReportLoaderAging", "Reports")</li>
                                                <li>@Html.ActionLink("Ledger Report", "ReportLoaderLedgers", "Reports")</li>
                                                <li>@Html.ActionLink("Reconciliation Report", "ReportLoaderReconciliation", "Reports")</li>
                                                <li>@Html.ActionLink("Trial Balance Report", "ReportLoaderTrialbalance", "Reports")</li>


                                            </ul>
                                        </li>   }}

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer Enquiries</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Send Message", "SendMessage", "CustomerEnquiries")</li>

                                        <li>@Html.ActionLink("Customer Enquiries", "CustomerEnquiries", "CustomerEnquiries")</li>
                                        <li>@Html.ActionLink("Responded Enquiries", "RespondedEnquiries", "CustomerEnquiries")</li>
                                        <li>@Html.ActionLink("Reminder Messages", "Remindermessages", "CustomerEnquiries")</li>
                                        <li>@Html.ActionLink("Call Logs", "CallLogs", "SMS")</li>
                                        <li>@Html.ActionLink("MPESA Messages", "SMSLogs", "SMS")</li>
                                        <li>@Html.ActionLink("Portal Messages", "othersms", "SMS")</li>

                                    </ul>
                                </li>

                                <!--<li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Test Function</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Load Dates", "DisplayDates", "Test")</li>
                                </ul>
                            </li>-->
                                @*<li class="dropdown">
                                    <a class="dropdown-toggle" data-togg
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Tools", "Tools", "Loans")</li>
                                    </ul>
                                </li>*@
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-togg
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Logout</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Log Off", "Login", "Account")</li>
                                    </ul>
                                </li>
                            </ul>


                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </section>

            @RenderBody()
        
        </div>
    <!-- /container -->
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
