﻿<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>User Login</title>
    <link rel="icon" href="@Url.Content("~/Content/Images/krayicon.ico")" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body style='overflow-y: hidden;overflow-x: hidden'>
    <div class="container">
        <header>
            <div style='color:white;font-size:24px;font-style:bold;float-left;'>
                <img class="logo" src="~/Content/images/slogos.png" style="margin-right:100px;height:60px;width:60px">
                <span style="font-family:Lora;font:bolder;margin-left:220px;color:green">SALVON AFRICA ADMINISTRATION PORTAL</span>


            </div>
        </header>
    </div>

    <div id="body" style="background-image: url(https://counterone.net/Tsalvonastrol/Images/two.jpg);">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <!-- /container -->
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
<!--<footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p style='color: white;padding-top:30px;font-size:18px'>Powered by Finsol Technologies. Copyright &copy; @DateTime.Now.Year </p>
        </div>
        <div class="float-right">
            <p style='color: white;padding-top:30px;font-size:18px'>    <img class="logo" src="~/Content/images/finlogo.png" height="100" width="120"></p>
        </div>
    </div>

</footer>-->
</html>