﻿<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="~/Content/sjquery/jquery-3.0.0.js"></script>
    <link href="~/Content/jquery-uis.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/sjquery/jquery-ui.min.js"></script>
    <script src="~/Content/sjquery/jquery-migrate-3.0.0.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/bootstrap.min.js.js"></script>
    <script src="~/Scripts/jquery.min.js.js"></script>
    <title>Salvon Africa </title>
    @RenderSection("scripts", required: false)
    <!-- Global stylesheets -->

    <link href="https://fonts.googleapis.com/css?family=Lora|Thasadith" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/global_assets/js/main/jquery.min.js"></script>
    <script src="~/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="~/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    @*<script src="~/global_assets/js/plugins/pickers/daterangepicker.js"></script>*@

    <script src="~/Content/assets/js/app.js"></script>
    <script src="~/global_assets/js/KRAY_pages/dashboard.js"></script>
    <!-- /theme JS files -->

</head>





@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bps = new TestNAVBAR.Models.ListDatabaseElements();

    var results = bps.LoansForReview360xdashboard();
    var res = results.Split('|');
    Session["appliedloans"] = res[0];
    Session["loanspendingreview"] = res[1];
    Session["loansdisuburesd"] = res[2];
    Session["shoppingsummary"] = res[3];
    Session["loansrejected"] = res[4];
    Session["totaldisbursed"] = res[6];
    Session["shoppingdisbursed"] = res[5];
    Session["smsbalance"] = res[8];
    Session["paybillbalance"] = res[7];
    Session["SDaily"] = res[9];
    Session["SMonthly"] = res[10];
    Session["MDaily"] = res[11];
    Session["MMonthly"] = res[12];
    Session["EMonthly"] = res[14];
    Session["EDaily"] = res[13];
    Session["totalrepayment"] = res[15];
    Session["mtotalrepayment"] = res[16];
    Session["ytotalrepayment"] = res[17];
    Session["cDailycharges"] = res[18];
    Session["cMonthlycharges"] = res[19];
    Session["totalsms"] = res[20];
    Session["mtotalsms"] = res[21];
    Session["ytotalsms"] = res[22];
    Session["totalsmsresponded"] = res[23];
    Session["totalsmspending"] = res[24];

    Session["atotaldisbursed"] = res[25];
    Session["Nusers"] = res[26];
    Session["Dusers"] = res[28];
    Session["Tusers"] = res[27];
    Session["loggedusers"] = res[29];
    Session["Totalusers"] = res[30];
    Session["Totalmonthlyloans"] = res[31];
    Session["Totalyearlyloans"] = res[32];
    Session["Loanamount"] = res[33];
    Session["profit"] = res[34];
    Session["BULK"] = res[35];

    Session["smsinquiries"] = bps.inquiries();

    List<string>
    errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }

}
@{
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    string clientregister = "dontdisplay";
    string parameters = "dontdisplay";
    string usermanagement = "dontdisplay";
    string accounts = "dontdisplay";
    string isAdmin = "dontdisplay";
    string Editapprovals = "dontdisplay";
    string Approvals = "dontdisplay";
    string Savings = "dontdisplay";
    string Billings = "dontdisplay";
    string floatmngt = "dontdisplay";
    if (TestNAVBAR.Controllers.MyGlobalVariables.username != null || TestNAVBAR.Controllers.MyGlobalVariables.username != "")
    {
        Session["smsinquiries"] = bp.inquiries();


        Dictionary<string, string> userrights = (Dictionary<string, string>)TestNAVBAR.Controllers.MyGlobalVariables.userrightsx;
        Dictionary<string, string> userrightUsers = (Dictionary<string, string>)Session["userrightsuserspecific"];

        bp.getrights();

        userrightUsers = TestNAVBAR.Controllers.MyGlobalVariables.userrightsx;


        if (userrights == null || userrights.Count <= 0)
        {
            userrights = (Dictionary<string, string>)Session["userrights"];

        }

        if (userrights != null && userrights.Count > 0)
        {
            if (userrights["userlevel"].ToString() == "admin")
            {
                //clientregister = "";
                //parameters = "";
                //usermanagement = "";
                //accounts = "";
                //isAdmin = "";
                //userrights["usermanagement"] = "1";
                //Billings = "";
                //Savings = "";
            }

            if (userrights["clientregister"].ToLower().Equals("1"))
            {
                clientregister = "";
            }

            if (userrights["parameters"].ToLower().Equals("1"))
            {
                parameters = "";
            }

            if (userrights["usermanagement"].ToLower().Equals("1"))
            {
                usermanagement = "";
            }

            if (userrights["Editapprovals"].ToLower().Equals("1"))
            {
                Editapprovals = "";
            }
            if (userrights["accounts"].ToLower().Equals("1"))
            {
                accounts = "";
            }
            if (userrights["Approvals"].ToLower().Equals("1"))
            {
                Approvals = "";
            }
            if (userrights["Savings"].ToLower().Equals("1"))
            {
                Savings = "";
            }
            if (userrights["floatmngt"].ToLower().Equals("1"))
            {
                floatmngt = "";
            }

        }
    }
}
<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark" style="font-family:Lora, sans-serif">
        <div class="navbar-brand">
            <a href="" class="d-inline-block">
                @*// <img src="~/global_assets/images/spot.jpq" alt="">*@
                <img src="~/Content/images/slogos.png" style="height:50px;width:50px" />
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                        <i class="icon-git-compare"></i>
                        <span class="d-md-none ml-2">Active</span>
                        <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">@Session["loggedusers"]</span>
                    </a>


                </li>
            </ul>

            <span class="badge bg-success ml-md-3 mr-md-auto">Logged users</span>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                        <i class="icon-people"></i>
                        <span class="d-md-none ml-2">System Users</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-300">


                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-grey mr-auto">All users</a>
                            <a href="#" class="text-grey"><i class="">@Session["Totalusers"]</i></a>
                        </div>
                    </div>
                </li>



                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user icon-2x"></i>
                        <span>@Session["username"]</b>&nbsp;&nbsp;</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-divider"></div>
                        <a href="~/Account/Login" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md" style="font-family:Lora, sans-serif">

            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <a href="#">
                                    <i class="icon-user icon-3x"></i>
                                </a>
                            </div>

                            <div class="media-body">
                                <div class="media-title font-weight-semibold">@Session["username"]</b>&nbsp;&nbsp;</div>
                                <div class="font-size-xs opacity-50">
                                    <i class="icon-pin font-size-sm"></i> &nbsp;Nairobi, Kenya
                                </div>
                            </div>

                            <div class="ml-3 align-self-center">
                                <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li class="nav-item-header">
                            <div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i>
                        </li>
                        <li class="nav-item">
                            <a href="~/dashhome/index" class="nav-link active">
                                <i class="icon-home4"></i>
                                <span>
                                    Dashboard
                                </span>
                            </a>
                        </li>

                        @{ if (clientregister.ToString() == "")
                            {
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Client Register</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts" style="color:yellow">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active">App Members</a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Sacco/AddMembers" class="nav-link active">Add Members</a></li>
                                                <li class="nav-item"><a href="~/Sacco/Pendingmembers" class="nav-link active">View pending</a></li>
                                                <li class="nav-item"><a href="~/Sacco/members" class="nav-link active">Registered members</a></li>
                                                <li class="nav-item"><a href="~/Sacco/ThirdPartyPending" class="nav-link active">ThirdP Pending Members</a></li>
                                                <li class="nav-item"><a href="~/Sacco/ThirdParty" class="nav-link active">ThirdP Members</a></li>
                                                <li class="nav-item"><a href="~/Sacco/Membersrejected" class="nav-link active">Rejected Members</a></li>
                                                <li class="nav-item"><a href="~/SMS/BListDates" class="nav-link active">Blacklisted Users</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active">Ussd Members</a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Sacco/TPUssdmembers" class="nav-link active">NewTPUSSD Members</a></li>
                                                <li class="nav-item"><a href="~/Sacco/Newpin" class="nav-link active">Create Pin</a></li>
                                                <li class="nav-item"><a href="~/Sacco/ussd" class="nav-link active">Ussd Applicants</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active">Auto Disbursements</a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Sacco/AutoDisburse" class="nav-link active">Cash Members</a></li>
                                                <li class="nav-item"><a href="~/Sacco/AirtimeAutoDisburse" class="nav-link active">Airtime  Members</a></li>

                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active">Uploads</a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Pdf/index" class="nav-link active">Upload Pdf</a></li>
                                                <li class="nav-item"><a href="~/Csv/Scams" class="nav-link active">Upload Scams</a></li>
                                                <li class="nav-item"><a href="~/Sacco/scams" class="nav-link active">Scams Members</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active">Advances/commissions</a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Sacco/SalvonAdvance" class="nav-link active">Salvon Advance</a></li>
                                                <li class="nav-item"><a href="~/Sacco/viewcommission" class="nav-link active">View Commission</a></li>

                                            </ul>
                                        </li>



                                        @*<li class="nav-item"><a href="~/SMS/LoanUserss" class="nav-link active">Loan Users</a></li>*@

                                    </ul>
                                </li>
                            } }

                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Loan Inquiries</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="~/Loans/LoansDisbursed" class="nav-link active">Disbursed Loan</a></li>
                                @{ if (Approvals.ToString() == "")
                                    {
                                        <li class="nav-item"><a href="~/Loans/PendingReview" class="nav-link active">Loans Pending Review</a></li>
                                    } }
                                @*<li class="nav-item"><a href="~/Loans/Leads" class="nav-link active">Secured loans Pending Review</a></li>
                    <li class="nav-item"><a href="~/Loans/ActionedLeads" class="nav-link active">Secured loans Approved</a></li>*@
                                <li class="nav-item"><a href="~/Loans/ReviewedLoans" class="nav-link active">Reviewed Loans</a></li>
                                <li class="nav-item"><a href="~/Loans/RejectedLoans" class="nav-link active">Rejected Review </a></li>
                                @*<li class="nav-item"><a href="~/AdminFee/ViewloantypesFee" class="nav-link active">Loan Types</a></li>*@
                                <li class="nav-item"><a href="~/AdminFee/RegisterAdminFee" class="nav-link active">Loans Rates</a></li>
                                <li class="nav-item"><a href="~/Loans/ViewLoanTypes" class="nav-link active">RLoans Types</a></li>
                                @*<li class="nav-item"><a href="~/AdminFee/AddmembershipFee" class="nav-link active">Register LoanFee</a></li>*@
                                @{ if (Approvals.ToString() == "")
                                    {
                                        @*<li class="nav-item"><a href="~/AdminFee/membershipFee" class="nav-link active">Loans Fees</a></li>*@
                                    } }
                                <li class="nav-item"><a href="~/Loans/loanrepaymentsdata" class="nav-link active">Loan Statement</a></li>
                            </ul>
                        </li>

                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Payments Transactions</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="~/Loans/UnpaidLoans" class="nav-link active">Unpaid Loans</a></li>
                                <li class="nav-item"><a href="~/Loans/PartiallyPaidLoans" class="nav-link active">Partialy Paid Loans</a></li>
                                <li class="nav-item"><a href="~/Loans/PaidLoans" class="nav-link active">Paid Loans</a></li>
                                <li class="nav-item"><a href="~/Loans/overpaidloan" class="nav-link active">Overpaid Loans</a></li>
                                <li class="nav-item"><a href="~/Loans/OverDueLoans" class="nav-link active">Ovedue Loans</a></li>
                            </ul>
                        </li>
                        @{ if (Approvals.ToString() == "")
                            {
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Approvals</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item"><a href="~/Loans/LoansDisbursedapproval" class="nav-link active">Loan Reversals</a></li>
                                        <li class="nav-item"><a href="~/RePayment/ListLoanRefs" class="nav-link active">Loan Payment</a></li>
                                        <li class="nav-item"><a href="~/RePayment/Repay" class="nav-link active">Approve Repayment</a></li>
                                        <li class="nav-item"><a href="~/Sacco/memberspendingapproval" class="nav-link active">Approve Pending members</a></li>
                                        <li class="nav-item"><a href="~/Saccoedits/index" class="nav-link active">Update Loan User's Details</a></li>
                                        <li class="nav-item"><a href="~/User/Payl" class="nav-link active">Pay Bills</a></li>
                                        <li class="nav-item"><a href="~/Sacco/Ptmemberspendingapproval" class="nav-link active">Approve TPMembers</a></li>
                                        <li class="nav-item"><a href="~/RePayment/Paymentrectification" class="nav-link active">Rectify Payments</a></li>
                                        <li class="nav-item"><a href="~/RePayment/Paymentrectificationapprovals" class="nav-link active">Approve Repayment Rectification</a></li>
                                        <li class="nav-item"><a href="~/RePayment/CheckPayments" class="nav-link active">Check missing Payments</a></li>
                                        <li class="nav-item"><a href="~/RePayment/Paymentapprovals" class="nav-link active">Approve found payments</a></li>
                                        <li class="nav-item"><a href="~/Loans/Penaltyapproval" class="nav-link active">Approve Penalties</a></li>

                                    </ul>
                                </li>
                            } }
                        @{ if (floatmngt.ToString() == "")
                            {
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Float Management</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item"><a href="~/Sacco/floatclients" class="nav-link active">Create Float Account</a></li>
                                        <li class="nav-item"><a href="~/Sacco/Float" class="nav-link active">View Approved Float Accounts</a></li>
                                        <li class="nav-item"><a href="~/Sacco/Floatapprovals" class="nav-link active"> Float Approval</a></li>
                                    </ul>
                                </li>
                            } }
                        @{ if (Savings.ToString() == "")
                            {
                                @*<li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Savings</span></a>
                        <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                            <li class="nav-item"><a href="~/Deposits/ViewsavingtypesFee" class="nav-link active">View savings Types</a></li>
                            <li class="nav-item"><a href="~/Deposits/Registersavingsypes" class="nav-link active">Register savings Rates</a></li>
                        </ul>
                    </li>*@
                            } }
                        @{ if (Editapprovals.ToString() == "")
                            {
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Billings</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item"><a href="~/Fincharges/MonthlyInterest" class="nav-link active">General Billing</a></li>
                                        <li class="nav-item"><a href="~/Fincharges/DailyInterest" class="nav-link active">Daily Billing</a></li>
                                        <li class="nav-item"><a href="~/Fincharges/Index" class="nav-link active">Monthly Billing</a></li>
                                    </ul>
                                </li>
                            } }
                        @{ if (isAdmin.ToString() == "")
                            {
                                @*<li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Vendor/Merchants Reports</span></a>
                        <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <span>Vendor</span>
                                </a>
                                <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                    <li class="nav-item"><a href="~/Supermarkets/RegisterSupermarkets" class="nav-link active">Register SuperMarkets</a></li>
                                    <li class="nav-item"><a href="~/Supermarkets/RegisterStockItems" class="nav-link active">Register SuperMarkets Stock</a></li>
                                    <li class="nav-item"><a href="~/Supermarkets/Registervendors" class="nav-link active">Register SuperMarkets vendors</a></li>
                                    <li class="nav-item"><a href="~/Supermarkets/FilterStockItems" class="nav-link active">Filter StockItems</a></li>
                                    <li class="nav-item"><a href="~/Loans/ShoppingDetails" class="nav-link active">Shopping Details</a></li>
                                    <li class="nav-item"><a href="~/Loans/redeeemdiscount" class="nav-link active">Redeem Discount</a></li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> <span>Merchant Reports</span>
                                </a>
                                <ul class="nav nav-group-sub" data-submenu-title="Layouts">

                                    <li class="nav-item"><a href="~/Reports/shoppingdetailsReport" class="nav-link active">Sales Report</a></li>
                                    <li class="nav-item"><a href="~/Reports/stockitemsdetails" class="nav-link active">Stock Items</a></li>
                                    <li class="nav-item"><a href="~/Reports/outletsdetails" class="nav-link active">Outlet Reports</a></li>

                                    <li class="nav-item"><a href="~/Reports/ReportLoader" class="nav-link active">Client Reports</a></li>
                                    <li class="nav-item"><a href="~/Reports/shoppingdetailsReport" class="nav-link active">Sales Report</a></li>
                                    <li class="nav-item"><a href="~/Reports/stockitemsdetails" class="nav-link active">Stock Items</a></li>
                                    <li class="nav-item"><a href="~/Reports/outletsdetails" class="nav-link active">Outlet Reports</a></li>
                                    <li class="nav-item"><a href="~/Reports/audittraildetails" class="nav-link active">Audit Report</a></li>
                                    <li class="nav-item"><a href="~/Loans/audittrail" class="nav-link active">Audit Report Listing</a></li>
                                </ul>
                            </li>
                        </ul>

                    </li>*@
                            } }
                        @{ if (accounts.ToString() == "")
                            {
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Debtors Management</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item"><a href="~/Debtors/AddDebtors" class="nav-link active">Add Debtors</a></li>
                                        <li class="nav-item"><a href="~/Debtors/ApprovedDebtors" class="nav-link active">Approved Debtors</a></li>
                                        <li class="nav-item"><a href="~/Debtors/RejectedDebtors" class="nav-link active">Rejected Debtors</a></li>
                                        <li class="nav-item"><a href="~/Debtors/DebtorsInvoice" class="nav-link active">Add Debtors Invoice</a></li>
                                        <li class="nav-item"><a href="~/Debtors/ApprovedInvoices" class="nav-link active">Approved Invoices</a></li>
                                        <li class="nav-item"><a href="~/Debtors/RejectedInvoices" class="nav-link active">Rejected Invoices</a></li>
                                        <li class="nav-item"><a href="~/Debtors/DebtorsInvoicepayments" class="nav-link active">Invoices Payments</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Creditors Management</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item"><a href="~/Creditors/AddCreditors" class="nav-link active">Add Creditors</a></li>
                                        <li class="nav-item"><a href="~/Creditors/ApprovedCreditors" class="nav-link active">Approved Creditors</a></li>
                                        <li class="nav-item"><a href="~/Creditors/RejectedCreditors" class="nav-link active">Rejected Creditors</a></li>
                                        <li class="nav-item"><a href="~/Creditors/CreditorsInvoice" class="nav-link active">Add Creditors Invoices</a></li>
                                        <li class="nav-item"><a href="~/Creditors/ApprovedInvoices" class="nav-link active">Approved Invoices</a></li>
                                        <li class="nav-item"><a href="~/Creditors/RejectedInvoices" class="nav-link active">Rejected Invoices</a></li>

                                    </ul>
                                </li>
                            } }
                        @{ if (accounts.ToString() == "")
                            {
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Accounts/Admin Reports</span></a>

                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active">Charts of Account</a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Journentries/Journal" class="nav-link active">Add Journal Entries</a></li>
                                                <li class="nav-item"><a href="~/ChartOfAccounts/RegisterAccounts" class="nav-link active">Create Account</a></li>
                                                <li class="nav-item"><a href="~/ChartOfAccounts/ModifyAccounts" class="nav-link active">View Account</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active">Audit</a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Reports/statementsDetails" class="nav-link active">Accounts Audit Statement</a></li>
                                                <li class="nav-item"><a href="~/Loans/audittrail" class="nav-link active">Audit Report Listing</a></li>
                                                <li class="nav-item"><a href="~/Reports/audittraildetails" class="nav-link active">Audit Report</a></li>
                                            </ul>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active">Ledger Reports</a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Reports/ReportLoaderLedgers" class="nav-link active">Digital Ledger Reports</a></li>
                                                <li class="nav-item"><a href="~/Reports/ReportLoaderLedgersOthers" class="nav-link active"> Other Ledger Reports</a></li>

                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active">Statements</a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Reports/ReportLoaderBalancesheet" class="nav-link active">Balancesheet Report</a></li>
                                                <li class="nav-item"><a href="~/Reports/ReportLoaderIncomestatement" class="nav-link active">Income Statement Report</a></li>

                                            </ul>
                                        </li>
                                        
                                        @*<li class="nav-item"><a href="~/Reports/ReportLoaderLedgers" class="nav-link active">Ledger Report</a></li>*@
                                        <li class="nav-item"><a href="~/Reports/ReportLoaderAging" class="nav-link active">Digital Age Report</a></li>
                                        <li class="nav-item"><a href="~/Reports/ReportLoaderReconciliation" class="nav-link active">Reconciliation Report</a></li>
                                        <li class="nav-item"><a href="~/Reports/ReportLoaderTrialbalance" class="nav-link active">Trial Balance Report</a></li>
                                        <li class="nav-item"><a href="~/Reports/ReportLoader" class="nav-link active">Transaction Reports</a></li>
                                        <li class="nav-item"><a href="~/Reports/ReportLoadernewaging" class="nav-link active">PAR </a></li>
                                        @*<li class="nav-item"><a href="~/Reconciliation/Index" class="nav-link active">Reconciliation</a></li>*@
                                        

                                    </ul>
                                </li>
                            } }
                        @{ if (usermanagement.ToString() == "")
                            {
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>User Management</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item nav-item-submenu">
                                            <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Portal User</span></a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/User/RegisterUser" class="nav-link active">Create user</a></li>
                                                <li class="nav-item"><a href="~/User/UserApproval" class="nav-link active">Approve/Reject/Assign Rights</a></li>
                                                <li class="nav-item"><a href="~/User/RegisterChurchUserModify" class="nav-link active">Modify/Reset user</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-item-submenu">
                                            <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Field Officer</span></a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/User/Registerloanofficers" class="nav-link active">Create field officer</a></li>
                                                <li class="nav-item"><a href="~/User/Registerloanofficer" class="nav-link active">Approve/Reject/Assign Rights</a></li>
                                                <li class="nav-item"><a href="~/User/RegisterofficerModify" class="nav-link active">Modify/Reset Officer</a></li>
                                            </ul>
                                        </li>
                                        @*<li class="nav-item nav-item-submenu">
                                            <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Loan Inquiries</span></a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Loans/fLoansDisbursed" class="nav-link active">Disbursed Loan</a></li>
                                            </ul>
                                        </li>*@


                                    </ul>
                                </li>
                            } }
                        @{ if (usermanagement.ToString() == "")
                            {
                                <li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Float Lite</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item nav-item-submenu">
                                            <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Float Admin</span></a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Sacco/PendingFLAdmins" class="nav-link active">All Float Admin</a></li>
                                                @*<li class="nav-item"><a href="~/Sacco/ApprovedFLAdmins" class="nav-link active">Approved Float Admin</a></li>*@
                                                @*<li class="nav-item"><a href="~/Sacco/RejectedFLAdmins" class="nav-link active">Rejected Float Admin</a></li>*@
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-item-submenu">
                                            <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Float Clients</span></a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Sacco/floatpendingmember" class="nav-link active">Pending Float Members</a></li>
                                                <li class="nav-item"><a href="~/Sacco/floatapprovedmembers" class="nav-link active">Approved Float Members</a></li>
                                                <li class="nav-item"><a href="~/Sacco/RejectedFLAdmins" class="nav-link active">Rejected Float Members</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-item-submenu">
                                            <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Float Accounts</span></a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Sacco/Floataccounts" class="nav-link active">Topup Accounts</a></li>
                                                <li class="nav-item"><a href="~/Sacco/pendingFloataccounts" class="nav-link active">Pending Topup Accounts</a></li>
                                                <li class="nav-item"><a href="~/Sacco/allfloatstatements" class="nav-link active">Float Statement</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item nav-item-submenu">
                                            <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Loan Inquiries</span></a>
                                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a href="~/Loans/fLoansDisbursed" class="nav-link active">Disbursed Loan</a></li>
                                                <li class="nav-item"><a href="~/Loans/PendingReviewFL" class="nav-link active">Loans Pending Review</a></li>
                                                <li class="nav-item"><a href="~/Loans/UnpaidLoansFL" class="nav-link active">Unpaid Loans</a></li>
                                                <li class="nav-item"><a href="~/Loans/PartiallyPaidLoansFL" class="nav-link active">Partialy Paid Loans</a></li>
                                                <li class="nav-item"><a href="~/Loans/PaidLoansFL" class="nav-link active">Paid Loans</a></li>
                                                @*<li class="nav-item"><a href="~/Loans/overpaidloansFL" class="nav-link active">Overpaid Loans</a></li>*@
                                                <li class="nav-item"><a href="~/Loans/OverDueLoansFL" class="nav-link active">Ovedue Loans</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            } }
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-folder-close"></i> <span>Customer Inquiries</span></a>

                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="~/CustomerEnquiries/SendMessage" class="nav-link active">Send Message</a></li>
                                <li class="nav-item"><a href="~/CustomerEnquiries/CustomerEnquiries" class="nav-link active">Customer Inquiries</a></li>
                                <li class="nav-item"><a href="~/CustomerEnquiries/RespondedEnquiries" class="nav-link active">Responded Inquiries</a></li>
                                <li class="nav-item"><a href="~/CustomerEnquiries/Remindermessages" class="nav-link active">Reminder Messages</a></li>
                                <li class="nav-item"><a href="~/SMS/CallLogs" class="nav-link active">Call Logs</a></li>
                                @*<li class="nav-item"><a href="~/SMS/SMSLogs" class="nav-link active">Mpesa Messages</a></li>*@
                                
                                <li class="nav-item"><a href="~/SMS/othersms" class="nav-link active">PORTAL Messages</a></li>
                                <li class="nav-item"><a href="~/pdf/mpesamessages" class="nav-link active">mpesa statements</a></li>
                            </ul>
                        </li>

                        <!-- /page kits -->
                    </ul>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <!-- /main content -->
        <div>
            @RenderBody()
        </div>
    </div>
    <!-- /page content -->

</body>
</html>
<script language="javascript" type="text/javascript">

var t;
                   window.onload=resetTimer;
                   document.onkeypress=resetTimer;

                   function logout()
                   {

                       alert(" You are now logged out.")
    location.href = 'http://34.238.242.42:3370/SALVONTEST/Account/Login'


        }
                   function resetTimer()
        {
                       clearTimeout(t);
                       t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>