﻿@{
    Layout = "~/Views/Shared/_BootstrapLayout1.cshtml";
}

<h4 class="content-wrapper" style="padding-bottom:11px"> Repayment Correction :</h4>
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Repayment Correction";
}

<hgroup class="title">
    <h1 class="error">Success</h1>
    <h2 class="error">The correction has been completed successfully.</h2>
</hgroup>





