﻿@*<h4 class="content-wrapper" style="padding-bottom:11px">Filter Loans Applied: @ViewData["recordid"]</h4>*@


<script language="javascript" type="text/javascript">
  $(document).ready(function() {
  var a="";
   if(navigator.userAgent.indexOf("Firefox") != -1 )
    {
         //alert('Firefox');
         a='firefox';
    }

$(function () {
var b=a;
if(a=='firefox'){ $('.date-picker').datepicker();
}else{
$('#StartDate').datepicker();
}
        // This will make every element with the class "date-picker" into a DatePicker element

    });

});
</script>
<script language="javascript" type="text/javascript">

      function Postsubmit() {
          var result = confirm("Are you sure you want to use the selection Criteria above?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }

</script>

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.RegisteredChurchUserApproved;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info content-wrapper">
        <fieldset>
            <legend>Create User</legend>
            <p>
                <label>start Date</label>
                @Html.TextBoxFor(model => bp.startdate, "", new { @class = "form-control date-picker datepicker", placeholder = "Enter start date here", type = "date" })

                <!--@Html.TextBoxFor(model => bp.startdate, new { @class = "form-control ui-datepicker", placeholder = "Enter Drop-off date here...", type = "text",id="ui-datepicker",style = "width:150px" })-->

                <label></label>
                <label>End Date</label>
                @Html.TextBoxFor(model => bp.enddate, new { @class = "form-control  date-picker datepicker", placeholder = "Enter End date here", type = "date" })
            </p>
            <p>
                <br></br>
                <label>MPESA No</label>
                @Html.TextBox("mpesano", @ViewData["mpesano"])
            </p>
            <p>
                <br></br>
                <legend>Actions</legend>
                <input name="approve" type="submit" value="Load" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                @*<input name="print" type="submit" value="Print" id="printButton" onclick="javascript:return Postsubmit();" />*@
            </p>
        </fieldset>
    </div>
}
