﻿@{
    Layout = "~/Views/Shared/_BootstrapLayout1.cshtml";
}
<script language="javascript" type="text/javascript">
  function Remove_ScrollBars(){
  document.documentElement.style.overflow = 'hidden';  // firefox, chrome
  document.body.scroll = "no"; // ie only
  }

  window.onload=Remove_ScrollBars();
  function Postsubmit() {
  var result = confirm("Are you sure you want to Save the information?");
  if (result) {
  return true;
  } else {
  return false;
  }
  }
</script>
<div class="message-info content-wrapper">
    <hgroup class="title">
       <h1>Employee information and loan approval details saved successfully</h1>
        <br /></br>
       <p> We have notified the applicant of the salary advance verdict set by HR.Thank you.</p>
          </hgroup>


</div>