﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="text-center">Aging Report</h4>
@model TestNAVBAR.Models.ListDatabaseElements

@*<h4 class="content-wrapper" style="padding-bottom:10px;margin-left:250px;">Loan Users <br />NB: Phone numbers must start with 2547xxxxxxx</h4>*@

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
    location.href = 'http://192.168.0.5/DigitalM/Account/Login'
            }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-3.3.1.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script language="javascript" type="text/javascript">

$(document).ready(function() {
    $('#MyTable').DataTable({
        "aLengthMenu": [[100, 400, , 800, 1000, -1], [100, 400, 800, 1000, "ALL"]],
            "dom": 'Bfrtip',
            "buttons": [
            {
                "extend": 'copyHtml5', footer: true,
                "messageTop": 'PAR.'
            },
            {
                "extend": 'excelHtml5', footer: true,
                "messageTop": 'PAR.'
            },
            {
                "extend": 'csvHtml5', footer: true,
                "messageTop": 'PAR.'
            },
            {
                "extend": 'pdfHtml5', footer: true,
                "messageTop": 'PAR.'
            },
            {
                "extend": 'print',
                "messageTop": 'PAR.'

            }



            ],
            "iDisplayLength": 800,
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
                //var apis = this.apis(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                        i : 0;
                };
                //totals = apis
                //   .column(3)
                //   .data()
                //   .reduce(function (a, b) {
                //       return intVal(a) + intVal(b);
                //   }, 0);

                //// Total over this page
                //pageTotal = apis
                //    .column(3, { page: 'current' })
                //    .data()
                //    .reduce(function (a, b) {
                //        return intVal(a) + intVal(b);
                //    }, 0);

                //// Update footer
                //$(apis.column(3).footer()).html(
                //    'Ksh: ' + pageTotal
                //);
                // Total over all pages
                var columnData = api
                .column(2)
                 .data();

                var theColumnTotal = columnData
                    .reduce(function (a, b) {
                        if (isNaN(a)) {
                            return '';
                        } else {
                            a = parseFloat(a);
                        }
                        if (isNaN(b)) {
                            return '';
                        } else {
                            b = parseFloat(b);
                        }
                        return (a + b).toFixed(2);
                    }, 0);
                total2 = api
                   .column(2)
                   .data()
                   .reduce(function (a, b) {
                       return intVal(a) / intVal(b);
                   }, 0);

                total3 = api
                    .column(3)
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                total = api
                   .column(7)
                   .data()
                   .reduce(function (a, b) {
                       return intVal(a) + intVal(b);
                   }, 0);
                pageTotals = api
                    .column(5, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over this page
                pageTotal = api
                    .column( 6, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                pageTotal7 = api
                   .column(7, { page: 'current' })
                   .data()
                   .reduce(function (a, b) {
                       return intVal(a) + intVal(b);
                   }, 0);
                pageTotal8 = api
                  .column(8, { page: 'current' })
                  .data()
                  .reduce(function (a, b) {
                      return intVal(a) + intVal(b);
                  }, 0);
                pageTotal9 = api
                   .column(9, { page: 'current' })
                   .data()
                   .reduce(function (a, b) {
                       return intVal(a) + intVal(b);
                   }, 0);
                pageTotal10 = api
                   .column(10, { page: 'current' })
                   .data()
                   .reduce(function (a, b) {
                       return intVal(a) + intVal(b);
                   }, 0);
                pageTotal11 = api
                   .column(11, { page: 'current' })
                   .data()
                   .reduce(function (a, b) {
                       return intVal(a) + intVal(b);
                   }, 0);
                pageTotal12 = api
                  .column(12, { page: 'current' })
                  .data()
                  .reduce(function (a, b) {
                      return intVal(a) + intVal(b);
                  }, 0);
                //pageTotal13 = api
                //  .column(13, { page: 'current' })
                //  .data()
                //  .reduce(function (a, b) {
                //      return intVal(a) + intVal(b);
                //  }, 0);
                //pageTotal14 = api
                // .column(14, { page: 'current' })
                // .data()
                // .reduce(function (a, b) {
                //     return intVal(a) + intVal(b);
                // }, 0);
                //pageTotal15 = api
                //.column(15, { page: 'current' })
                //.data()
                //.reduce(function (a, b) {
                //    return intVal(a) + intVal(b);
                //}, 0);
                //pageTotal16 = api
                //.column(16, { page: 'current' })
                //.data()
                //.reduce(function (a, b) {
                //    return intVal(a) + intVal(b);
                //}, 0);
               // $(api.column(4).footer()).html(
               //     ((pageTotals / (theColumnTotal / columnData.count())) * 100).toFixed(2)+'%'
               //);
                // Update footer
                $( api.column( 5 ).footer() ).html(
                  '(' + pageTotal + ')<br/>' + '(' + pageTotal + ')<br/>' + ((pageTotal / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
                );
                $(api.column(6).footer()).html(
                 '(' + pageTotal7 + ')<br/>' + '(' + (pageTotal7 + pageTotal) + ')<br/>' + (((pageTotal7 + pageTotal) / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
               );
                $(api.column(7).footer()).html(
                   '(' + pageTotal8 + ')<br/>' + '(' + (pageTotal8 + pageTotal7 + pageTotal) + ')<br/>' + (((pageTotal8 + pageTotal7 + pageTotal) / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
               );
                $(api.column(8).footer()).html(
                   '(' + pageTotal9 + ')<br/>' + '(' + (pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) + ')<br/>' + (((pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
               );
                $(api.column(9).footer()).html(
                  '(' + pageTotal10 + ')<br/>' + '(' + (pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) + ')<br/>' + (((pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
              );
                $(api.column(10).footer()).html(
                  '(' + pageTotal11 + ')<br/>' + '(' + (pageTotal11 + pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) + ')<br/>' + (((pageTotal11 + pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
              );
                $(api.column(11).footer()).html(
                  '(' + pageTotal12 + ')<br/>' + '(' + (pageTotal12 + pageTotal11 + pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) + ')<br/>' + (((pageTotal12 + pageTotal11 + pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
              );
           //     $(api.column(12).footer()).html(
           //       '(' + pageTotal13 + ')<br/>' + '(' + (pageTotal13 + pageTotal12 + pageTotal11 + pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) + ')<br/>' + (((pageTotal13 + pageTotal12 + pageTotal11 + pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
           //   );
           //     $(api.column(13).footer()).html(
           //     '(' + pageTotal14 + ')<br/>' + '(' + (pageTotal14 + pageTotal13 + pageTotal12 + pageTotal11 + pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) + ')<br/>' + (((pageTotal14 + pageTotal13 + pageTotal12 + pageTotal11 + pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
           //  );
           //     $(api.column(14).footer()).html(
           //    '(' + pageTotal15 + ')<br/>' + '(' + (pageTotal15 + pageTotal14 + pageTotal13 + pageTotal12 + pageTotal11 + pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) + ')<br/>' + (((pageTotal15 + pageTotal14 + pageTotal13 + pageTotal12 + pageTotal11 + pageTotal10 + pageTotal9 + pageTotal8 + pageTotal7 + pageTotal) / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
           // );
           ////     $(api.column(15).footer()).html(
           //   ((pageTotal16 / (theColumnTotal / columnData.count())) * 100).toFixed(2) + '%'
                //);
                $(api.column(4).footer()).html(
                   'Ksh: ' + ('x / '+(theColumnTotal / columnData.count()).toFixed(0)) + '* 100 '
               );
                $(api.column(3).footer()).html(
                   'Formula  '
               );
                $(api.column(2).footer()).html(
                    'Ksh: ' + total3
                );
                $(api.column(1).footer()).html(
                  'Ksh: ' + (theColumnTotal / columnData.count()).toFixed(0)
                  );
            }

    } );
} );
</script>

<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        var a="";
        if(navigator.userAgent.indexOf("Firefox") != -1 )
        {
            //alert('Firefox');
            a='firefox';
        }

        $(function () {
            var b=a;
            if (a == 'firefox') {
                $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' });
            }else{
                $('#Start Date').datepicker({ dateFormat: 'dd-mm-yy' });
            }
            ///This will make every element with the class "date-picker" into a DatePicker element

        });

    });
</script>


@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.View_PAR;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;max-width: 1000px;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
   
    if (listusers != null && listusers.Count > 0)
    {
        <div style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Phone No:
                        </th>
                        <th>
                            Full Names:
                        </th>
                        <th style="display:none;">
                            Principle
                        </th>
                         <th>
                            Loan-bal
                        </th>
                        
                        <th>
                            Dis-Date
                        </th>
                        <th>
                            Due-Date
                        </th>
                        <th>
                            0-30
                        </th>
                        <th>
                            31-60
                        </th>
                        <th>
                            61-90
                        </th>
                        <th>
                            91-120
                        </th>
                        <th>
                            121-150
                        </th>
                        <th>
                            151-180
                        </th>
                        <th>
                            Above-180
                        </th>
                        @*<th>
                            50-56
                        </th>
                        <th>
                            57-63
                        </th>
                        <th>
                            64>
                        </th>*@
                        @*<th>
                            71-91
                        </th>*@
                        @*<th>
                            _92to112
                        </th>
                        <th>
                            _113to133
                        </th>
                        <th>
                            _134to154
                        </th>
                        <th>
                            _155to175
                        </th>
                        <th>
                            _above175

                        </th>*@
</tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            <td>@item["phoneno"]</td>
                            <td>@item["Name"]</td>
                            <td style="display:none;">@item["Principle"]</td>
                            <td>@item["Loanamount"]</td>
                            <td>@item["Disbursementdate"]</td>
                            <td>@item["expectedcleardate"]</td>
                            <td>@item["_0to7"]</td>
                            <td>@item["_8to14"] </td >
                            <td>@item["_15to21"] </td >
                            <td>@item["_22to28"]</td>
                            <td>@item["_29to35"]</td>
                            <td>@item["_36to42"]</td>
                            <td>@item["_43to49"]</td>
                            @*<td>@item["_50to56"]</td>*@
                            @*<td>@item["_57to63"]</td>
                            <td>@item["_above64"]</td>*@
                            @*<td>@item["_71to91"]</td>*@
                            @*<td>@item["_92to112"]</td>
                            <td>@item["_113to133"]</td>
                            <td>@item["_134to154"]</td>
                            <td>@item["_155to175"]</td>
                            <td>@item["_above175"]</td>*@

                        </tr>
                    }
              </tbody>
                <tfoot>
                    <tr>

                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        @*<th></th>*@
                        @*<th></th>*@
                        @*<th></th>
                        <th></th>*@
                       
                       
                        

                    </tr>

                </tfoot>
            </table>
        </div>
    }
    else
    {
        <div style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Phone No:
                        </th>
                        <th>
                            Full Names:
                        </th>
                        <th style="display:none;">
                            Principle
                        </th>
                        <th>
                            Loan-bal
                        </th>

                        <th>
                            Dis-Date
                        </th>
                        <th>
                            Due-Date
                        </th>
                        <th>
                            0-30
                        </th>
                        <th>
                            31-60
                        </th>
                        <th>
                            61-90
                        </th>
                        <th>
                            91-120
                        </th>
                        <th>
                            121-150
                        </th>
                        <th>
                            151-180
                        </th>
                        <th>
                            Above-180
                        </th>
                        @*<th>
                                50-56
                            </th>
                            <th>
                                57-63
                            </th>
                            <th>
                                64>
                            </th>*@
                        @*<th>
                                71-91
                            </th>*@
                        @*<th>
                                _92to112
                            </th>
                            <th>
                                _113to133
                            </th>
                            <th>
                                _134to154
                            </th>
                            <th>
                                _155to175
                            </th>
                            <th>
                                _above175

                            </th>*@
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            <td>@item["phoneno"]</td>
                            <td>@item["Name"]</td>
                            <td style="display:none;">@item["Principle"]</td>
                            <td>@item["Loanamount"]</td>
                            <td>@item["Disbursementdate"]</td>
                            <td>@item["expectedcleardate"]</td>
                            <td>@item["_0to7"]</td>
                            <td>@item["_8to14"] </td>
                            <td>@item["_15to21"] </td>
                            <td>@item["_22to28"]</td>
                            <td>@item["_29to35"]</td>
                            <td>@item["_36to42"]</td>
                            <td>@item["_43to49"]</td>
                            @*<td>@item["_50to56"]</td>*@
                            @*<td>@item["_57to63"]</td>
                                <td>@item["_above64"]</td>*@
                            @*<td>@item["_71to91"]</td>*@
                            @*<td>@item["_92to112"]</td>
                                <td>@item["_113to133"]</td>
                                <td>@item["_134to154"]</td>
                                <td>@item["_155to175"]</td>
                                <td>@item["_above175"]</td>*@

                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>

                        <th>Total:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        @*<th></th>*@
                        @*<th></th>*@
                        @*<th></th>
                            <th></th>*@




                    </tr>

                </tfoot>
            </table>
        </div>
    }

}
