﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}






<script language="javascript" type="text/javascript">

    $(document).ready(function ()

    {
        document.getElementById("show_report").innerHTML = '<object type="text/html" data="https://counterone.net/newsalvon/incomerpt.aspx" style="height:900px;width:900px" ></object>';

    });

</script>

<div id="show_report" style="color:black;width:580px;height:auto;margin-left:130px;margin-bottom:0px"></div>