﻿
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>



<table id="tblPopulation" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <td>Transactionref</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Phone</td>
           <td>Idno</td>
            <td>Type</td>
            <td>Deposit</td>
            <td>Withdrawal</td>
           <td>Balance</td>
           

        </tr>

    </thead>

</table>
<div id='loadingmessage' style='display:none'>

    <img src="~/Content/images/ajax-loader.gif" />
</div>
@section Scripts {
    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>

    $(document).ready(function () {
        $('#loadingmessage').show();
        $.ajax({

            url: 'https://counterone.net/Tsalvonastrol/Deposits/GetDeposit',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: {},

            success: function (data) {
                //var Mbrid = data.Userid;
                var tr;
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    tr = tr + "<tr>";
                    tr = tr + "<td>" + data[i].Transactionref + "</td>";
                    tr = tr + "<td>" + data[i].Firstname + "</td>";
                    tr = tr + "<td>" + data[i].Lastname + "</td>";
                    tr = tr + "<td>" + data[i].Phone + "</td>";
                    tr = tr + "<td>" + data[i].Idno + "</td>";
                    tr = tr + "<td>" + data[i].Types + "</td>";
                    tr = tr + "<td>" + data[i].Deposit + "</td>";
                    tr = tr + "<td>" + data[i].Withdrawals + "</td>";
                    tr = tr + "<td>" + data[i].Balance + "</td>";
                   
                    tr = tr + "</tr>";
                }
                $('#tblPopulation').append(tr);
                tblFormate();
                $('#loadingmessage').hide();
            },
            error: function (xhr) {
                alert('No Valid Data');
            }
        });

        function tblFormate() {
            responsive: true
            var table = $('#tblPopulation').DataTable(
             {

                 //"searching": false,
                 "lengthMenu": [[50, 10, 50, 100, 150, -1], [50, 10, 50, 100, 150, "All"]]
             });
            //Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', table.column(colIdx).header()).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }

    });
    </script>

}  