﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:300px">Withdraw: @ViewData["id"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>



<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to create the User?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.Deposit;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-info content-wrapper" style="width:100%;margin-left:300px;max-width: 1000px">


        <div class="row">
            <div class="col-12">



                <label>Account No</label>
                <br />
                @Html.TextBox("Accountno", @ViewData["Accountno"])
                <br />
                <label>First Name</label>
                <br />
                @Html.TextBox("Firstname", @ViewData["Firstname"])
                <br />
                <label>Last Name</label>
                <br />
                @Html.TextBox("Lastname", @ViewData["Lastname"])
                <br />
                <label>ID NO </label>
                <br />
                @Html.TextBox("idno", @ViewData["idno"])
                <br />
                <label>Phone Number </label>
                <br />
                @Html.TextBox("Mobileno", @ViewData["Mobileno"])
                <br />
                <label>Account Type</label>
                <br />
                 @Html.DropDownList("accounttype", bp.savingList, new { @onchange = "ChangeCallback(this.value);" })
                <br />
                <label>Duration</label>
                <br />
                @Html.DropDownList("Duration", bp.SavingDurationList, new { @onchange = "ChangeCallback(this.value);" })
                <br />
                <label>Withdraw Amount</label>
                <br />
                @Html.TextBox("Depositamount", @ViewData["Depositamount"])
                <br />
                <legend></legend>
                <input name="Approve" type="submit" value="Withdraw" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
            </div>

        </div>





    </div>


}

