﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<table id="tblPopulation" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <td>Year</td>
            <td>Month</td>
            <td>phone </td>
            <td>Total Amount Disbursed</td>
            <td>Total Interest</td>




        </tr>

    </thead>

</table>
@section Scripts {
    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script>

    $(document).ready(function () {
        $.ajax({

            url: 'https://counterone.net/Tsalvonastrol/Fincharges/Daily',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (data) {
                var Mbrid = data.Userid;
                var tr;
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    tr = tr + "<tr>";
                    tr = tr + "<td>" + data[i].years + "</td>";
                    tr = tr + "<td>" + data[i].loandisbursedate + "</td>";
                    tr = tr + "<td>" + data[i].phone + "</td>";
                    tr = tr + "<td>" + data[i].principle + "</td>";
                    tr = tr + "<td>" + data[i].adminfee + "</td>";
                    //tr = tr + "<td>" + data[i].paystatus + "</td>";
                    //tr = tr + "<td>" + data[i].sharecontibution + "</td>";
                    //tr = tr + "<td>" + data[i].LoanLimit + "</td>";
                    //tr = tr + "<td>" + data[i].Monthlycontribution + "</td>";
                    //tr = tr + "<td>" + data[i].Months + "</td>";
                    //tr = tr + "<td>" + "<a class='EditCss' href=https://counterone.net/safrica/safcon/Edit/" + data[i].Userid + ">Edit</a>" + "</td>";
                    tr = tr + "</tr>";
                }
                $('#tblPopulation').append(tr);
                tblFormate();
            },
            error: function (xhr) {
                alert('No Valid Data');
            }
        });

        function tblFormate() {

            var table = $('#tblPopulation').DataTable(
             {
                 //"searching": false,
                 "lengthMenu": [[5, 10, 50, 100, 150, -1], [5, 10, 50, 100, 150, "All"]]
             });
            //Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', table.column(colIdx).header()).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }

    });
    </script>

}  