﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.Fincharges

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
<script type="text/javascript"></script>
<script>

    $(document).ready(function () {
        //firing function on button click to update records
        $("#btnUpdate").click(function () {
            //creating javascript array to pass it as json data
            var Makupa = {
                charid: $("#hdncharid").val(),
                principle: $("#principle").val(),
                adminfee: $("#adminfee").val(),
                years: $("#years").val(),
                loandisbursedate: $("#loandisbursedate").val(),
                paid: $("#paid").val(),
                name: $("#name").val()


            };

            $.ajax({
                type: "POST",
                URL: "/Fincharges/Edit",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ MemberUpdateDet: Makupa }),
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    alert(response);
                    //redirect to the AddEmployee view after successfully updating records
                    window.location.href = "https://counterone.net/Tsalvonastrol/Sacco/AddMember";

                }
            });
        });
    });
</script>

<div class="row">
    <div class="col-6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.charid, new { @id = "hdnUserid" })


        <div class="form-group">
            @Html.LabelFor(model => model.years, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.years, new { disabled = "disabled", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.years, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.loandisbursedate, htmlAttributes: new { @class = "control-label col-md-7" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.loandisbursedate, new { disabled = "disabled", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.loandisbursedate, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.principle, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.principle, new { disabled = "disabled", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.principle, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.adminfee, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.adminfee, new { disabled = "disabled", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.adminfee, "", new { @class = "text-danger" })
            </div>
        </div>

      
   


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="button" id="btnUpdate" value="ADD" class="btn btn-success" />
            </div>
        </div>

    </div>
</div>