﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.Vat
<h4 class="text-center">Capture Debtors Invoice</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script language="javascript" type="text/javascript">

$(document).ready(function() {
    $('#MyTable').DataTable({
        "aLengthMenu": [[100, 400, , 800, 1000, -1], [100, 400, 800, 1000, "ALL"]],
        "iDisplayLength": 800,
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                //to select and search from grid
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>
<script language="javascript" type="text/javascript">
  $(document).ready(function() {
  var a="";
   if(navigator.userAgent.indexOf("Firefox") != -1 )
    {
         //alert('Firefox');
         a='firefox';
    }

$(function () {
var b=a;
if (a == 'firefox') {
    $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' });
}else{
    $('#StartDate').datepicker({ dateFormat: 'dd-mm-yy' });
}
        // This will make every element with the class "date-picker" into a DatePicker element

    });

});
</script>

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.Debtors_salesaccount;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    //Html.RenderAction("LoanUsersDates", "SMS");
    <div class="container" style="width:100%;margin-left:70px;border: 0px solid;max-width: 800px;">
        <div class="message-info content-wrapper">

            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <label>Debtor Name</label>
                        <br />
                        @Html.DropDownList("Debtorsname", bp.DebtorsList, new { @class = "form-selector", @onchange = "ChangeCallback(this.value);" })


                        @*@Html.TextBox("Debtorsname")*@
                        <br />
                       
                        <label>Sales A/C</label>
                        <br />
                        @Html.DropDownList("Salesaccount", bp.Dr_Accounts, new { @class = "form-selector", @onchange = "ChangeCallback(this.value);" })


                        @*@Html.TextBox("Salesaccount")*@
                        <br />
                        <label>Description</label>
                        <br />
                        @Html.TextBox("Description")
                        <br />
                        <label>Select vat Type</label>
                        <div class="row">
                            <div class="col-6"><label><span><b> |Non Vatable:</b> </span></label></div>
                            <div class="col-6">
                                @Html.RadioButton("Vats", "Exclusive", false)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6"><label><span><b> | Vatable:</b> </span></label></div>
                            <div class="col-6">
                                @Html.RadioButton("Vats", "Inclusive", true)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Invoice No</label>
                        <br />
                        @Html.TextBox("Invoiceno")
                        <br />
                        <label>Vat</label>
                        <br />
                        @Html.TextBox("Vat",@ViewData["Vat"], new { @readonly = "readonly" })
                        <br />
                        <label>Invoice Amount</label>
                        <br />
                        @Html.TextBox("Invoiceamount")
                        <br />
                        <label>Due Date</label>
                        @Html.EditorFor(model => bp.startdate, new { @class = "form-control datepicker date-picker", placeholder = "Enter Drop-off date here...", type = "date" })
                        <label></label>
                        @*<label>Due Date</label>
                        <br />
                        @Html.TextBox("Duedate")
                        <br />*@

                        <input name="masiku" type="submit" value="Add" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <h4 class="content-wrapper" style="padding-bottom:10px;margin-left:350px;">Debtors Invoices Waiting Approval</h4>
    if (listusers != null && listusers.Count > 0)
    {
        <div style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">

            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Action
                        </th>
                        <th>
                            Debtor Name:
                        </th>
                        <th>
                            Sales A/C:
                        </th>

                        <th>
                            Invoice No
                        </th>
                        <th>
                            Vat
                        </th>
                        <th>
                            Vat Amount
                        </th>
                        <th>
                            Invoice Amount
                        </th>
                        <th>
                           Total Invoice Amount
                        </th>
                        <th>
                            Due Date
                        </th>
                        <th>
                            Created By
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            <td>@Html.ActionLink("Approve", "Debtorinvoiceapproval", new { id = @item["id"] })</td>

                            <td>@item["Debtorsname"]</td>
                            <td>@item["Salesaccount"]</td>
                            <td>@item["Invoiceno"]</td>
                            <td>@item["Vat"]</td>
                            <td>@item["Vatamount"]</td>
                            <td>@item["Invoiceamount"]</td>
                            <td>@item["TotalInvoiceamount"]</td>
                            <td>@item["Duedate"]</td>
                            <td>@item["CreatedBy"]</td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    }
    else
    {
        <div style="width:100%;margin-left:20px;margin-right:20px;padding-top: 10px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">

            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            Action
                        </th>
                        <th>
                            Debtor Name:
                        </th>
                        <th>
                            Sales A/C:
                        </th>

                        <th>
                            Invoice No
                        </th>
                        <th>
                            Vat
                        </th>
                        <th>
                            Vat Amount
                        </th>
                        <th>
                            Invoice Amount
                        </th>
                        <th>
                            Total Invoice Amount
                        </th>
                        <th>
                            Due Date
                        </th>
                        <th>
                            Created By
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < listusers.Count; ++i)
                    {
                        var item = listusers[i];
                        <tr>
                            <td>@Html.ActionLink("Approve", "Debtorinvoiceapproval", new { id = @item["id"] })</td>

                            <td>@item["Debtorsname"]</td>
                            <td>@item["Salesaccount"]</td>
                            <td>@item["Invoiceno"]</td>
                            <td>@item["Vat"]</td>
                            <td>@item["Vatamount"]</td>
                            <td>@item["Invoiceamount"]</td>
                            <td>@item["TotalInvoiceamount"]</td>
                            <td>@item["Duedate"]</td>
                            <td>@item["CreatedBy"]</td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    }

}
