﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.ListDatabaseElements

<h4 class="text-center">Debtors Rejection Form</h4>

<script language="javascript" type="text/javascript">

    var t;
    window.onload = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
        //alert(" You are now logged out.")
        location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


    }
    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 7200000) //logs out in 1hr min
    }

</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-3.3.1.js"></script>

<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('#MyTable').DataTable({
            "aLengthMenu": [[100, 400, , 800, 1000, -1], [100, 400, 800, 1000, "ALL"]],
            "dom": 'Bfrtip',
            "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
            "iDisplayLength": 800,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            //to select and search from grid
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });
</script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var a = "";
        if (navigator.userAgent.indexOf("Firefox") != -1) {
            //alert('Firefox');
            a = 'firefox';
        }

        $(function () {
            var b = a;
            if (a == 'firefox') {
                $('.date-picker').datepicker({ dateFormat: 'dd-mm-yy' });
            } else {
                $('#StartDate').datepicker({ dateFormat: 'dd-mm-yy' });
            }
            // This will make every element with the class "date-picker" into a DatePicker element

        });

    });
</script>

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    List<Dictionary<string, object>> listusers = bp.Debtors;
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    //Html.RenderAction("LoanUsersDates", "SMS");
    <div class="container" style="width:100%;margin-left:70px;border: 0px solid;max-width: 800px;">
        <div class="message-info content-wrapper">

            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <label>Creditor Name</label>
                        <br />
                        @Html.TextBox("Creditorname", @ViewData["Creditorname"], new { @readonly = "readonly" })
                        <br />
                        <label>Mobile No</label>
                        <br />
                        @Html.TextBox("Mobileno", @ViewData["Mobileno"], new { @readonly = "readonly" })
                        <br />
                        <label>Email</label>
                        <br />
                        @Html.TextBox("Email", @ViewData["Email"], new { @readonly = "readonly" })
                        <br />
                        <label>Date Created</label>
                        <br />
                        @Html.TextBox("Datecreated", @ViewData["Datecreated"], new { @readonly = "readonly" })
                        <br />
                    </div>
                    <div class="col-md-6">
                        <label>Address</label>
                        <br />
                        @Html.TextBox("Address", @ViewData["Address"], new { @readonly = "readonly" })
                        <br />
                        <label>Town</label>
                        <br />
                        @Html.TextBox("Town", @ViewData["Town"], new { @readonly = "readonly" })
                        <br />
                        <label>Contact Person</label>
                        <br />
                        @Html.TextBox("Contactperson", @ViewData["Contactperson"], new { @readonly = "readonly" })
                        <br />
                        <label>Actioned by</label>
                        <br />
                        @Html.TextBox("CreateBy", @ViewData["CreateBy"], new { @readonly = "readonly" })
                        <br />

                        <input name="masiku" type="submit" value="Reject" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>



}

