﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:250px">Modify Account: @ViewData["ID"]</h4>

<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to Modify the Account?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();

    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="margin-left:250px;color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container" style="width:100%;margin-left:250px">
        <div class="message-info content-wrapper" style="max-width:1320px;">
            <fieldset>
                <legend>Create Account</legend>
                <p>
                    <br></br>
                    <label>AccountNumber</label>
                    @Html.TextBox("AccountNo", @ViewData["AccountNo"])
                    <label></label>
                </p>
                <p>
                    <br></br>
                    <label>Item Name</label>
                    @Html.TextBox("ItemName", @ViewData["ItemName"])
                    <label></label>

                </p>
                <p>
                    <br></br>
                    <label>Account Type</label>
                    @Html.DropDownList("selectedAccountType", bp.AccountTypeList, new { @onchange = "ChangeCallback(this.value);" })
                    <label></label>
                </p>
                <p>
                    <br></br>
                    <label>Createby</label>
                    @Html.TextBox("createby", @ViewData["createby"])
                    <label></label>
                <p>
                <p>
                    <br></br>
                    <label>Createdate</label>
                    @Html.TextBox("createddate", @ViewData["createddate"])
                    <label></label>
                <p>
                    <br></br>
                    <legend>Actions</legend>
                    <input name="Modify" type="submit" value="Modify" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />
                </p>

            </fieldset>


        </div>
    </div>


}

