﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
@model TestNAVBAR.Models.SafrikaMembers
<h4 class="content-wrapper" style="padding-bottom:11px;margin-left:250px">Create New Account: @ViewData["ID"]</h4>
<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script language="javascript" type="text/javascript">

var t;
window.onload=resetTimer;
document.onkeypress=resetTimer;

function logout()
{
	//alert(" You are now logged out.")
	location.href = 'http://34.238.242.42:3370/Tsalvon/Account/Login'


        }
        function resetTimer()
        {
        clearTimeout(t);
         t = setTimeout(logout, 7200000) //logs out in 1hr min
}

</script>
<script language="javascript" type="text/javascript">
      function Postsubmit() {
          var result = confirm("Are you sure you want to create the Account?");
          if (result) {
              return true;
          } else {
              return false;
          }
      }
</script>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();

    List<string> errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;

    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container" style="width:100%;margin-left:100px">
        <div style="width:100%;margin-left:50px;margin-right:20px;padding-top: 3px;padding-left: 5px;padding-right: 5px;padding-bottom: 10px;border: 1px solid;clear: both;margin: 0 auto;max-width: 1320px;">
            <div class="row">
                <div class="col-md-6">
                    <legend>Create Account</legend>

                    <label>AccountNumber</label>
                    <br>
                    @Html.TextBox("AccountNo", @ViewData["AccountNo"])
                    <br>
                    <label>Item Name</label>
                    <br>
                    @Html.TextBox("Itemname", @ViewData["Itemname"])
                    <br>
                    <label>AccountType</label>
                    <br>
                    @Html.DropDownList("selectedAccountType", bp.AccountTypeList, new { @class = "form-selector", @onchange = "ChangeCallback(this.value);" })





                </div>
                <div class="col-md-6">
                    <legend>Select Ledger</legend>
                    @*<label><b>Select Ledger: </b></label>*@
                    <br />

                    <div class="row">
                        <div class="col-6"><label>Mobile</label></div>
                        <div class="col-6">
                            @Html.RadioButton("Ledger", "Digital", true)
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-6"><label>Others</label></div>
                        <div class="col-6">
                            @Html.RadioButton("Ledger", "others", true)
                        </div>
                    </div>
                    <br>
                    <input name="Create" type="submit" value="Create" id="AuthoriseButton" onclick="javascript:return Postsubmit();" />

                </div>
            </div>
        </div>
    </div>


}

