﻿@{
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />

<table id="tblPopulation" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <td>Account No</td>
            @*<td>Membership Fee</td>*@
            @*<td>Total Shares</td>
            <td>Share Contibution</td>*@
            <td>Loan Limit</td>
            <td>Monthly contribution</td>
            <td>Months</td>
            <td>Actions</td>


        </tr>

    </thead>

</table>
@section Scripts {
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script>

    $(document).ready(function () {
        $.ajax({

            url: '/safcon/GetContributionss',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (data) {
                var Mbrid = data.Userid;
                var tr;
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    tr = tr + "<tr>";
                    tr = tr + "<td>" + data[i].Accountno + "</td>";
                    tr = tr + "<td>" + data[i].Membershipfee + "</td>";
                    tr = tr + "<td>" + data[i].Totalshares + "</td>";
                    tr = tr + "<td>" + data[i].sharecontibution + "</td>";
                    tr = tr + "<td>" + data[i].LoanLimit + "</td>";
                    tr = tr + "<td>" + data[i].Monthlycontribution + "</td>";
                    tr = tr + "<td>" + data[i].Months + "</td>";
                    tr = tr + "<td>" + "<a class='EditCss' href=https://counterone.net/salvontest/safcon/Edit/" + data[i].Userid + ">Edit</a>" + "</td>";
                    tr = tr + "</tr>";
                }
                $('#tblPopulation').append(tr);
                tblFormate();
            },
            error: function (xhr) {
                alert('No Valid Data');
            }
        });

        function tblFormate() {

            var table = $('#tblPopulation').DataTable(
             {
                 //"searching": false,
                 "lengthMenu": [[5, 10, 50, 100, 150, -1], [5, 10, 50, 100, 150, "All"]]
             });
            //Apply the search
            table.columns().eq(0).each(function (colIdx) {
                $('input', table.column(colIdx).header()).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }

    });
</script>

}  