﻿@model TestNAVBAR.Models.ATMRequestB

@{
    ViewBag.Title = "BillPayData";
    string accountdata = Model.AtmDetails.bpSelectedAccount;
    string customersdata = Model.AtmDetails.bpFtFlag;
    TestNAVBAR.Models.ATMRequestData mbp = new TestNAVBAR.Models.ATMRequestData();
    //string SelectedUtility = mbp.SelectedUtility;
    FormCollection collection = (FormCollection)ViewData["collection"];
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    
 
}
<div>
@Html.Partial("ATMRequestA", Model.AtmDetails)
</div>
<div>

@if (customersdata == "" && accountdata != null)
{
    @Html.Partial("ATMRequestB", Model)
}
else
{
  
}

</div>

