﻿@model TestNAVBAR.Models.ATMRequestB

<h4>Full Statement Enquiry Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ATMRequestData bp = new TestNAVBAR.Models.ATMRequestData();
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>ATM Request</legend>
        <ol>
     <br /><br />
             <label>Debit Account</label>
                @Html.TextBox("requestaccount", @ViewData["atmaccount"])
                <div style="clear: both">
      </div>
     <br /><br />
                 <label>Remarks</label>
                 @Html.TextArea("remarks", @ViewData["remarks"])
       <br /><br />
                @Html.ValidationMessageFor(m => m.bpFromAccount)
       <br /><br />
      <input type="submit" value="Request" />
        </ol>
   </fieldset>
   </div>
        <div>&nbsp</div>
   }