﻿
<h4>FT Authorization Record for Reference ID: @ViewData["recordid"]</h4>
  <script language="javascript" type="text/javascript">
    function Postsubmit()
    {
        var result = confirm("Are you sure you want to authorise the transaction record? ");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>FT Authorization Record</legend>
  
        <br /><br />
     
                 @Html.Hidden("recordid", @ViewData["recordid"])
        <br /><br />
               <label>Debit Account</label>
               @Html.TextBox("authftdebitaccount", @ViewData["debitaccount"])

         <br /><br />
               <label>Credit Account</label>
               @Html.TextBox("authftcreditaccount", @ViewData["creditaccount"])

        <br /><br />
               <label>Debit Currency</label>
              @Html.TextBox("authftdebitcurrency", @ViewData["drcurrency"])

        <br /><br />
                <label>Debit Amount</label>
                 @Html.TextBox("authfttransamount", @ViewData["amount"])
        <br /><br />
                <label>Description</label>
                 @Html.TextBox("authftnarration", @ViewData["narration"])
        <br /><br />
                <label>FT Code</label>
                 @Html.TextBox("authftftcode", @ViewData["fttype"])
        <br /><br />
               <fieldset class="small">
            <legend>Actions</legend>
            <div style="clear: both"></div>
                <input name="Authorise" type="submit" value="Authorise" id="AuthoriseButton" onclick="javascript:return Postsubmit();"/>
        </fieldset>

   </fieldset>

   
 </div>
        <div>&nbsp</div>
        

    }

