﻿@model TestNAVBAR.Models.ListDatabaseElements

<h4>Authorised Funds Transfers</h4>

    @using (Html.BeginForm())
    {
        
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
     List<Dictionary<string, object>> listusers =bp.AuthorisedFT;
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
        if (listusers != null && listusers.Count > 0)
        {
              <div class="message-info">
            <table>
                 <thead>
                    <tr>
                        <th>
                            Select
                        </th>
                         <th>
                            DR Account
                        </th>
                        <th>
                            CR Account
                        </th>
                        <th>
                           Currency
                        </th>
                         <th>
                            Amount
                        </th>
                        <th>
                            Narration
                        </th>
                         <th>
                            Swift Code
                        </th>
                       <th>
                            FT-Type
                        </th>
                       <th>
                            TransDate
                        </th>
                    </tr>
                </thead>
                 <tbody>
                        @for (int i = 0; i < bp.AuthorisedFT.Count; ++i)
                        {

                            var item = bp.AuthorisedFT[i];
                            <tr>
                            <td>@Html.CheckBox("authoriserecords",new { id = @item["id"] })</td>
                             <td>@item["draccount"]</td>
                             <td>@item["craccount"]</td>
                             <td>@item["drcurrency"]</td>
                             <td>@item["transamount"]</td>
                             <td>@item["narration"]</td>
                             <td>@item["swiftcode"]</td>
                             <td>@item["fttype"]</td>
                             <td>@item["transdate"]</td>
                            </tr>
                        }
                 </tbody>
           </table>
           </div>
        }   
      <div class="message-info">
      <div>&nbsp</div>
  <input type="submit" value="Authorise" />
   </div>
        <div>&nbsp</div>
    }