﻿@model TestNAVBAR.Models.BillPayAirTimeB

@{
    ViewBag.Title = "BillPayDetails";
     string accountdata = Model.bpairtimeDetails.bpSelectedAccount;
     string customersdata = Model.bpairtimeDetails.bpFtFlag;
    TestNAVBAR.Models.BillPayDataAirtime mbp = new TestNAVBAR.Models.BillPayDataAirtime();
    string SelectedUtility = mbp.SelectedUtility;
    FormCollection collection = (FormCollection)ViewData["collection"];
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    
 
}
<div>
@Html.Partial("BillPayAirTimeA", Model.bpairtimeDetails)
</div>
<div>

@if (customersdata == "" && accountdata != null)
{
    @Html.Partial("BillPayAirTimeB", Model)
}
else
{
   @* @Html.Partial("BillPayDSTV", Model)*@

}

</div>

