﻿@model TestNAVBAR.Models.BillPayKPLC

<h4>Bill Payment KPLC</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.BillPayKPLC bp = new TestNAVBAR.Models.BillPayKPLC();
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Bill Paymennts:::>>KPLC</legend>
        <ol>
          <br /><br />
               <label>Debit Account</label>
               @Html.TextBox("kplcdebitaccount", @ViewData["DebitAccountkplc"])
    
              <br /><br />

               <label>Credit Account</label>
               @Html.TextBox("kplccreditaccount", @ViewData["CreditAccountkplc"])

          <br /><br />
    
               <label>Metre No</label>
              @Html.TextBox("kplcmetreno", @ViewData["MetreNoKPLC"])
  
            <br /><br />

                <label>Bill Amount</label>
                 @Html.TextBox("kplctransamount",@ViewData["TransAmount"])
          <br /><br />
          <input type="submit" value="Pay Bill" />

        </ol>
   </fieldset>



   </div>
        <div>&nbsp</div>
   }