﻿@model TestNAVBAR.Models.BillPayB

<h4>Full Statement Enquiry Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.BillPayData bp = new TestNAVBAR.Models.BillPayData();
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Full Statement Form</legend>
        <ol>
        <br /><br />
        
                 <label>Debit account</label>
                 @Html.TextBox("dstvdebitaccount",@ViewData["dstvdebitaccount"])
          <br /><br />

            @Html.LabelFor(m => m.bpBillUtility)
            @Html.DropDownList("UtilityCompanies", bp.Utilities, new { @onchange = "ChangeCallback(this.value);" })
            <script type="text/javascript">
                function ChangeCallback(maxCnt) {
                    window.location.href = '/Home/BillPayCriteria/' + maxCnt; // redirect to "/75"

                }
            </script>
           <br /><br />      
   

                @Html.ValidationMessageFor(m => m.bpFromAccount)
                
  <input type="submit" value="Transfer" />
        </ol>
   </fieldset>



   </div>
        <div>&nbsp</div>
   }