﻿

<h4>Parking Fee</h4>
@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.BillPayNCC bp = new TestNAVBAR.Models.BillPayNCC();
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Bill Paymennts:::>>KPLC</legend>
        <ol>
  <br /><br />
            <label>Debit Account</label>
            @Html.TextBox("nccdebitaccount", @ViewData["DebitAccountncc"])
    <br /><br />
            <label>Credit Account</label>
            @Html.TextBox("ncccreditaccount", @ViewData["DebitAccountncc"])
  <br /><br />
             <label>Car Plate</label>
            @Html.TextBox("ncccarregnumber", @ViewData["carRegNo"])
  <br /><br />
                <label>Parking Fee</label>
            @Html.TextBox("ncctransamount", @ViewData["TransAmount"])

  <br /><br />
  
  <input type="submit" value="Pay Bill" />
        </ol>
   </fieldset>


   </div>
        <div>&nbsp</div>
    }