﻿@model TestNAVBAR.Models.BillPayAIR

<h4>Bill Payment KPLC</h4>

    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.BillPayAIR bp = new TestNAVBAR.Models.BillPayAIR();
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Bill Paymennts:::>>AIRTEL</legend>
        <ol>
           <br /><br />
            <label>Debit Account</label>
            @Html.TextBox("airdebitaccount",@ViewData["DebitAccountair"])

 <br /><br />
             <label>Credit Account</label>
             @Html.TextBox("aircreditaccount", @ViewData["CreditAccountair"])
 <br /><br />
                <label>Post Paid Account</label>
               @Html.TextBox("airpostpaidaccountno", @ViewData["AccountNoair"])
 <br /><br />
               <label>Bill Amount</label>
               @Html.TextBox("airtransamount", @ViewData["TransAmount"])
 <br /><br />
   <input type="submit" value="Pay Bill" />
        </ol>
   </fieldset>



   </div>
        <div>&nbsp</div>
   }