﻿@model TestNAVBAR.Models.BillPaySAF

<h4>Bill Payment SAFARICOM</h4>

    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.BillPaySAF bp = new TestNAVBAR.Models.BillPaySAF();
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Bill Paymennts:::>>SAF</legend>
        <ol>
          <br /><br />
            <label>Debit Account</label>
             @Html.TextBox("safdebitaccount",@ViewData["DebitAccountsaf"])
      
          <br /><br />
               <label>Credit Account</label>
               @Html.TextBox("safcreditaccount", @ViewData["CreditAccountsaf"])
    <br /><br />

              <label>Post Paid Account</label>
               @Html.TextBox("safpostpaidaccountno", @ViewData["AccountNosaf"])

    <br /><br />
               <label>Bill Amount</label>
               @Html.TextBox("saftransamount", @ViewData["TransAmount"])
    <br /><br />
    <input type="submit" value="Pay Bill" />
        </ol>
   </fieldset>



   </div>
        <div>&nbsp</div>
   }