﻿@model TestNAVBAR.Models.BillPayDSTV

<h4>Bill Payment DSTV</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.BillPayDSTV bp = new TestNAVBAR.Models.BillPayDSTV();
     TestNAVBAR.Models.BillPayData dstv = new TestNAVBAR.Models.BillPayData();
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Bill Paymennts:DSTV</legend>
        <ol>
<br /><br />
          
             <label>Debit Account</label>
                @Html.TextBox("dstvdebitaccount", @ViewData["DebitAccount"])
 
    <br /><br />
               <label>Credit Account</label>
               @Html.TextBox("dstvcreditaccount", @ViewData["CreditAccount"])
<br /><br />   
                <label>Package</label>
                @Html.DropDownList("dstvpack", dstv.DSTVpacks, new { @onchange = "ChangeCallback(this.value);" })
            <script type="text/javascript">
                function ChangeCallback(maxCnt) {
                    window.location.href = '/Home/DSTVPackages/' + maxCnt; // redirect to "/75"
                }
            </script>
     <br /><br />
     
               <label>Utility Station</label>
               @Html.TextBox("dstvtransamount", @ViewData["TransAmount"])
  <br /><br />
   <input type="submit" value="Pay Bill" />
        </ol>
   </fieldset>


 
   </div>
        <div>&nbsp</div>
   }