﻿@model TestNAVBAR.Models.BillPayAirTimeB

<h4>Full Statement Enquiry Data</h4>

    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.BillPayDataAirtime bp = new TestNAVBAR.Models.BillPayDataAirtime();
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Full Statement Form</legend>
        <ol>
            <li>
@*                @Html.LabelFor(m => m.bpFromAccount)
                 @Html.TextBoxFor(m => m.bpFromAccount)*@
                 <label>Debit Account</label>
                 @Html.TextBox("airtimedebitaccount", @ViewData["airtimedebitaccount"])

                 
            </li>
             <li>
            @Html.LabelFor(m => m.bpBillUtility)
            @Html.DropDownList("UtilityCompanies", bp.AirTimeVendors, new { @onchange = "ChangeCallback(this.value);" })
            <script type="text/javascript">
                function ChangeCallback(maxCnt) {
                    window.location.href = '/Home/BillPayAirtimePurchase/' + maxCnt; // redirect to "/75"
                }
            </script>
             
            </li> 
            <li>
                @Html.ValidationMessageFor(m => m.bpFromAccount)
                
            </li>
        </ol>
   </fieldset>


  <input type="submit" value="Transfer" />
   </div>
        <div>&nbsp</div>
}