﻿@model TestNAVBAR.Models.BillPayNRBWATER

<h4>Full Statement Enquiry Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.BillPayNRBWATER bp = new TestNAVBAR.Models.BillPayNRBWATER();
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Bill Paymennts:::>>KPLC</legend>
        <ol>
       <br /><br />
            <label>Debit Account</label>
            @Html.TextBox("nrbwaterdebitaccount", @ViewData["DebitAccountnrbwater"])
   
          <br /><br />
           <label>Credit Account</label>
           @Html.TextBox("nrbwatercreditaccount", @ViewData["CreditAccountnrbwater"])

       <br /><br />
              <label>Metre No</label>
              @Html.TextBox("nrbwatermetreno", @ViewData["MetreNonrbwater"])

       <br /><br />
           <label>Bill Amount</label>
            @Html.TextBox("nrbwatertransamount", @ViewData["MetreNonrbwater"])

       <br /><br />
         <input type="submit" value="Pay Bill" />
        </ol>
   </fieldset>
   </div>
        <div>&nbsp</div>
   }