﻿@model TestNAVBAR.Models.BillPayB

@{
    ViewBag.Title = "BillPayDetails";
    string accountdata = Model.bpfsDetails.bpSelectedAccount;
    string customersdata = Model.bpfsDetails.bpFtFlag;
    TestNAVBAR.Models.BillPayData mbp=new TestNAVBAR.Models.BillPayData();
    string SelectedUtility = mbp.SelectedUtility;
    FormCollection collection = (FormCollection)ViewData["collection"];
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    
 
}
<div>
@Html.Partial("BillPayA", Model.bpfsDetails)
</div>
<div>

@if (customersdata == "" && accountdata != null)
{
    @Html.Partial("BillPayB", Model)
}
else
{
   @* @Html.Partial("BillPayDSTV", Model)*@

}

</div>

