﻿@model TestNAVBAR.Models.BillPayVAT

<h4>Bill Payment VAT</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.BillPayVAT bp = new TestNAVBAR.Models.BillPayVAT();
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Bill Paymennts:::>>KPLC</legend>
        <ol>
     
<br /><br />
            <label>Debit Account</label>
        @Html.TextBox("kradebitaccount", @ViewData["DebitAccountvat"])
<br /><br />
                <label>Credit Account</label>
                @Html.TextBox("kracreditaccount", @ViewData["CreditAccountvat"])
<br /><br />
                  <label>PIN No</label>
                  @Html.TextBox("kravatno", @ViewData["KRAvatNo"])
<br /><br />
               <label>Tax Amount</label>
                  @Html.TextBox("kratransamount", @ViewData["TransAmount"])
<br /><br />
  <input type="submit" value="Pay Bill" />
        </ol>
   </fieldset>

   </div>
        <div>&nbsp</div>
   }