﻿@model TestNAVBAR.Models.BILLPaySAFTOPUP

<h4>Airtime top up Safaricom</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@


    @using (Html.BeginForm())
    {
        FormCollection collection = (FormCollection)ViewData["collection"];
        TestNAVBAR.Models.BILLPaySAFTOPUP bp = new TestNAVBAR.Models.BILLPaySAFTOPUP();
        TestNAVBAR.Models.BillPayDataAirtime dstv = new TestNAVBAR.Models.BillPayDataAirtime();
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Bill Paymennts:DSTV</legend>
        <ol>

           <li>
           <label>Debit Account</label>
          @Html.TextBox("saftopupdebitaccount",@ViewData["DebitAccountsafcom"])
            <div style="clear: both">
            </div>
            </li>
             <li>
              <label>Credit Account</label>
              @Html.TextBox("saftopupcreditaccount", @ViewData["CreditAccountsafcom"])
            </li>

            @Html.RadioButton("rbChartType", "1", isChecked: true) @Html.Label("Own") @Html.RadioButton("rbChartType", "2", isChecked: false) @Html.Label("Other")
            <li>
            <label>Phone Number</label>
            @Html.TextBox("saftopupphonenumber", @ViewData["phoneNosaftopup"])
            </li>
@section scripts{
<script type="text/javascript">
    $(function () {

        $("input:radio").on("click", function () {
            if ($(this).val() == "1") {
                var checkedradio = "own";
                window.location.href = "/Home/Selectedoptionsafcom?selecteditemstr=" + checkedradio;
            } else {
                checkedradio = "other";
                window.location.href = "/Home/Selectedoptionsafcom?selecteditemstr=" + checkedradio;
            }
        });
    });
</script>
}
            <li>
                <label>Credit Amount</label>
                @Html.TextBox("saftopuptransamount", @ViewData["TransAmount"])
            </li>
        </ol>
   </fieldset>


  <input type="submit" value="Pay Bill" />
   </div>
        <div>&nbsp</div>
    }