﻿@model TestNAVBAR.Models.BILLPayAIRTOPUP

<h4>Airtime top up Airtel</h4>

    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.BILLPayAIRTOPUP bp = new TestNAVBAR.Models.BILLPayAIRTOPUP();
     TestNAVBAR.Models.BillPayDataAirtime dstv = new TestNAVBAR.Models.BillPayDataAirtime();
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Airtime Purchase Airtel</legend>
        <ol>
            <li>
            <label>Debit Account</label>
             @Html.TextBox("airtopupdebitaccount", @ViewData["DebitAccountairtel"])
            </li>

             <li>
              <label>Credit Account</label>
               @Html.TextBox("airtopupcreditaccount", @ViewData["CreditAccountairtel"])
            </li>

            @Html.RadioButton("rbChartType", "1", isChecked: false) @Html.Label("Own")
            @Html.RadioButton("rbChartType", "2", isChecked: false) @Html.Label("Other")
            
            <li>
            <label>Debit Account</label>
             @Html.TextBox("airtopupphonenumber", @ViewData["phoneNoairtopup"])
            </li>
@section scripts{
<script type="text/javascript">
    $(function () {

        $("input:radio").on("click", function () {
            if ($(this).val() == "1") {
                var checkedradio = "own";
                window.location.href = "/Home/Selectedoptionairtel?selecteditemstr=" + checkedradio;
            } else {
                 checkedradio = "other";
                window.location.href = "/Home/Selectedoptionairtel?selecteditemstr=" + checkedradio;
            }
        });
    });
</script>

}
            <li>
                <label>Credit Amount</label>
                @Html.TextBox("airtopuptransamount", @ViewData["TransAmount"])
            </li>
             <li>
@*            @Html.LabelFor(m => m.bpBillUtility)
            @Html.DropDownList("UtilityCompanies", bp.Utilities, new { @onchange = "ChangeCallback(this.value);" })
            <script type="text/javascript">
                function ChangeCallback(maxCnt) {
                    window.location.href = '/Home/BillPayCriteria/' + maxCnt; // redirect to "/75"
                }
            </script> *@            
            </li> 
            <li>
 @*               @Html.ValidationMessageFor(m => m.bpFromAccount)    *@            
            </li>
        </ol>
   </fieldset>


  <input type="submit" value="Pay Bill" />
   </div>
        <div>&nbsp</div>
   }