﻿
@model TestNAVBAR.Models.BillPayAirTimeA
@using (Html.BeginForm())
    {        
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
     List<Dictionary<string, object>> aclist = bp.AccountDetails;
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
        if (aclist != null && aclist.Count > 0)
        {
              <div class="message-info">
            <table>
                 <thead>
                    <tr>
                         <th>
                           Account No
                        </th>
                        <th>
                            Account Type
                        </th>
                        <th>
                          Currency
                        </th>
                         <th>
                            Ledger Bal
                        </th>
                        <th>
                            Avail Bal
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                 <tbody>
                        @for (int i = 0; i < bp.AccountDetails.Count; ++i)
                        {                             
                            var item = bp.AccountDetails[i];
                            <tr>
                            <td>@Html.ActionLink("Select", "BillPayAirTime", new { selectedaccount = @item["accountnumber"] })</td>
                             @Html.Hidden("recordid", @item["id"])
                             <td>@item["accountnumber"]</td>
                             <td>@item["accounttype"]</td>
                             <td>@item["accountcurrency"]</td>
                             <td>@item["ledgerbal"]</td>
                             <td>@item["availablebal"]</td>
                             <td>@item["linkedflag"]</td>
                            </tr>
                        }
                 </tbody>
           </table>
           </div>
        }   
      <div class="message-info">
      <div>&nbsp</div>
   </div>
        <div>&nbsp</div>
    }

