﻿
@*@model TestNAVBAR.Models.ATMRequestA*@
<h2>Import</h2>
 @using (Html.BeginForm("Importexcel", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
 {
     <div class="message-info">
     <fieldset>
     <table>
     <thead>
     <tr>
      <th><label>
       Excel File to Load:
       </label></th>
     </tr>
 
     </thead>
     <tbody>
        <tr>
            <td>
               <input type="file" name="File2Load" />
            </td>        
        </tr>      
       @*<tr><td>Excel file</td><td><input  type="file"  id="FileUpload1" name="File2Load"/></td></tr>*@
     </tbody>
     </table>
      <br /><br />
     <input  type="submit" id="Submit" name="Submit" value="Submit"/>
     </fieldset>
     </div>   
 }