﻿@model TestNAVBAR.Models.PersonalB
@using (Html.BeginForm())
    {        
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
     List<Dictionary<string, object>> aclist = bp.bulkdatadetails;
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
        if (aclist != null && aclist.Count > 0)
        {
              <div class="message-info">
            <table>
                 <thead>
                    <tr>
                         <th>
                           Email
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                          Mobile
                        </th>
                         <th>
                          Process Code
                        </th>
                         <th>
                          To Account
                        </th>
                        <th>
                          Amount
                        </th>
                         <th>
                          Bank Code
                        </th>
                         <th>
                          Transfer Mode
                        </th>

                    </tr>


                </thead>
                 <tbody>
                        @for (int i = 0; i < bp.bulkdatadetails.Count; ++i)
                        {
                            var item = bp.bulkdatadetails[i];
                            <tr>
                                <td>@item["email"]</td>
                                <td>@item["name"]</td>
                                <td>@item["mobile"]</td>
                                <td>@item["ProcessBulkcode"]</td>
                                <td>@item["ToAccount"]</td>
                                <td>@item["Amount"]</td>
                                <td>@item["BankCode"]</td>
                                <td>@item["FTType"]</td>  
                            </tr>
                        }
                 </tbody>
           </table>
           </div>
        }   
      <div class="message-info">
      <div>&nbsp</div>
   </div>
        <div>&nbsp</div>
    }