﻿@model TestNAVBAR.Models.CardRequestB

<h4>Card Request Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.CardRequestData bp = new TestNAVBAR.Models.CardRequestData();
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Stop card Request</legend>
         <br /><br />
             <label>Card Account</label>
                @Html.TextBox("requestaccount", @ViewData["cardaccount"])
           <br /><br />
            <label>Reason</label>
            @Html.DropDownList("stopcardreason", bp.StopCardReason, new { @onchange = "ChangeCallback(this.value);" })
            <script type="text/javascript">
                function ChangeCallback(maxCnt) {
                    window.location.href = "/Home/CardDetailReason?id=" + maxCnt;                   
                }
            </script>
         <br /><br />
                 <label>Card Number</label>
                 @Html.TextBox("cardnumber", @ViewData["cardnumber"])
        <br /><br />
          <input type="submit" value="Request" />
     </fieldset>
   </div>
        <div>&nbsp</div>
   }