﻿@model TestNAVBAR.Models.CardRequestB

@{
    ViewBag.Title = "BillPayData";
    string accountdata = Model.cardDetails.bpSelectedAccount;
    string customersdata = Model.cardDetails.bpFtFlag;
    TestNAVBAR.Models.CardRequestData mbp = new TestNAVBAR.Models.CardRequestData();
    //string SelectedUtility = mbp.SelectedUtility;
    FormCollection collection = (FormCollection)ViewData["collection"];
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    
 
}
<div>
@Html.Partial("CardRequestA", Model.cardDetails)
</div>
<div>

@if (customersdata == "" && accountdata != null)
{
    @Html.Partial("CardRequestB", Model)
}
else
{
}

</div>

