﻿@model TestNAVBAR.Models.ChequeBookRequestB

<h4>Full Statement Enquiry Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm("Home", "ChequeBookDetailsPages"))
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ChequeBookData bp = new TestNAVBAR.Models.ChequeBookData();
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Cheque Book Request</legend>

       <br /><br />
            <label>Cheque Account</label>
            @Html.TextBox("chqaccount", @ViewData["chqaccount"])
           
             <br /><br />          
            <label>Number of Leaves</label>
            @Html.DropDownList("numberofpages", bp.ChequeBookPages, new { @onchange = "ChangeCallback(this.value);" })
            <script type="text/javascript">
                function ChangeCallback(maxCnt) {
                    window.location.href = "/Home/ChequeBookDetailsPages?id=" + maxCnt;
                                   }
            </script>
           
           @Html.ValidationMessageFor(m => m.bpFromCHQAccount)
                  <br /><br />
      <input type="submit" value="Transfer" />
      
   </fieldset>
           </div>
        <div>&nbsp</div>

   }