﻿@model TestNAVBAR.Models.ChequeBookRequestB

<h4>Bill Payment DSTV</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     //TestNAVBAR.Models.ChequeBookRequestB bp = new TestNAVBAR.Models.ChequeBookRequestB();
     //TestNAVBAR.Models.ChequeBookData dstv = new TestNAVBAR.Models.ChequeBookData();
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    //<div class="message-info">
     <div class="reallynow">
      <fieldset>
        <legend>Cheque Book Request</legend>
        <ol>
      <li> 
      <label>
       Request Account
      </label>
       @Html.TextBox("requestaccount", @ViewData["chqaccount"])
       <div style="clear: both">
      </div>
      </li>
      <li> 
      <label>
       No. of Leaves
      </label>
       @Html.TextBox("pages", @ViewData["Pages"])
       <div style="clear: both">
      </div>
      </li>
        </ol>
   </fieldset>
  <input type="submit" value="Request" />
   </div>
        <div>&nbsp</div>
   }