﻿@model TestNAVBAR.Models.ChequeBookRequestB

@{
    ViewBag.Title = "BillPayData";
    string accountdata = Model.chequeDetails.bpSelectedAccount;
    string customersdata = Model.chequeDetails.bpFtFlag;
    TestNAVBAR.Models.ChequeBookData mbp = new TestNAVBAR.Models.ChequeBookData();
    string SelectedUtility = mbp.SelectedUtility;
    FormCollection collection = (FormCollection)ViewData["collection"];
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    
 
}
<div>
@Html.Partial("ChequeBookRequestA", Model.chequeDetails)
</div>
<div>

@if (customersdata == "" && accountdata != null)
{
    @Html.Partial("ChequeBookRequestB", Model)
}
else
{
  
}

</div>

