﻿@model TestNAVBAR.Models.Gate
<h4>List samples</h4>
@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ListDatabaseElements model = new TestNAVBAR.Models.ListDatabaseElements();

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    @*for (int i = 0; i < model.ListTellers.Count; ++i)
    {
        var item = model.ListTellers[i];
    
        <tr>
            <td>
                <input type="checkbox" id="@item["userid"]" name="CategoryIds" value="@item["userid"]"
                       @foreach (var c in model.ListTellers) { if (c == @item["userid"]) { <text> checked="checked" </text>     } } />
                <label for="optionId">@item["userid"]></label>
            </td>
        </tr>

    }*@

    if (model.ListTellers != null && model.ListTellers.Count > 0)
    {
        <div class="message-info">
            <table>
                <thead>
                    <tr>
                        <th>
                            Select
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Teller Name
                        </th>
                        <th>
                            Teller ID
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < model.ListTellers.Count; ++i)
                    {
                        var item = model.ListTellers[i];
                        <tr>
                         <td>
                                <input type="checkbox" id="@item["userid"]" name="CategoryIds" value="@item["userid"]"
                                       @foreach (var c in model.ListTellers) { if (c == @item["userid"]) { <text> checked="checked" </text>      } } />
                                @*<label for="optionId">@item["userid"]></label>*@
                            </td>
                            <td>@item["fullname"]</td>
                            <td>@item["tellername"]</td>
                            <td>@item["tellerid"]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="message-info">
        <div>&nbsp</div>
        <input type="submit" value="Pay Bill" />
    </div>
    <div>&nbsp</div>
}