﻿@model TestNAVBAR.Models.PersonalB
@{
    ViewBag.Title = "CustomerDetails";
}
<h4>Customer Details</h4>
<div>
@Html.Partial("Profile",Model.CustDetails)
</div>
<div>
@Html.Partial("AccountList", Model)
</div>