﻿
@{
    ViewBag.Title = "Employee Details";
}

@{
    //Layout = null;
}
@{        
   var grid = new WebGrid(source: Model,
                defaultSort: "FirstName",
                rowsPerPage: 3);
}

<div class="message-info">
<h4>Employee List</h4>
<div id="grid">
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("FirstName"),
            grid.Column("LastName"),
            grid.Column("Salary",format:@<text>$@item.Salary</text>)
        )
    )
    @Html.Action("AccountDetails", "Home")
    @*@{Html.RenderAction("AccountDetails","Home");} *@
@*<div>@Html.Partial("AccountDetails", "");*@
</div>
</div>

</div>