﻿
<h5>Transaction Booking T24</h5>
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Message:</legend>
             <label>Error authorising the transaction.</label>
       </fieldset>
   </div>
        <div>&nbsp</div>
   }
