﻿@model TestNAVBAR.Models.ListDatabaseElements

<h4>List samples</h4>

    @using (Html.BeginForm())
    {
        
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
     List<Dictionary<string, object>> listusers =bp.ListTellers;
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
        if (listusers != null && listusers.Count > 0)
        {
              <div class="message-info">
            <table>
                 <thead>
                    <tr>
                        <th>
                            Select
                        </th>
                         <th>
                            Full Name
                        </th>
                        <th>
                            Teller Name
                        </th>
                        <th>
                           Teller ID
                        </th>
                    </tr>
                </thead>
                 <tbody>
                        @for (int i = 0; i < bp.ListTellers.Count; ++i)
                        {
                            var item = bp.ListTellers[i];
                            <tr>
                            <td>@Html.CheckBox("authoriserecords",new { id = @item["id"] })</td>
                             <td>@item["fullname"]</td>
                             <td>@item["tellername"]</td>
                             <td>@item["tellerid"]</td>
                            </tr>
                        }
                 </tbody>
           </table>
           </div>
        }   
      <div class="message-info">
      <div>&nbsp</div>
  <input type="submit" value="Pay Bill" />
   </div>
        <div>&nbsp</div>
    }