﻿@model TestNAVBAR.Models.extFTA
@using (Html.BeginForm())
    {        
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
     List<Dictionary<string, object>> aclist = bp.AccountDetails;
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
        if (aclist != null && aclist.Count > 0)
        {
              <div class="message-info">
            <table>
                 <thead>
                    <tr>
                         <th>
                           Account No
                        </th>
                        <th>
                            Account Type
                        </th>
                        <th>
                          Currency
                        </th>
                         <th>
                            Ledger Bal
                        </th>
                        <th>
                            Avail Bal
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                 <tbody>
                        @for (int i = 0; i < bp.AccountDetails.Count; ++i)
                        {                             
                            var item = bp.AccountDetails[i];
                            <tr>
                            <td>@Html.ActionLink("Select", "extFTDetails", new { id = item["accountnumber"] })</td>
                             @Html.Hidden("recordid", @item["id"])
                             <td>@item["accountnumber"]</td>
                             <td>@item["accounttype"]</td>
                             <td>@item["accountcurrency"]</td>
                             <td>@item["ledgerbal"]</td>
                             <td>@item["availablebal"]</td>
                             <td>@item["linkedflag"]</td>
                            </tr>
                        }
                 </tbody>
           </table>
           </div>
        }   
      <div class="message-info">
      <div>&nbsp</div>
   </div>
        <div>&nbsp</div>
    }
   
@*
@model TestNAVBAR.Models.extFTA

<h4>Internal FT Details</h4>
<div class="message-info">
@using (Html.BeginForm())
{

    List<string> errors = (List<string>)ViewData["ModelErrors"];
    if (errors != null)
    {
        foreach (var item in errors)
        {

            Html.Encode(item);
        }
    }

    //some code
    <fieldset>
    <legend>Personnel Details @Model.extCurrency</legend>
    <table>
    <tr>
    <th>Action</th>
    <th>Account</th>
    <th>AccountType</th>
    <th>Currency</th>
    <th>LedgerBal</th>
    <th>AvailBal</th>
    <th>AccountStatus</th>
     </tr>
    <tr>
    

    <td>@Html.ActionLink("Select", "extFTDetails", new { id = Model.extAccountNo })</td>
    <td>@Html.DisplayFor(model => model.extAccountNo)</td>
    <td>@Html.DisplayFor(model => model.extCurrency)</td>
    <td>@Html.DisplayFor(model => model.extLedgerBal)</td>
    <td>@Html.DisplayFor(model => model.extAvailBal)</td>
    <td>@Html.DisplayFor(model => model.extAccountStatus)</td>
    </tr>
        </table>  
    
 
     
</fieldset>
}


</div>
<div>&nbsp</div>**@