﻿@model TestNAVBAR.Models.extFTB

@{
    ViewBag.Title = "InternalFTDetails";
    string accountdata = Model.extfsDetails.extSelectedAccount;
    string customersdata = Model.extfsDetails.extFtFlag;
    FormCollection collection = (FormCollection)ViewData["collection"];
    List<string> errors = (List<string>)ViewData["ModelErrors"];
       
}
<div>
@Html.Partial("extFTA", Model.extfsDetails)
</div>
<div>

@if (customersdata == "" && accountdata !=null)
{
    @Html.Partial("extFTB", Model)
}
else
{

}

</div>

