﻿@model TestNAVBAR.Models.extFTB


<h4>Full Statement Enquiry Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    <div class="message-info">
      <fieldset>
        <legend>Full Statement Form</legend>
        <ol>
 
           <br />   <br />
               <label>From Account</label>
               @Html.TextBox("extfromaccount", @ViewData["fromextaccount"])
 
  <br />   <br />          
      
               <label>To Account</label>
               @Html.TextBox("exttoaccount", @ViewData["toextaccount"])
       
      <br />   <br />
               <label>Amount</label>
               @Html.TextBox("extamount", @ViewData["extamount"])
  
   <br />   <br />
               <label>Description</label>
               @Html.TextBox("extdescription", @ViewData["description"])
       
        <br />   <br />
               
             <label>Bank & swiftcode</label>
              @Html.DropDownList("bankswiftcode", bp.Swiftcodes, new { @onchange = "ChangeCallback(this.value);" })
        <br />   <br />

             
                @Html.ValidationMessageFor(m => m.extToAccount)
    
        </ol>
        <input type="submit" value="Transfer" />
   </fieldset>
   </div>
        <div>&nbsp</div>
   }
