﻿@*@model TestNAVBAR.Models.BILLPayAIRTOPUP*@

<h4>Raw OFS Response from T24</h4>

    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>

        <legend>T24 Response</legend>
             <label>T24 Response: @ViewData["t24response"]</label>

   </fieldset>
   </div>
        <div>&nbsp</div>
   }