﻿@model TestNAVBAR.Models.fStatementB
<div class="message-info">
<fieldset>
    <legend>Personnel Details @Model.TransDate</legend>
    <table>
    <tr>
    <th>Trans Date</th>
    <th>Description</th>
    <th>DR</th>
    <th>CR</th>
     </tr>
    <tr>
@*                fstDetails.TransDate = "22-04-2014";
            fstDetails.Description = "Salary Payment";
            fstDetails.DR = 1200;
            fstDetails.CR = 0;*@

    <td>@Html.DisplayFor(model => model.TransDate)</td>
    <td>@Html.DisplayFor(model => model.Description)</td>
    <td>@Html.DisplayFor(model => model.DR)</td>
     <td>@Html.DisplayFor(model => model.CR)</td>
    </tr>
    </table>   
</fieldset>
</div>
<div>&nbsp</div>