﻿
@model TestNAVBAR.Models.fStatementB
@{
    ViewBag.Title = "fStatementDetails";
    string customersdata = Model.fstDetails.FstmtFlag;
    FormCollection collection = (FormCollection)ViewData["collection"];    
}
<h4>Full Statement Details</h4>
<div>
@Html.Partial("fStatementA", Model.fstDetails)
</div>
<div>

@if (customersdata =="")
{
    @Html.Partial("fStatementB", Model)
}
else
{ 
    
}

</div>
