﻿@model TestNAVBAR.Models.InternalFTB

@{
    ViewBag.Title = "InternalFTDetails";
    //string accountdata = Model.internalfsDetails.SelectedAccount;
    //string customersdata = Model.internalfsDetails.internalFtFlag;
    FormCollection collection = (FormCollection)ViewData["collection"];
    List<string> errors = (List<string>)ViewData["ModelErrors"];

    
}



<div>
@Html.Partial("InternalFTA", Model.internalfsDetails)
</div>
<div>

@if (customersdata == "" && accountdata !=null)
{
    @Html.Partial("InternalFTB", Model)
}
else
{

}

</div>

