﻿@model TestNAVBAR.Models.InternalFTB


<h4>Full Statement Enquiry Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Internal Funds Transfer</legend>
        <ol>
 
 <br /> <br />
               <label>From Account</label>
               @Html.TextBox("fromintaccount", @ViewData["fromintaccount"])
        <br /> <br />

               <label>To Account</label>
               @Html.TextBox("tointaccount", @ViewData["tointaccount"])
 
           
  <br /> <br />
               <label>Amount</label>
               @Html.TextBox("intamount",@ViewData["intamount"])

 <br /> <br />
               <label>Description</label>
               @Html.TextBox("description",@ViewData["description"])
     
         <br /> <br />   
                     
 
            <li>
                @Html.ValidationMessageFor(m => m.ToAccount)
            </li>
        </ol>
        <input type="submit" value="Transfer" />
   </fieldset>
   </div>
        <div>&nbsp</div>
   }