﻿@model TestNAVBAR.Models.InternalFTData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@*<head>
    <title>WebgridSample</title>
    <script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <style type="text/css">
        .webGrid { margin: 4px; border-collapse: collapse; width: 500px;  background-color:#FCFCFC;}
        .header { background-color: #C1D4E6; font-weight: bold; color: #FFF; }
        .webGrid th, .webGrid td { border: 1px solid #C0C0C0; padding: 5px; }
        .alt { background-color: #E4E9F5; color: #000; }
        .gridHead a:hover {text-decoration:underline;}
        .description { width:auto}
        .select{background-color: #389DF5}
    </style>
</head>*@
<body>
@{
    
    List<Dictionary<string, object>> AccountList = Model.InternalFTSelectionList;

   //TestNAVBAR.Models.InternalFTA AccountList = new TestNAVBAR.Models.InternalFTData
}
    @{
@*    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow",ajaxUpdateContainerId: "gridContent");
        grid.Pager(WebGridPagerModes.NextPrevious);}*@
@*        WebGrid grid = new WebGrid(Model);  }*@
    var grid = new WebGrid(source: Model,
                defaultSort: "FirstName",
                rowsPerPage: 3);
}

        <div id="gridContent">
        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("Account", format: (item) => item.GetSelectLink(item.Account)),
                grid.Column("AccountType", "AccountType"),
                grid.Column("Currency", "Currency"),
                grid.Column("LedgerBal", "LedgerBal"),
                grid.Column("AvailBal", "AvailBal"),
                grid.Column("Status", "Status")
         )) 
    @if (grid.HasSelection)
    {
        AccountList = (TestNAVBAR.Models.InternalFTA)grid.Rows[grid.SelectedIndex].Value;
             <b>Account</b> @AccountList.AccountNo<br />
             <b>AccountType</b>  @AccountList.Accounttype<br />
             <b>Currency</b> @AccountList.Currency<br />
             <b>LedgerBal</b> @AccountList.LedgerBal<br />
             <b>AvailBal</b> @AccountList.AvailBal<br />
             <b>Status</b> @AccountList.AccountStatus<br />
    }
    </div>     
</body>
</html>

