﻿@model TestNAVBAR.Models.LoanScheduleEnquiryA
<h4>loan Schedule Enquiry Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Loan Schedule Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.LoanNumber)
                 @Html.TextBoxFor(m => m.LoanNumber)
            </li>
            <li>
                @Html.ValidationMessageFor(m => m.LoanNumber)
            </li>
        </ol>
        <input type="submit" value="Request" />
   </fieldset>
   </div>
        <div>&nbsp</div>
    }