﻿@model TestNAVBAR.Models.LoanScheduleEnquiryB
<div class="message-info">
<fieldset>
    <legend>Personnel Details @Model.OpeningBalance</legend>
    <table>
    <tr>
    <th>openingBal </th><div>&nbsp</div>
    <th>Principal</th>
    <th>Interest</th>
    <th>Charges</th>
     <th>ClosingBal</th>
     </tr>
    <tr>

    <td>@Html.DisplayFor(model => model.OpeningBalance)</td>
    <td>@Html.DisplayFor(model => model.Principal)</td>
    <td>@Html.DisplayFor(model => model.Interest)</td>
    <td>@Html.DisplayFor(model => model.Charges)</td>
     <td>@Html.DisplayFor(model => model.ClosingBalance)</td>
    </tr>
    </table>   
</fieldset>
</div>
<div>&nbsp</div>