﻿@model TestNAVBAR.Models.LoanScheduleEnquiryB
@{
    ViewBag.Title = "LoanScheduleDetails";
    string customersdata = Model.LnDetails.LoanFlag;
    FormCollection collection = (FormCollection)ViewData["collection"];    
}
<div>
@Html.Partial("LoanScheduleEnquiryA", Model.LnDetails)
</div>
<div>

@if (customersdata =="")
{
    @Html.Partial("LoanScheduleEnquiryB", Model)
}
else
{ 
    
}

</div>