﻿@*@model TestNAVBAR.Models.extFTB*@


<h4>Ministatement Enquiry Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Full Statement Form</legend>
        <ol>
      <br /><br />
             <label>Account Number</label>
             @Html.TextBox("miniaccountnumber", @ViewData["miniaccountnumber"])
               @Html.Hidden("recordid", @ViewData["recordid"])
         <br /><br />
        <input type="submit" value="Request" />
        </ol>

   </fieldset>
   </div>
        <div>&nbsp</div>
   }