﻿@model TestNAVBAR.Models.mMiniEnquiryB
@{
    ViewBag.Title = "CustomerDetails";
    string customersdata = Model.EnqDetails.MiniFlag;
    FormCollection collection = (FormCollection)ViewData["collection"];    
}
<h4>Mini Statement Details</h4>
<div>
@Html.Partial("vwMiniEnquriyA", Model.EnqDetails)
</div>
<div>

@if (customersdata =="")
{
    @Html.Partial("vwMiniEnquiryB", Model)
}
else
{ 
    
}

</div>