﻿@model TestNAVBAR.Models.mpesaB


<h4>Full Statement Enquiry Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    <div class="message-info">
      <fieldset>
        <legend>Full Statement Form</legend>

           <br />   <br />
               <label>From Account</label>
               @Html.TextBox("extfromaccount", @ViewData["fromextaccount"])
 
              <br /><br />          
      
             <label>Mobile to Credit</label>
              @Html.DropDownList("mobileoption", bp.mobileoptions, new { @onchange = "ChangeCallback(this.value);" })
                          <script type="text/javascript">
                              function ChangeCallback(maxCnt) {
                                  window.location.href = '/Home/MPESALINE/' + maxCnt; // redirect to "/75"
                              }
            </script>

              <br /><br />
               <label>Mobile Number</label>
               @Html.TextBox("exttoaccount", @ViewData["toextaccount"])
       
              <br /><br/>
               <label>Amount</label>
               @Html.TextBox("extamount", @ViewData["extamount"])
  
              <br /><br />
               <label>Description</label>
               @Html.TextBox("extdescription", @ViewData["description"])       
        <br />   <br />              
      
           @Html.ValidationMessageFor(m => m.mpesaToAccount)

        <input type="submit" value="Transfer" />
   </fieldset>
   </div>
        <div>&nbsp</div>
   }
