﻿@model TestNAVBAR.Models.OwnFTB

@{
    ViewBag.Title = "InternalFTDetails";
    string accountdata = Model.ownfsDetails.ownSelectedAccount;
    string customersdata = Model.ownfsDetails.ownFtFlag;
    FormCollection collection = (FormCollection)ViewData["collection"];
    List<string> errors = (List<string>)ViewData["ModelErrors"];

    
}



<div>
@Html.Partial("OwnFTA", Model.ownfsDetails)
</div>
<div>

@if (customersdata == "" && accountdata !=null)
{
    @Html.Partial("OwnFTB", Model)
}
else
{
    ViewData["ModelErrors"] ="Error";
}

</div>

