﻿@model TestNAVBAR.Models.OwnFTB


<h4>Full Statement Enquiry Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
    <div class="message-info">
      <fieldset>
        <legend>Own account details</legend>
            <br /><br />

             <label>From Account</label>
              @Html.TextBox("ownFromAccount", @ViewData["fromaccount"])
            
            <br /><br />

             <label>To Account</label>
              @Html.DropDownList("ownToAccount", bp.ToAccountList, new { @onchange = "ChangeCallback(this.value);" })
            @*     @Html.TextBox("toaccount", @ViewData["toaccount"])*@
            
            <br /><br />

                <label>Amount</label>
                 @Html.TextBox("ownAmount", @ViewData["ownamount"])
          
            <br /><br />

             <label>Description</label>
             @Html.TextBox("ownDescription", @ViewData["description"])
          
           <br /><br />

                @Html.ValidationMessageFor(m => m.ownToAccount)
          
        <input type="submit" value="Transfer" />
   </fieldset>
   </div>
        <div>&nbsp</div>
   }