﻿@model TestNAVBAR.Models.PersonalA
    @using (Html.BeginForm())
    {        
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
     List<Dictionary<string, object>> listusers = bp.CustomerDetails;
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
        if (listusers != null && listusers.Count > 0)
        {
              <div class="message-info">
            <table>
                 <thead>
                    <tr>
                         <th>
                           Account Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                           Phone
                        </th>
                         <th>
                            Password Expiry
                        </th>
                        <th>
                            Last Login
                        </th>
                    </tr>
                </thead>
                 <tbody>
                        @for (int i = 0; i < bp.CustomerDetails.Count; ++i)
                        {
                            var item = bp.CustomerDetails[i];
                            <tr>
                            <td>@item["customernames"]</td>
                             <td>@item["address"]</td>
                             <td>@item["telephonenumbers"]</td>
                             <td>@item["expirydate"]</td>
                             <td>@item["lastlogin"]</td>
                            </tr>
                        }
                 </tbody>
           </table>
           </div>
        }   
      <div class="message-info">
      <div>&nbsp</div>
   </div>
        <div>&nbsp</div>
    }




