﻿@{
    Layout = "~/Views/Shared/_blank.cshtml";
}

<!--amchart Resoureces-->

<!--amchart Resoureces Ends Here-->

@model TestNAVBAR.Models.ListDatabaseElements

@using (Html.BeginForm())
{
    FormCollection collection = (FormCollection)ViewData["collection"];
    TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();

    var results = bp.LoansForReview360xdashboard();
    var res = results.Split('|');
    Session["appliedloans"] = res[0];
    Session["loanspendingreview"] = res[1];
    Session["loansdisuburesd"] = res[2];
    Session["shoppingsummary"] = res[3];
    Session["loansrejected"] = res[4];
    Session["totaldisbursed"] = res[6];
    Session["shoppingdisbursed"] = res[5];
    Session["smsbalance"] = res[8];
    Session["paybillbalance"] = res[7];
    Session["Daily"] = res[9];
    Session["Monthly"] = res[10];
    Session["smsinquiries"] = bp.inquiries();

    List<string>
errors = (List<string>)ViewData["ModelErrors"];
    ViewData["ModelErrors"] = null;
    if (errors != null)
    {
        for (int i = 0; i < errors.Count; ++i)
        {
            var item = errors[i];
            <div class="message-info content-wrapper " style="color:red;border:none;">
                <ul>
                    <li>@Html.Encode(item)</li>
                </ul>

            </div>
        }
    }

}
<div id="load_tweets" style="height:100%; width:100%; overflow: hidden;margin-left: 200px;padding-left:1px">
    @*<p style="font-size:15px;">
        <b>Quick Info Section</b><hr style="width:1200px" />*@
        
    <div style="float: left;  width:100px;height:75px; background-color:blue;margin-right: 60px;">
        <div class="alert alert-danger text-center" style="width:100%;height:100%">
            <i class="fa fa-calendar fa-3x">
            </i>&nbsp;<b><a href="~/Loans/loansapplied360">@Session["appliedloans"]</a></b><br />Newly Applied Loans.

        </div>
    </div>
        <div style="float: left;  width:100px;height:75px; background-color:blue;margin-right: 60px;">
            <div class="alert alert-danger text-center" style="width:100%;height:100%">
                <i class="fa fa-calendar fa-3x">
                </i>&nbsp;<b><a href="~/Loans/loansapplied360">@Session["loanspendingreview"]</a></b><br />Loans Pending Review

            </div>
        </div>

        <div style="float: left; width:100px;height:75px; background-color:blue;margin-right:60px;">
            <div class="alert alert-success text-center" style="width:100%;height:100%">
                <i class="fa  fa-beer fa-3x"></i>&nbsp;<b><a href="">@Session["loansdisuburesd"]</a></b><br />Loans Disbursed
            </div>
        </div>
        <div style="float: left; width:100px;height:75px; background-color:blue;margin-right: 60px;">
            <div class="alert alert-success text-center" style="width:100%;height:100%">
                <i class="fa  fa-beer fa-3x"></i>&nbsp;<b><a href="">@Session["shoppingsummary"]</a></b><br />shopping loan
            </div>
        </div>
        <div style="float: left;  width:100px;height:75px; background-color:blue;margin-right: 60px;">
            <div class="alert alert-info text-center" style="width:100%;height:100%">
                <i class="fa fa-calendar fa-3x">
                </i>&nbsp;<b><a href="">@Session["loansrejected"]</a></b><br />Rejected loans.

            </div>
        </div>

   

        <div style="float: left;  width:100px;height:75px; background-color:blue;margin-right: 60px;">
            <div class="alert alert-danger text-center" style="width:100%;height:100%">
                <i class="fa  fa-beer fa-3x"></i>&nbsp;<b><a href="">@Session["shoppingdisbursed"]</a></b><br />Successful Shopping Loans
            </div>
        </div>
    </div>

<div id="load_tweets" style="height:100%; width:100%; overflow: hidden;margin-left: 200px;padding-left:1px">
    <div style="float: left;  width:100px;height:75px; background-color:blue;margin-right: 60px;">
        <div class="alert alert-info text-center" style="width:100%;height:100%">
            <i class="fa fa-calendar fa-3x">
            </i>&nbsp;<b><a href="#">@Session["Daily"]</a></b><br />Daily charges.

        </div>
    </div>
    <div style="float: left;  width:100px;height:75px; background-color:blue;margin-right: 60px;">
        <div class="alert alert-info text-center" style="width:100%;height:100%">
            <i class="fa fa-calendar fa-3x">
            </i>&nbsp;<b><a href="#">@Session["Monthly"]</a></b><br />Monthly charges.

        </div>
    </div>
    <div style="float: left;  width:100px;height:75px; background-color:blue;margin-right: 60px ; ">
        <div class="alert alert-dark text-center" style="width:100%;height:100%">
            <i class="fa  fa-beer fa-3x"></i>&nbsp;<b><a href="">Ksh:@Session["totaldisbursed"]</a></b><br />Amount Transacted.
        </div>
    </div>
    <div style="float: left;  width:100px;height:75px; background-color:blue;margin-right: 60px;">
        <div class="alert alert-danger text-center" style="width:100%;height:100%">
            <i class="fa fa-calendar fa-3x">
            </i>&nbsp;<b><a href="#">@Session["paybillbalance"]</a></b><br />PayBillBalance.

        </div>
    </div>
    <div style="float: left;  width:100px;height:75px; background-color:blue;margin-right: 60px;">
        <div class="alert alert-info text-center" style="width:100%;height:100%">
            <i class="fa fa-calendar fa-3x">
            </i>&nbsp;<b><a href="#">@Session["smsbalance"]</a></b><br />SMSBalance.

        </div>
    </div>

    <div style="float: left; width:100px;height:75px;">
        <div class="alert alert-dark text-center" style="width:100%;height:100%">
            <i class="fa fa-calendar fa-3x"></i>&nbsp;<b><a href="#"><font size="3">(@Session["smsinquiries"]-&#x2709;)</font></a></b><br />Customer Enquiries.

        </div>




    </div>

