﻿@*@model TestNAVBAR.Models.Date*@


<h4>Full statement criteria</h4>

<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" 
         rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" 
         type="text/javascript"></script>
@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
        TestNAVBAR.Models.Date bp = new TestNAVBAR.Models.Date();
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Full Statement Form</legend>
        <ol>
               <br /><br />
             <label>Account Number</label>
             @Html.TextBox("statementaccountnumber", @ViewData["statementaccountnumber"])
               @Html.Hidden("recordid", @ViewData["recordid"])
 
       <br /><br />
            <div class='editor-field'>
           <label>Start Date</label>
           @Html.EditorFor(model => bp.StartDate)
           @Html.ValidationMessageFor(model => bp.StartDate)       
            </div>
        <br /><br />
            <div class='editor-field'>
           <label>End Date</label>
                @Html.EditorFor(model => bp.EndDate)
                @Html.ValidationMessageFor(model => bp.EndDate)       
            </div>
       <br /><br />
    <script type="text/javascript">
    $(document).ready(function() {
    $('#StartDate').datepicker();
    $('#EndDate').datepicker();
    });
</script>

        </ol>
        <input type="submit" value="Request" />
   </fieldset>
   </div>
        <div>&nbsp</div>
   }