﻿@model TestNAVBAR.Models.StopChequeRequestB

<h4>Card Request Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.StopChequeData bp = new TestNAVBAR.Models.StopChequeData();
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Stop cheque Request</legend>
        <ol>
            <li>
             <label>Card Account</label>
                @Html.TextBox("chequeaccount", @ViewData["chequeaccount"])
                <div style="clear: both">
                </div>
            </li>

             <li>
            <label>Block Reason</label>
                      @Html.TextBox("stopchequereason", @ViewData["stopchequereason"])
            <div style="clear: both">
            </div>
          </li>

            <li>
                 <label>Cheque Number</label>
                 @Html.TextBox("chequenumber", @ViewData["chequenumber"])
                   <div style="clear: both">
                  </div>
            </li>

            <li>
                @Html.ValidationMessageFor(m => m.bpFromAccount)
                
            </li>
        </ol>
   </fieldset>

  <input type="submit" value="Request" />
   </div>
        <div>&nbsp</div>
   }