﻿@model TestNAVBAR.Models.CardRequestB

<h4>Details to Block</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.StopChequeData bp = new TestNAVBAR.Models.StopChequeData();
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Stop cheque Request</legend>
            <br /><br />
             <label>Card Account</label>
                @Html.TextBox("cardaccount", @ViewData["cardaccount"])
          <br /><br />
            <label>Block Reason</label>
                      @Html.TextBox("stopcardreason", @ViewData["stopcardreason"])
          <br /><br />
                 <label>Cheque Number</label>
                 @Html.TextBox("cardnumber", @ViewData["cardnumber"])
          <br /><br />
                @Html.ValidationMessageFor(m => m.bpFromAccount)           
           <br /><br />
             <input type="submit" value="Request" />
   </fieldset>


   </div>
        <div>&nbsp</div>
   }