﻿@model TestNAVBAR.Models.StopChequeRequestB

<h4>Card Request Data</h4>

@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.StopChequeData bp = new TestNAVBAR.Models.StopChequeData();
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info">
      <fieldset>
        <legend>Stop card Request</legend>
       <br /><br />
             <label>Cheque Account</label>
            @Html.TextBox("requestaccount", @ViewData["chequeaccount"])

      <br /><br />
            <label>Block Reason</label>
            @Html.DropDownList("stopcardreason", bp.StopChequeReason, new { @onchange = "ChangeCallback(this.value);" })
            <script type="text/javascript">
                function ChangeCallback(maxCnt) {
                    window.location.href = "/Home/StopChequeReason?id=" + maxCnt;                   
                }
            </script>
       <br /><br />
                 <label>Cheque Number</label>
                 @Html.TextBox("cardnumber", @ViewData["cardnumber"])
                        <br /><br />
                @Html.ValidationMessageFor(m => m.bpFromAccount)
   
    <input type="submit" value="Request" />

   </fieldset>


   </div>
        <div>&nbsp</div>
   }