﻿@model TestNAVBAR.Models.StopChequeRequestB

@{
    ViewBag.Title = "BillPayData";
    string accountdata = Model.stopchqDetails.bpSelectedAccount;
    string customersdata = Model.stopchqDetails.bpFtFlag;
    TestNAVBAR.Models.CardRequestData mbp = new TestNAVBAR.Models.CardRequestData();
    //string SelectedUtility = mbp.SelectedUtility;
    FormCollection collection = (FormCollection)ViewData["collection"];
    List<string> errors = (List<string>)ViewData["ModelErrors"];
    
 
}
<div>
@Html.Partial("StopChequeRequestA", Model.stopchqDetails)
</div>
<div>

@if (customersdata == "" && accountdata != null)
{
    @Html.Partial("StopChequeRequestB", Model)
}
else
{
}

</div>

