﻿@model TestNAVBAR.Models.ListDatabaseElements

<h4>Unuthorised Funds Transfers</h4>

    @using (Html.BeginForm())
    {
        
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
     List<Dictionary<string, object>> listusers = bp.SuccessBulkFT;
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
       if (listusers != null && listusers.Count > 0)
        {
              <div class="message-info">
            <table>
                 <thead>
                    <tr>
                        <th>
                            Select
                        </th>
                         <th>
                            Names
                        </th>
                        <th>
                            Email Address
                        </th>
                        <th>
                           Mobile Number
                        </th>
                         <th>
                            Bulk Code
                        </th>
                        <th>
                            To Account
                        </th>
                         <th>
                            Amount
                        </th>
                       <th>
                            FT-Type
                        </th>
                       <th>
                            Post-Date
                        </th>
                    </tr>
                </thead>
                 <tbody>
                        @for (int i = 0; i < bp.SuccessBulkFT.Count; ++i)
                        {
                            var item = bp.SuccessBulkFT[i];
                       <tr>
                            <td>@Html.CheckBox("authoriserecords", new { id = @item["id"] })</td>
                            @* <td>@Html.ActionLink("Authorise", "AuthorisedRecordFT", new { indata = @item["id"] + "-" + @item["fttype"] })</td>*@
                             <td>@item["Name"]</td>
                             <td>@item["Email"]</td>
                             <td>@item["Mobile"]</td>
                             <td>@item["ProcessBulkCode"]</td>
                             <td>@item["ToAccount"]</td>
                             <td>@item["Amount"]</td>
                             <td>@item["FTType"]</td>
                             <td>@item["transdate"]</td>
                            </tr>
                        }
                 </tbody>
           </table>
           </div>
        }   
      <div class="message-info">
      <div>&nbsp</div>
  <input type="submit" value="Authorise" />
   </div>
        <div>&nbsp</div>
    }