﻿  
<h4 class="content-wrapper">Raw OFS Response from T24</h4>

    @using (Html.BeginForm())
    {
     FormCollection collection = (FormCollection)ViewData["collection"];
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="message-info content-wrapper">
      <fieldset>

        <legend>T24 Response</legend>
             <label style="width:100%">T24 Response: @ViewData["t24response"]</label>

   </fieldset>
   </div>
        <div>&nbsp</div>
   }