﻿@model TestNAVBAR.Models.ListDatabaseElements

<h4>Unuthorised Funds Bills</h4>

    @using (Html.BeginForm())
    {
        
     FormCollection collection = (FormCollection)ViewData["collection"];
     TestNAVBAR.Models.ListDatabaseElements bp = new TestNAVBAR.Models.ListDatabaseElements();
     List<Dictionary<string, object>> listusers =bp.UnauthorisedBills;
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
     
        if (listusers != null && listusers.Count > 0)
        {
              <div class="message-info">
            <table>
                 <thead>
                    <tr>
                        <th>
                            Select
                        </th>
                         <th>
                            DR Account
                        </th>
                        <th>
                            CR Account
                        </th>
                        <th>
                           Currency
                        </th>
                         <th>
                            Amount
                        </th>
                        <th>
                            Narration
                        </th>

                       <th>
                            Bill-Type
                        </th>
                       <th>
                            TransDate
                        </th>
                    </tr>
                </thead>
                 <tbody>
                        @for (int i = 0; i < bp.UnauthorisedBills.Count; ++i)
                        {

                            var item = bp.UnauthorisedBills[i];
                            <tr>
                            <td>@Html.CheckBox("authoriserecords",new { indata = @item["id"] })</td>
                             <td>@Html.ActionLink("Authorise", "AuthorisedRecordBill", new { indata = @item["id"] + "-" + @item["billtype"] })</td>
                             <td>@item["draccount"]</td>
                             <td>@item["craccount"]</td>
                             <td>@item["drcurrency"]</td>
                             <td>@item["transamount"]</td>
                             <td>@item["narration"]</td>
                             <td>@item["billtype"]</td>
                             <td>@item["transdate"]</td>
                            </tr>
                        }
                 </tbody>
           </table>
           </div>
        }   
      <div class="message-info">
      <div>&nbsp</div>
  <input type="submit" value="Authorise" />
   </div>
        <div>&nbsp</div>
    }