﻿@model TestNAVBAR.Models.mMiniEnquiryB

<div class="message-info">
<fieldset>
    <legend>Personnel Details @Model.TransaDate</legend>
    <table>
    <tr>
    <th>Trans Date</th>
    <th>Description</th>
    <th>Money Out</th>
    <th>Money In</th>
     </tr>
    <tr>

    <td>@Html.DisplayFor(model => model.TransaDate)</td>
    <td>@Html.DisplayFor(model => model.Particulars)</td>
    <td>@Html.DisplayFor(model => model.MoneyOut)</td>
     <td>@Html.DisplayFor(model => model.MoneyIn)</td>
    </tr>
    </table>   
</fieldset>
</div>
<div>&nbsp</div>